<nav class="navbar navbar-expand-lg fix-navbar">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav m-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link dropdown" href="#" data-sub="sub-1">Hệ
          thống <span class="sr-only">(current)</span></a>
        <!-- Sub menu 1 -->
        <div class="dropdown-menu" id="sub-1" style="display: block;">
          <div class="submenu-group right">
            <a class="dropdown-item" href="user.html">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              Quản lí <br> user
            </a>
            <a class="dropdown-item" href="#" data-toggle="modal"
              data-target="#form-doi-mat-khau"><img
                src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">đổi <br>
              mật khẩu</a>
            <a class="dropdown-item" href="nhat-ky-nguoi-dung.html"><img
                src="../assets/images/nhat-ky-nguoi-dung.png"
                class="submenu-icon"
                alt="">nhật
              ký <br> người dùng</a>
          </div>
          <a class="dropdown-item" href="#" data-toggle="modal"
            data-target="#thoat-chuong-trinh"><img
              src="../assets/images/phuc-hoi-du-lieu.png" class="submenu-icon"
              alt="">sao
            lưu <br> phục hồi dữ liệu</a>
          <div class="submenu-group left">
            <a class="dropdown-item" href="#" data-toggle="modal"
              data-target="#thoat-chuong-trinh"><img
                src="../assets/images/chuyen-chi-nhanh.png" class="submenu-icon"
                alt="">chuyển <br> chi nhánh</a>
            <a class="dropdown-item pt-13" href="#" data-toggle="modal"
              data-target="#thoat-chuong-trinh"><img
                src="../assets/images/logout.png" class="submenu-icon"
                alt="">log
              off htsoft</a>
            <a class="dropdown-item pt-13" href="#" data-toggle="modal"
              data-target="#thoat-chuong-trinh"><img
                src="../assets/images/close-menu.png" class="submenu-icon"
                alt="">Đóng</a>
          </div>
          <div class="submenu-des">Hệ thống</div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown" href="#" data-sub="sub-2">Cấu hình</a>
        <!-- Sub menu 2 -->
        <div class="dropdown-menu" id="sub-2">
          <a class="dropdown-item" href="nhan-vien.html">
            <img src="../assets/images/nhan-vien.png" class="submenu-icon"
              alt="">
            nhân <br> viên
          </a>
          <a class="dropdown-item" href="khach-hang.html"><img
              src="../assets/images/khach-hang-va-ncc.png" class="submenu-icon"
              alt="">khách hàng <br> và nhà cung cấp</a>
          <div class="submenu-group center">
            <a class="dropdown-item" href="chi-nhanh.html"><img
                src="../assets/images/chi-nhanh.png" class="submenu-icon"
                alt="">chi <br>
              nhánh</a>
            <a class="dropdown-item" href="kho-hang.html"><img
                src="../assets/images/kho-hang.png" class="submenu-icon"
                alt="">kho <br>
              hàng</a>
            <a class="dropdown-item" href="nhom-hang.html"><img
                src="../assets/images/nhom-hang.png" class="submenu-icon"
                alt="">nhóm <br>
              hàng</a>
            <a class="dropdown-item" href="mat-hang.html"><img
                src="../assets/images/mat-hang.png" class="submenu-icon"
                alt="">mặt <br>
              hàng</a>
            <a class="dropdown-item" href="vi-tri-mat-hang.html"><img
                src="../assets/images/vitri-mathang.png" class="submenu-icon"
                alt="">Vị trí <br> mặt hàng<br>
            </a>
            <a class="dropdown-item" href="phieu-ghi-chu.html"><img
                src="../assets/images/phieu-ghi-chu.png" class="submenu-icon"
                alt="">Phiếu <br> ghi chú<br>
            </a>
          </div>
          <div class="submenu-group right">
            <a class="dropdown-item" href="mat-hang-excel.html">
              <img src="../assets/images/mat-hang-excel.png"
                class="submenu-icon"
                alt="">
              nhập mặt hàng <br> từ excel
            </a>
            <a class="dropdown-item" href="in-ma-vach.html">
              <img src="../assets/images/in-ma-vach.png" class="submenu-icon"
                alt="">
              in <br> mã vạch
            </a>
          </div>
          <div class="submenu-group right">
            <a class="dropdown-item" href="ngan-hang.html">
              <img src="../assets/images/ngan-hang.png" class="submenu-icon"
                alt="">
              ngân <br> hàng
            </a>
            <!-- <a class="dropdown-item" href="tien-te.html">
              <img src="../assets/images/tien-te.png" class="submenu-icon"
                alt="">
              tiền <br> tệ
            </a> -->
          </div>
          <div class="submenu-group-all">
            <a class="dropdown-item" href="ly-do.html">
              <img src="../assets/images/ly-do.png" class="submenu-icon"
                alt="">
              lý <br> do
            </a>
            <!-- <a class="dropdown-item" href="ca-lam-viec.html">
              <img src="../assets/images/ca-lam-viec.png" class="submenu-icon"
                alt="">
              ca <br> làm việc
            </a> -->
            <a class="dropdown-item" href="dia-chi.html">
              <img src="../assets/images/dia-chi.png" class="submenu-icon"
                alt="">
              địa <br> chỉ
            </a>
            <a class="dropdown-item" href="#" data-toggle="modal"
              data-target="#tuy-chon">
              <img src="../assets/images/tuy-chon.png" class="submenu-icon"
                alt="">
              tùy <br> chọn
            </a>
          </div>

          <div class="submenu-des">Lập cấu hình danh mục chuẩn</div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown" data-sub="sub-3" href="#">Mua hàng</a>
        <!-- Sub menu 3 -->
        <div class="dropdown-menu" id="sub-3">
          <a class="dropdown-item" href="don-mua-hang.html">
            <img src="../assets/images/don-mua-hang.png" class="submenu-icon"
              alt="">
            Đơn <br> mua hàng
          </a>
          <div class="submenu-group center">
            <a class="dropdown-item" href="phieu-nhap-kho.html"><img
                src="../assets/images/phieu-nhap-kho.png" class="submenu-icon"
                alt="">Phiếu <br> nhập kho</a>
            <a class="dropdown-item" href="hang-mua-tra-lai.html"><img
                src="../assets/images/hang-mua-tra-lai.png" class="submenu-icon"
                alt="">Hàng mua <br> trả lại</a>
          </div>
          <div class="submenu-group-all">
            <!-- <a class="dropdown-item" href="tra-tien-ncc.html"><img
                src="../assets/images/tra-tien-ncc.png" class="submenu-icon"
                alt="">Trả tiền <br> nhà cung cấp</a> -->
            <!-- <a class="dropdown-item" href="ql-gia-von.html"><img
                src="../assets/images/quan-li-gia-von.png" class="submenu-icon"
                alt="">Quản lí <br> giá vốn</a> -->
            <div class="submenu-bctk d-inline position-relative">
              <a class="dropdown-item have-menu-child pt-13" href="#"
                data-menu="bctk1"><img
                  src="../assets/images/bctk.png" class="submenu-icon"
                  alt=""><span>BC_TK</span></a>
              <ul class="menu-child" id="bctk1">
                <li>
                  <a href="so-kho.html">
                    <span class="title">Sổ kho</span>
                    <span class="des">Xem/in xuất, Nhập, Điều chuyển, Tồn hàng
                      hóa</span>
                  </a>
                </li>
                <li>
                  <a href="ton-kho.html">
                    <span class="title">Tồn kho</span>
                    <span class="des">Xem/in hàng hóa tồn kho</span>
                  </a>
                </li>
                <li>
                  <a href="het-hang.html" class="border-bt">
                    <span class="title">Hết hàng</span>
                    <span class="des">Xem/in đã bán hết, ngày bán hết</span>
                  </a>
                </li>
                <!-- <li>
                  <a href="chi-tiet-serial.html">
                    <span class="title">Quản lí Seria,Imei</span>
                    <span class="des">Xem/In Serial/Imei chưa bán, đã bán, ngày
                      nhập, ngày bán</span>
                  </a>
                </li> -->
                <!-- <li>
                  <a href="quan-li-han-the.html">
                    <span class="title">Quản lí hạn thẻ</span>
                    <span class="des">Xem/in các mốc thời gian hết hạn thẻ bảo
                      hành Serial/Imei, số lượng tồn tại từng mốc</span>
                  </a>
                </li> -->
                <!-- <li>
                  <a href="theo-doi-hang-ton.html">
                    <span class="title">Theo dõi hàng tồn</span>
                    <span class="des">Xem/in hàng tồn theo các khoảng thời gian
                      nhập kho</span>
                  </a>
                </li> -->
                <li>
                  <a href="the-kho-chi-tiet.html">
                    <span class="title">Thẻ kho chi tiết</span>
                    <span class="des">Xem/in thẻ kho chi tiết của từng mặt hàng
                      trong từng kho</span>
                  </a>
                </li>
                <li>
                  <a href="bao-cao-mua-hang.html">
                    <span class="title">Báo cáo mua hàng</span>
                    <span class="des">Xem/in chi tiết báo cáo mua hàng trong
                      ngày hoặc theo khoảng thời gian</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="submenu-des">Quản lí mua hàng</div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown" data-sub="sub-4" href="#">Bán hàng</a>
        <!-- Sub menu 4 -->
        <div class="dropdown-menu" id="sub-4">
          <a class="dropdown-item" href="don-dat-hang.html">
            <img src="../assets/images/don-dat-hang.png" class="submenu-icon"
              alt="">
            đơn <br> đặt hàng
          </a>
          <div class="submenu-group center">
            <a class="dropdown-item" href="hoa-don-ban-buon.html"><img
                src="../assets/images/hoa-don-ban-buon-menu.png"
                class="submenu-icon"
                alt="">Hóa đơn <br> bán buôn</a>
            <a class="dropdown-item" href="hoa-don-ban-le.html"><img
                src="../assets/images/hoa-don-ban-le-menu.png"
                class="submenu-icon"
                alt="">Hóa đơn <br> bán lẻ</a>
            <a class="dropdown-item" href="hang-ban-tra-lai.html"><img
                src="../assets/images/hang-ban-tra-lai-menu.png"
                class="submenu-icon"
                alt="">Hàng bán <br> trả lại</a>
          </div>
          <div class="submenu-group-all">
            <a class="dropdown-item" href="thu-tien-khach-hang.html"><img
                src="../assets/images/thu-tien-khach-hang.png"
                class="submenu-icon"
                alt="">Thu tiền <br> khách hàng</a>

            <a class="dropdown-item" href="tinh-gia-ban.html"><img
                src="../assets/images/tinh-gia-ban.png" class="submenu-icon"
                alt="">Tính <br> giá bán</a>
            <!-- <a class="dropdown-item" href="quan-li-khuyen-mai.html"><img
                src="../assets/images/quan-li-khuyen-mai.png"
                class="submenu-icon"
                alt="">Quản lí <br> khuyến mãi</a> -->
            <!-- <a class="dropdown-item" href="quan-li-doanh-so.html"><img
                src="../assets/images/quan-li-doanh-so.png" class="submenu-icon"
                alt="">Quản lí <br> doanh số</a> -->
            <div class="submenu-bctk d-inline position-relative">
              <a class="dropdown-item have-menu-child pt-13" href="#"
                data-menu="bctk1"><img
                  src="../assets/images/bctk.png" class="submenu-icon"
                  alt=""><span>BC_TK</span></a>
              <ul class="menu-child menu-child-bh" id="bctk1">
                <li>
                  <a href="bao-cao-ban-hang.html">
                    <span class="title">Báo cáo bán hàng</span>
                    <span class="des">Xem/in chi tiết báo cáo bán hàng trong
                      ngày hoặc theo khoảng thời gian </span>
                  </a>
                </li>
                <!-- <li>
                  <a href="tong-hop-ban-hang.html">
                    <span class="title">Tổng hợp bán hàng</span>
                    <span class="des">Xem/in báo cáo bán hàng/hàng bán trả lại/
                      thanh toán và công nợ</span>
                  </a>
                </li>
                <li>
                  <a href="thu-chi-chot-ca.html" class="border-bt">
                    <span class="title">Thu - Chi/Chốt ca</span>
                    <span class="des">Xem/in tất cả các khoảng thu, chi(Trả tiền
                      nhà cung cấp, thu tiền khách hàng,...)</span>
                  </a>
                </li> -->
                <!-- <li>
                  <a href="so-cskh.html">
                    <span class="title">Sổ CSKH</span>
                    <span class="des">Xem/In sổ chăm sóc khách hàng theo từng
                      nhân viên xuất bán..
                      nhập, ngày bán</span>
                  </a>
                </li> -->
                <!-- <li>
                  <a href="doanh-thu-theo-nhom.html">
                    <span class="title">Doanh thu theo nhóm hàng</span>
                    <span class="des">Xem/In doanh thu theo nhóm hàng cấp 1, có
                      tính % trên tổng doanh thu</span>
                  </a>
                </li>
                <li>
                  <a href="tang-truong-doanh-so.html">
                    <span class="title">Tăng trưởng doanh số</span>
                    <span class="des">Xem/in tổng hợp so sánh doanh số của các
                      tháng trong năm</span>
                  </a>
                </li> -->
                <li>
                  <a href="loi-nhuan.html">
                    <span class="title">Lợi nhuận</span>
                    <span class="des">Xem/in lợi nhuận theo các khoảng thời
                      gian, chi nhánh bán hàng...</span>
                  </a>
                </li>
                <!-- <li>
                  <a href="cong-no-phai-thu-tra.html">
                    <span class="title">Công nợ phải thu, phải trả</span>
                    <span class="des">Xem/in khách hàng nợ, nợ nhà cung cấp</span>
                  </a>
                </li>
                <li>
                  <a href="cong-no-qua-han.html">
                    <span class="title">Công nợ đến + quá hạn</span>
                    <span class="des">Xem/in công nợ khách hàng, nhà cung cấp
                      đến hoặc quá hạn theo từng hóa đơn..</span>
                  </a>
                </li>
                <li>
                  <a href="doi-chieu-cong-no.html">
                    <span class="title">Đối chiếu công nợ</span>
                    <span class="des">Đối chiếu xuất, nhập, thu, chi, công nợ
                      đầu kỳ, tốn cuối kỳ,...</span>
                  </a>
                </li> -->
                <li>
                  <a href="lich-su-mua-ban.html">
                    <span class="title">Lịch sử mua bán</span>
                    <span class="des">Xem/In lịch sử mua, bán, thu, chi của từng
                      khách hàng theo khoảng thời gian..</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="submenu-des">Quản lí bán hàng</div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown" href="#" data-sub="sub-5">Chuyển kho</a>
        <!-- Chuyển kho -->
        <div class="dropdown-menu" id="sub-5">
          <div class="submenu-group-all">
            <a class="dropdown-item" href="danh-sach-phieu-chuyen-kho.html">
              <img src="../assets/images/nhap-xuat-kho-noi-bo.png"
                class="submenu-icon"
                alt="">
              nhập-xuất <br> kho nội bộ
            </a>
            <div class="submenu-bctk d-inline position-relative">
              <a class="dropdown-item have-menu-child pt-13" href="#"
                data-menu="pck1"><img src="../assets/images/bctk.png"
                  class="submenu-icon" alt=""><span>BC_TK</span></a>
              <ul class="menu-child" id="pck1">
                <li>
                  <a href="bao-cao-chuyen-kho.html">
                    <span class="title">Báo cáo chuyển kho nội bộ</span>
                    <span class="des">Báo cáo chuyển kho nội bộ</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="submenu-des">Xuất nhập kho nội bộ</div>
        </div>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link dropdown" data-sub="sub-6" href="#">KHTT</a>
        <div class="dropdown-menu" id="sub-6">
          <div class="submenu-group-all">
            <a class="dropdown-item" href="khach-hang-than-thiet.html">
              <img src="../assets/images/khach-hang-than-thiet.png"
                class="submenu-icon"
                alt="">
              Khách hàng <br> thân thiết
            </a>
            <a class="dropdown-item" href="quan-li-in-khtt.html">
              <img src="../assets/images/quan-li-in-va-cap-the.png"
                class="submenu-icon"
                alt="">
              QL in và <br> cấp thẻ khtt
            </a>
          </div>
          <div class="submenu-des">Quản lí thông tin khách hàng thân thiết</div>
        </div>
      </li> -->
      <li class="nav-item">
        <a class="nav-link dropdown" data-sub="sub-7" href="#">Quỹ - Ngân Hàng</a>
        <!-- Quỹ - ngân hàng -->
        <div class="dropdown-menu" id="sub-7">
          <div class="submenu-group-all">
            <a class="dropdown-item pt-13" href="" data-toggle="modal"
              data-target="#so-quy">
              <img src="../assets/images/so-quy.png" class="submenu-icon"
                alt="">
              Sổ_Quỹ
            </a>
            <a class="dropdown-item" href="#" data-toggle="modal"
              data-target="#so-ngan-hang">
              <img src="../assets/images/so-ngan-hang.png" class="submenu-icon"
                alt="">
              sổ <br> Ngân Hàng
            </a>
          </div>

          <div class="submenu-group center">
            <a class="dropdown-item" href="phieu-chi.html">
              <img src="../assets/images/phieu-chi.png" class="submenu-icon"
                alt="">
              Phiếu <br> chi
            </a>
            <a class="dropdown-item" href="phieu-thu.html">
              <img src="../assets/images/phieu-thu.png" class="submenu-icon"
                alt="">
              Phiếu <br> thu
            </a>
          </div>
          <div class="submenu-group-all">
            <a class="dropdown-item" href="#" data-toggle="modal"
              data-target="#so-du-quy">
              <img src="../assets/images/so-du-quy.png" class="submenu-icon"
                alt="">
              Sổ dư <br> quỹ
            </a>
            <a class="dropdown-item" href="#" data-toggle="modal"
              data-target="#so-du-ngan-hang">
              <img src="../assets/images/so-du-ngan-hang.png"
                class="submenu-icon"
                alt="">
              sổ dư <br> Ngân Hàng
            </a>
          </div>
          <div class="submenu-des">Sổ quỹ tiền mặt</div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown" data-sub="sub-8" href="#">Báo cáo</a>
        <!-- Báo cáo -->
        <div class="dropdown-menu" id="sub-8">
          <div class="submenu-group-all">
            <a class="dropdown-item" href="thong-ke-bao-cao.html">
              <img src="../assets/images/thong-ke-bao-cao.png"
                class="submenu-icon"
                alt="">
              Thống kê báo cáo <br> tổng hợp
            </a>
          </div>
          <div class="submenu-des">Tổng hợp thống kê, báo cáo</div>
        </div>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link dropdown" data-sub="sub-9" href="#">Cửa sổ</a>
        <div class="dropdown-menu" id="sub-9">
          <div class="submenu-group-all">
            <a class="dropdown-item pt-25" href="#">Biểu tượng</a>
            <a class="dropdown-item pt-25" href="#">Thác nước</a>
            <a class="dropdown-item pt-25" href="#">Tiêu đề dọc</a>
            <a class="dropdown-item pt-25" href="#">Tiêu đề ngang</a>
            <a class="dropdown-item pt-25" href="#">Đóng tất cả các cửa sổ</a>
            <a class="dropdown-item pt-25" href="#">Hiển thị theo TAbs</a>
          </div>
          <div class="submenu-des">Cửa sổ hiển thị</div>
        </div>
      </li> -->
      <li class="nav-item">
        <a class="nav-link dropdown" data-sub="sub-10" href="#">Tiện ích</a>
        <!-- Báo cáo -->
        <div class="dropdown-menu" id="sub-10">
          <div class="submenu-group right">
            <a class="dropdown-item" href="#">
              <img src="../assets/images/gui-tin.png" class="submenu-icon"
                alt="">
              Gửi tin <br> và màn hình cho Mona
            </a>
            <a class="dropdown-item" href="#">
              <img src="../assets/images/ghi-ra-man-hinh.png"
                class="submenu-icon"
                alt="">
              ghi màn hình <br> ra file
            </a>
            <a class="dropdown-item" href="#">
              <img src="../assets/images/may-in.png" class="submenu-icon"
                alt="">
              in màn hình <br> ra máy in
            </a>
          </div>
          <div class="submenu-group-all">
            <a class="dropdown-item" href="#">
              <img src="../assets/images/gui-tap-tin.png" class="submenu-icon"
                alt="">
              gửi file log <br> cho Mona
            </a>
            <a class="dropdown-item" href="#">
              <img src="../assets/images/close-menu.png" class="submenu-icon"
                alt="">
              Xóa <br> Layout Files
            </a>
          </div>
          <div class="submenu-des">Tiện ích</div>
        </div>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link dropdown" data-sub="sub-11" href="#">Trợ giúp</a>
        <div class="dropdown-menu" id="sub-11">
          <div class="submenu-group right">
            <a class="dropdown-item" href="#">
              <img src="../assets/images/tro-giup.png" class="submenu-icon"
                alt="">
              Nội dung <br> trợ giúp
            </a>
            <a class="dropdown-item" href="#">
              <img src="../assets/images/tro-giup-online.png"
                class="submenu-icon"
                alt="">
              Trợ giúp <br> online
            </a>
            <a class="dropdown-item" href="#">
              <img src="../assets/images/thong-tin.png" class="submenu-icon"
                alt="">
              thông tin <br> bản quyền
            </a>
          </div>
          <div class="submenu-group-all">
            <a class="dropdown-item" href="#">
              <img src="../assets/images/gui-email-menu.png"
                class="submenu-icon"
                alt="">
              Gửi <br> email
            </a>
            <a class="dropdown-item pt-13" href="#">
              <img src="../assets/images/teamview.png" class="submenu-icon"
                alt="">
              TeamViewer
            </a>
            <a class="dropdown-item pt-13" href="#">
              <img src="../assets/images/liveupload.png" class="submenu-icon"
                alt="">
              Liveupdate
            </a>
          </div>
          <div class="submenu-des">Trợ giúp</div>
        </div>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link dropdown" data-sub="sub-12" href="#">Add-Ins</a>
        <div class="dropdown-menu" id="sub-12">
          <a class="dropdown-item pt-13" href="#">
            <img src="../assets/images/cross-check.png" class="submenu-icon"
              alt="">
            Cross_Check
          </a>
          <div class="submenu-group left">
            <a class="dropdown-item" href="import-ton-dau-phai-thu.html">
              <img src="../assets/images/ton-dau-phai-thu.png"
                class="submenu-icon"
                alt="">
              Import Tồn đầu <br>
              Công nợ phải thu
            </a>
            <a class="dropdown-item" href="import-ton-dau-phai-tra.html">
              <img src="../assets/images/ton-dau-phai-tra.png"
                class="submenu-icon"
                alt="">
              Import Tồn đầu <br>
              Công nợ phải trả
            </a>
          </div>
          <div class="submenu-des">Add-Ins</div>
        </div>
      </li> -->
    </ul>
  </div>
</nav>
<!-- <div class="wrap-bottom"></div> -->
@@include("../quy-ngan-hang/so-quy.html")
@@include("../quy-ngan-hang/so-ngan-hang.html")
@@include("../quy-ngan-hang/popup/so-du-quy.html")
@@include("../quy-ngan-hang/popup/so-du-ngan-hang.html")
@@include("doi-mat-khau.html")
@@include("thoat-chuong-trinh.html")
@@include("tuy-chon.html")