<!-- Popup Hỏi có muốn chắc chắn không -->
<div class="modal fade defaut-popup" id="question" tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Question</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <img src="../assets/images/question-popup.png" class="inline
                        mr-3"
                        alt="">
                    <span class="inline">Bạn có chắc không?</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>