<!-- Tùy chọn -->
<div class="modal fade default-popup" id="tuy-chon" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Cấu
                    hình</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-white">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab"
                            data-toggle="tab" href="#home"
                            role="tab" aria-controls="home"
                            aria-selected="true">Cài đặt chung</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab"
                            data-toggle="tab" href="#profile"
                            role="tab" aria-controls="profile"
                            aria-selected="false">Báo cáo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab"
                            data-toggle="tab" href="#contact"
                            role="tab" aria-controls="contact"
                            aria-selected="false">Cài đặt khác</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="toan-he-thong-tab"
                            data-toggle="tab" href="#toan-he-thong"
                            role="tab" aria-controls="contact"
                            aria-selected="false">Cài đặt toàn hệ thống</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home"
                        role="tabpanel" aria-labelledby="home-tab">
                        <form action="" class="default-form form-tuy-chon mt-4">
                            <div class="form-group">
                                <label for="">Tên công ty</label>
                                <input type="text">
                            </div>
                            <div class="form-group">
                                <label for="">Logo công ty</label>
                                <input type="text">
                            </div>
                            <div class="form-row mt-5">
                                <div class="col-left col">
                                    <div class="box-shape"></div>
                                </div>
                                <div class="col-right col">
                                    <div class="form-group">
                                        <label for="">Địa chỉ</label>
                                        <input type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Điện thoại</label>
                                        <input type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Fax</label>
                                        <input type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Mã vùng</label>
                                        <input type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Quốc gia</label>
                                        <input type="text">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="profile"
                        role="tabpanel"
                        aria-labelledby="profile-tab">
                        <div class="box-border mt-5">
                            <p class="box-border__title">Tùy chọn cho báo cáo</p>
                            <form action="" class="form-bao-cao">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>In
                                            tên
                                            công ty</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>In
                                            địa
                                            chỉ</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>In
                                            điện thoại công ty</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>In
                                            fax
                                            công ty</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>In
                                            số
                                            tiền bằng chữ</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>In
                                            logo công ty</span>
                                    </label>
                                </div>
                                <div class="form-row">
                                    <input type="file" value="Máy in">
                                </div>
                                <div class="form-row">
                                    <label for="">Ngôn ngữ BC</label>
                                    <select name="" id="" class="ml-3">
                                        <option value="">Tiếng Việt</option>
                                        <option value="">Tiếng Anh</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact"
                        role="tabpanel"
                        aria-labelledby="contact-tab">
                        <div class="box-border mt-5">
                            <p class="box-border__title">Lựa chọn chức năng cảnh
                                báo</p>
                            <form action="" class="form-bao-cao">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>Cảnh
                                            báo mua nợ quá hạn</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>Cảnh
                                            báo bán nợ quá hạn</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>Cảnh
                                            báo hết hàng</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>Cho
                                            phép copy giá trị trên cell của grid</span>
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="toan-he-thong"
                        role="tabpanel"
                        aria-labelledby="toan-he-thong-tab">
                        <div class="box-border mt-5">
                            <p class="box-border__title">Lựa chọn chức năng cảnh
                                báo</p>
                            <form action="" class="form-bao-cao default-form">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>Chiết
                                            khấu thẳng
                                            vào giá khi khuyến mãi</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>Cho
                                            phép sửa số phiếu/ số chứng từ</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>Hiện
                                            thị cột giá ngoại tệ khi nhập xuất</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>Hiện
                                            thì Add-in khi bán buôn/lẻ</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>Tự
                                            động điền số tiền khách đưa
                                            khi thu tiền bán lẻ
                                        </span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="" class="mr-3 col-5">Khóa dữ
                                        liệu đến
                                        ngày</label>
                                    <input type="text" class="choose-date
                                        col-6">
                                </div>
                                <div class="form-group">
                                    <label for="" class="mr-3 col-5">Chỉ được
                                        xem báo
                                        cáo từ ngày
                                        ngày</label>
                                    <input type="text" class="choose-date
                                        col-6">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>