<div class="container-fluid wrap-table-2 table-mat-hang-excel">
    <div class="row">
        <div class="col-md-12">
            <div class="list-button bg-gray text-right">
                <div class="col-left d-flex align-items-center
                    justify-content-start">
                    <p>Tìm Excel Sheets để nhập</p>
                    <select name="" id="">
                        <option value=""></option>
                    </select>
                    <input type=file>
                </div>
                <div class="col-right d-flex
                    justify-content-end">
                    <a href="#" class="btn btn-normal">Nạp lại dữ liệu</a>
                    <a href="#" class="btn btn-normal">Tạo mẫu nhập liệu</a>
                    <div class="btn-group dropup">
                        <button type="button" class="btn btn-secondary
                            dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Advenced
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"
                                data-toggle="modal"
                                data-target="#them-tien-to">Thêm tiền tố hoặc
                                hậu tố và nhân bản mã hàng</a>
                        </div>
                    </div>
                    <a href="#" class="btn btn-save inline"><img
                            src="../assets/images/btn-save.png" alt=""
                            class="inline"><span class="inline">Ghi</span></a>
                    <a href="#" class="btn btn-question
                        inline"><img
                            src="../assets/images/question.png"
                            alt="" class="inline"><span
                            class="inline">Hỏi</span></a>
                    <a href="#" class="btn btn-fix inline"><img
                            src="../assets/images/btn-close.png"
                            alt="" class="inline"><span
                            class="inline">Đóng</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="table-nhom-kh">
        <div class="row">
            <div class="col-md-2">
                <div class="box-dia-chi box-info">
                    <p class="title-head">Danh mục nhóm hàng</p>
                    <div class="content mt-2">
                        <p class="title-list"><img
                                src="../../assets/images/tick.png" alt=""
                                class="inline mr-1"><span class="inline">Nhóm</span>
                        </p>
                        <ul class="list-group">
                            <li>Something - 1</li>
                            <li>Something - 2</li>
                            <li>Something - 3</li>
                            <li>Something - 4</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="wrap-height-table">
                    <table class="table display"
                        id="table-mat-hang" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nhóm</th>
                                <th>Mã nhóm</th>
                                <th>Nhóm cấp</th>
                                <th>Nhóm cấp</th>
                                <th>Nhóm cấp</th>
                                <th>Alias nhỏ</th>
                                <th>Mã hàng</th>
                                <th>Tên hàng</th>
                                <th>Alias mã</th>
                                <th>Đơn vị</th>
                                <th>Mô tả</th>
                                <th>Bảo hành</th>
                                <th>Giá nhập</th>
                                <th>Giá bán 1</th>
                                <th>Giá bán 2</th>
                                <th>Hoa hồng 1</th>
                                <th>Hoa hồng 2</th>
                                <th>Xuất xứ</th>
                                <th>Mã NCC</th>
                                <th>Ghi chú</th>

                            </tr>
                        </thead>


                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade default-popup popup-them-tien-to" id="them-tien-to"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup">Chọn tiêu chí kiểm tra
                    duplicate</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input"
                            name="optradio">Tiền tố
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input"
                            name="optradio">Hậu tố
                    </label>
                </div>
                <p class="mt-2">Tìm Excel Sheets chứa tiền tố hoặc hậu tố</p>
                <div class="box-select">
                    <select name="" id="" class="inline w-80">
                        <option value=""></option>
                    </select>
                    <input type="file" class="btn btn-default inline"
                        placeholder="...">
                </div>
                <table class="table display" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Subfix</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>somethings</td>
                        </tr>
                    </tbody>
                </table>
                <div class="box-button">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"
                                name="optradio">Tự động tạo Alias
                        </label>
                    </div>
                    <button class="btn btn-secondary inline">Tạo mẫu nhập</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>