<div class="container-fluid">
    <div class="row wrap-table-2">
        <div class="col-md-12">
            <p class="title-head text-uppercase"><b>Tồn đầu công nợ phải thu</b></p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <div class="box-select">
                <div class="col-5 p-0 inline">
                    <div class="d-flex
                        justify-content-between align-items-center">
                        <p class="inline">Excel Sheets</p>
                        <select name="" id="" class="inline col-8 p-0 ml-2">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="inline">
                    <button class="btn btn-success inline" style="line-height:
                        1;">...</button>
                    <button class="btn btn-light inline" style="line-height:
                        0;"><img
                            src="../assets/images/loading.png"
                            alt="" class="inline"><span
                            class="inline ml-2">Nạp lại từ excel</span></button>
                </div>
            </div>
            <div class="box-select">
                <div class="col-5 p-0 inline">
                    <div class="d-flex
                        justify-content-between align-items-center">
                        <p class="inline">Người nhập</p>
                        <select name="" id="" class="inline col-8 p-0 ml-2">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end">
            <div class="list-button text-right">
                <a href="#" class="btn btn-export
                    inline"><img
                        src="../assets/images/btn-export.png"
                        alt="" class="inline"><span
                        class="inline">Tạo mẫu nhập liệu</span></a>
                <a href="#" class="btn btn-save inline"><img
                        src="../assets/images/btn-save.png"
                        alt="" class="inline"><span
                        class="inline">Ghi</span></a>
                <a href="#" class="btn btn-del inline"><img
                        src="../assets/images/btn-del.png"
                        alt="" class="inline"><span
                        class="inline">Xóa</span></a>
                <a href="#" class="btn btn-import
                    inline"><img
                        src="../assets/images/btn-import.png"
                        alt="" class="inline"><span
                        class="inline">nạp</span></a>
                <a href="#" class="btn btn-close
                    inline"><img
                        src="../assets/images/btn-close.png"
                        alt="" class="inline"><span
                        class="inline">Đóng</span></a>
            </div>
        </div>
    </div>
    <div class="bg-white p-3 mt-3">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-height-table">
                    <table class="table display table-striped" style="width:
                        100%;" id="table-import-phai-thu">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Mã KH</th>
                                <th>Khách hàng</th>
                                <th>Tổng tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>ABC</td>
                                <td>Test</td>
                                <td>1000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <p class="color-red">
                <i>Chú ý: Chỉ sử dụng form này để import công nợ phải thu
                    khi
                    bắt đầu áp dụng phần mềm. Nếu muốn import lại số dư công
                    nợ
                    phải thu thì trước tiên cần xóa toàn bộ dữ liệu của lần
                    import trước đó</i>
            </p>
        </div>
    </div>
</div>