
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="ql-user user-table wrap-table-pq">
                <div class="user-table__header">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="list-button text-left">
                                <a href="#" class="btn btn-add inline"
                                    data-toggle="modal"
                                    data-target="#them-ca-lam-viec"><img
                                        src="../assets/images/btn-add.png"
                                        alt="" class="inline">
                                    <span class="inline">Thêm</span></a>
                                <a href="#" class="btn btn-fix inline"
                                    data-toggle="modal"
                                    data-target="#form-add-group-user"><img
                                        src="../assets/images/btn-fix.png"
                                        alt="" class="inline"><span
                                        class="inline">Sửa</span></a>
                                <a href="#" class="btn btn-del inline"><img
                                        src="../assets/images/btn-del.png"
                                        alt="" class="inline"><span
                                        class="inline">Xóa</span></a>
                                <a href="#" class="btn btn-fix inline"><img
                                        src="../assets/images/btn-import.png"
                                        alt="" class="inline"><span
                                        class="inline">Nạp</span></a>
                                <a href="#" class="btn btn-export inline"><img
                                        src="../assets/images/btn-export.png"
                                        alt="" class="inline"><span
                                        class="inine">Xuất</span></a>
                                <a href="#" class="btn btn-question
                                    inline"><img
                                        src="../assets/images/question.png"
                                        alt="" class="inline"><span
                                        class="inline">Hỏi</span></a>
                                <a href="#" class="btn btn-close
                                    inline"><img
                                        src="../assets/images/btn-close.png"
                                        alt="" class="inline"><span
                                        class="inline">Đóng</span></a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="wrap-height-table">
                    <table class="table display nowrap table-striped row-border
                        order-column" id="table-lydo" style="width:100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên ca</th>
                                <th>Bắt đầu</th>
                                <th>Kết thúc</th>
                                <th>Ghi chú</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Ca sáng</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Thêm ngân hàng -->
<div class="modal fade default-popup" id="them-ca-lam-viec" tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Lý
                    do</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-5">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="" class="default-form
                                form-them-ngan-hang form-them-clv">
                                <div class="form-group">
                                    <label for="">Tên ca</label>
                                    <input type="text">
                                </div>
                                <div class="box-choose-time">
                                    <p class="mr-2">Từ</p>
                                    <input class="datepicker mr-2"
                                        id="chooseDate_To"
                                        data-date-format="mm/dd/yyyy">
                                    <p class="ml-5 mr-2">Đến</p>
                                    <input class="datepicker mr-2"
                                        id="chooseDate_Form"
                                        data-date-format="mm/dd/yyyy">
                                </div>
                                <div class="form-group">
                                    <label for="">Ghi cú</label>
                                    <textarea name="" id="" cols="30"
                                        rows="3"></textarea>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Thoát</button>

            </div>
        </div>
    </div>
</div>