<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="ql-user user-table">
                <div class="user-table__header">
                    <p>Quản lí user</p>
                </div>
                <div class="wrap-height-table">
                    <table class="table display table-striped table-nsd
                        table-fixed"
                        style="width:
                        100%;">
                        <thead>
                            <tr>
                                <th class="stt">#</th>
                                <th class="name-user">
                                    Tên truy cập

                                </th>
                                <th class="name-full">
                                    Tên đầy đủ

                                </th>
                                <th>
                                    Thuộc nhóm
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-action mt-3">
                    <div class="row">
                        <div class="col-md-5">
                            <!-- Default unchecked -->
                            <div class="custom-control custom-checkbox
                                table-checkbox">
                                <input type="checkbox"
                                    class="custom-control-input"
                                    id="defaultUnchecked">
                                <label class="custom-control-label"
                                    for="defaultUnchecked">Hiển thị cả nhóm
                                    trực
                                    thuộc</label>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="list-button text-right">
                                <a href="#" class="btn btn-add inline"
                                    data-toggle="modal"
                                    data-target="#form-add"><img
                                        src="../assets/images/btn-add.png"
                                        alt="" class="inline"> <span
                                        class="inline">Thêm</span></a>
                                <a href="#" class="btn btn-fix inline"
                                    data-toggle="modal"
                                    data-target="#form-add-group-user"
                                    style="font-weight:
                                    500;"><img
                                        src="../assets/images/btn-fix.png"
                                        alt="" class="inline"><span
                                        class="inline">Sửa</span></a>
                                <a href="#" class="btn btn-fix inline"
                                    data-toggle="modal"
                                    data-target="#form-add-group-user"><img
                                        src="../assets/images/btn-del.png"
                                        alt="" class="inline"><span
                                        class="inline">Xóa</span></a>
                                <a href="#" class="btn btn-fix inline"
                                    data-toggle="modal"
                                    data-target="#form-add-group-user"><img
                                        src="../assets/images/btn-export.png"
                                        alt="" class="inline"><span
                                        class="inline">Xuất</span></a>
                            </div>
                        </div>
                    </div>
                    @@include('../popup-user/form-add-user.html')
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ql-user user-table">
                <div class="user-table__header">
                    <p>Quản lí nhóm user</p>
                </div>
                <div class="wrap-height-table">
                    <table class="table display table-striped table-fixed
                        table-group-user" style="width: 100%;">
                        <thead>
                            <tr>
                                <th class="stt">#</th>
                                <th class="name-user">
                                    Mã nhóm
                                </th>
                                <th class="name-full">
                                    Tên nhóm
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>1</th>
                                <td>An</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th>1</th>
                                <td>An</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th>1</th>
                                <td>An</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th>1</th>
                                <td>An</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th>1</th>
                                <td>An</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th>1</th>
                                <td>An</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th>1</th>
                                <td>An</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th>1</th>
                                <td>An</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th>1</th>
                                <td>An</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th>1</th>
                                <td>An</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th>1</th>
                                <td>An</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th>1</th>
                                <td>An</td>
                                <td>Otto</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-action mt-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="list-button text-right">
                                <a href="#" class="btn btn-add inline"
                                    data-toggle="modal"
                                    data-target="#form-add-group-user"><img
                                        src="../assets/images/btn-add.png"
                                        alt="" class="inline"> <span
                                        class="inline">Thêm</span></a>
                                <a href="#" class="btn btn-fix inline"
                                    data-toggle="modal"
                                    data-target="#form-add-group-user"
                                    style="font-weight:
                                    500;"><img
                                        src="../assets/images/btn-fix.png"
                                        alt="" class="inline"><span
                                        class="inline">Sửa</span></a>
                                <a href="#" class="btn btn-fix inline"
                                    data-toggle="modal"
                                    data-target="#form-add-group-user"><img
                                        src="../assets/images/btn-del.png"
                                        alt="" class="inline"><span
                                        class="inline">Xóa</span></a>
                                <a href="#" class="btn btn-fix inline"
                                    data-toggle="modal"
                                    data-target="#form-add-group-user"><img
                                        src="../assets/images/btn-export.png"
                                        alt="" class="inline"><span
                                        class="inline">Xuất</span></a>
                                <a href="#" class="btn btn-fix inline"><img
                                        src="../assets/images/btn-out.png"
                                        alt="" class="inline"><span
                                        class="inline">Thoát</span></a>
                            </div>
                            @@include('../popup-user/form-add-group-user.html')
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
