@@include('../popup-user/chuc-nang.html')
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="ql-user user-table wrap-table-pq">
                <div class="user-table__header">
                    <div class="row">
                        <div class="col-md-5">
                            <p>Chọn nhóm user</p>
                            <select name="" id="">
                                <option value="">Admin</option>
                                <option value="">Option-2</option>
                                <option value="">Option-3</option>
                                <option value="">Option-4</option>
                                <option value="">Option-5</option>
                            </select>
                        </div>
                        <div class="col-md-7">
                            <div class="list-button text-right">
                                <a href="#" class="btn btn-add inline"
                                    data-toggle="modal"
                                    data-target="#chuc-nang"><img
                                        src="../assets/images/btn-add.png"
                                        alt="" class="inline">
                                    <span class="inline">Thêm</span></a>
                                <a href="#" class="btn btn-fix inline"><img
                                        src="../assets/images/btn-del.png"
                                        alt="" class="inline"><span
                                        class="inline">Xóa</span></a>
                                <a href="#" class="btn btn-fix inline"><img
                                        src="../assets/images/btn-del.png"
                                        alt="" class="inline"><span
                                        class="inline">Xóa tất</span></a>
                                <a href="#" class="btn btn-fix inline"><img
                                        src="../assets/images/btn-export.png"
                                        alt="" class="inline"><span
                                        class="inline">Xuất</span></a>
                                <a href="#" class="btn btn-fix inline"><img
                                        src="../assets/images/btn-save.png"
                                        alt="" class="inline"><span
                                        class="inline">Ghi</span></a>
                                <a href="#" class="btn btn-fix inline"><img
                                        src="../assets/images/btn-close.png"
                                        alt="" class="inline"><span
                                        class="inline">Đóng</span></a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="wrap-height-table">
                    <table class="table display table-hover table-pq">
                        <thead>
                            <tr>
                                <th class="stt">#</th>
                                <th class="name-user">
                                    Mã chức
                                </th>
                                <th class="name-full">
                                    Tên chức năng VN
                                </th>
                                <th><input type="checkbox" name="" id=""> <span>Tìm</span></th>
                                <th><input type="checkbox" name="" id=""> <span>Thêm</span></th>
                                <th><input type="checkbox" name="" id=""> <span>Sửa</span></th>
                                <th><input type="checkbox" name="" id=""> <span>Xóa</span></th>
                                <th><input type="checkbox" name="" id=""> <span>In</span></th>
                                <th><input type="checkbox" name="" id=""> <span>Xuất</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>BC12</td>
                                <td>Sổ kho</td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>BC12</td>
                                <td>Sổ kho</td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>BC12</td>
                                <td>Sổ kho</td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>BC12</td>
                                <td>Sổ kho</td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>BC12</td>
                                <td>Sổ kho</td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>BC12</td>
                                <td>Sổ kho</td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>BC12</td>
                                <td>Sổ kho</td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>BC12</td>
                                <td>Sổ kho</td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>BC12</td>
                                <td>Sổ kho</td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>BC12</td>
                                <td>Sổ kho</td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>BC12</td>
                                <td>Sổ kho</td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>BC12</td>
                                <td>Sổ kho</td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>BC12</td>
                                <td>Sổ kho</td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>BC12</td>
                                <td>Sổ kho</td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                                <td><input type="checkbox" name="" id=""></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="table-action mt-3">
                    <div class="row">
                        <div class="col-md-3">
                            <!-- Default unchecked -->
                            <div class="custom-control custom-checkbox
                                table-checkbox">
                                <input type="checkbox"
                                    class="custom-control-input"
                                    id="choose-all">
                                <label class="custom-control-label"
                                    for="choose-all">Chọn tất cả</label>
                            </div>
                        </div>
                        <div class="col-md-9">

                        </div>
                    </div>
                    @@include('../popup-user/form-add-user.html')
                </div>
            </div>
        </div>
    </div>
</div>
