<!-- Thêm ngân hàng -->
<div class="modal fade default-popup" id="them-ca-lam-viec" tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Lý
                    do</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-5">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="" class="default-form
                                form-them-ngan-hang form-them-clv">
                                <div class="form-group">
                                    <label for="">Tên ca</label>
                                    <input type="text">
                                </div>
                                <div class="box-choose-time">
                                    <p class="mr-2">Từ</p>
                                    <input class="datepicker mr-2"
                                        id="chooseDate_To"
                                        data-date-format="mm/dd/yyyy">
                                    <p class="ml-5 mr-2">Đến</p>
                                    <input class="datepicker mr-2"
                                        id="chooseDate_Form"
                                        data-date-format="mm/dd/yyyy">
                                </div>
                                <div class="form-group">
                                    <label for="">Ghi cú</label>
                                    <textarea name="" id="" cols="30"
                                        rows="3"></textarea>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Thoát</button>

            </div>
        </div>
    </div>
</div>