<!doctype html>
<html lang="vi">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" type="text/css"
      href="../css/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/fonts/Averta/font.css">
    <link rel="stylesheet" type="text/css"
      href="../css/fontawesome/css/all.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/jquery.datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script type="text/javascript" src="../js/moment.js"></script>



    <title>Kim Thành</title>
  </head>
  <body>