<div class="home h-100">
    <div class="row h-100">
        <div class="col-left h-100">
            <div class="content-home h-100">

            </div>
        </div>
        <div class="col-right h-100">
            <div class="content-hd h-100">
                <p class="title">Hướng dẫn sử dụng</p>
                <ul class="list-help">
                    <li>
                        <a href="#">
                            <img src="../assets/images/question.png" alt=""
                                class="inline">
                            <span class="inline">Web trợ
                                giúp</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../assets/images/question.png" alt=""
                                class="inline">
                            <span class="inline">Web trợ
                                giúp</span>
                        </a>
                    </li>
                </ul>
                <form action="" class="form">
                    <input type="text" class="inline">
                    <button type="submit" class="inline"><img
                            src="../assets/images/search.png" alt=""></button>
                </form>
            </div>
        </div>
    </div>
</div>