<div class="container-fluid mt-4 wrap-table-2">
    <div class="row">
        <div class="col-md-2">
            <div class="box-border sidebar-search">
                <p class="box-border__title">Tiêu chí tìm kiếm</p>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab"
                            href="#grid">Grid</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tree">Tree
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="grid">
                        <table class="table w-100 mt-3 table-a">
                            <thead>
                                <tr>
                                    <th>Chi nhánh</th>
                                    <th class="text-center"><input
                                            type="checkbox"><span
                                            class="ml-1">Chọn</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>C-Dự phòng</td>
                                    <td class="text-center"><input
                                            type="checkbox"></td>
                                </tr>
                                <tr>
                                    <td>B-Kho hàng</td>
                                    <td class="text-center"><input
                                            type="checkbox"></td>
                                </tr>
                                <tr>
                                    <td>A-Cửa hàng</td>
                                    <td class="text-center"><input
                                            type="checkbox"></td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table w-100 mt-5 table-a">
                            <thead>
                                <tr>
                                    <th>Mã kho</th>
                                    <th class="text-center">Chọn</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Kho TQB</td>
                                    <td class="text-center"><input
                                            type="checkbox"></td>
                                </tr>
                                <tr>
                                    <td>Cửa hàng</td>
                                    <td class="text-center"><input
                                            type="checkbox"></td>
                                </tr>
                                <tr>
                                    <td>Dự phòng</td>
                                    <td class="text-center"><input
                                            type="checkbox"></td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="form-check-inline mt-2">
                            <label class="form-check-label">
                                <input type="checkbox"
                                    class="form-check-input inline"
                                    value=""><span class="inline">Chọn
                                    tất</span>
                            </label>
                        </div>

                    </div>
                    <div class="tab-pane container fade" id="tree">...</div>
                </div>

                <div class="list-button mt-3">
                    <a href="#" class="btn btn-search d-block
                        inline"><img src="../assets/images/btn-search.png"
                            alt="" class="inline"><span class="inline">Tìm
                            kiếm</span></a>
                    <div class="d-flex justify-content-between
                        align-items-center mt-1">
                        <a href="#" class="btn btn-export col-6
                            inline"><img
                                src="../assets/images/btn-export.png"
                                alt="" class="inline"><span
                                class="inline">Xuất</span></a>
                        <a href="#" class="btn btn-print
                            inline col-6"><img
                                src="../assets/images/btn-print.png"
                                alt="" class="inline"><span
                                class="inline">In</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="content">
                <p class="title-head">Nội dung</p>
            </div>
        </div>
    </div>
</div>