<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="list-button text-left">
                <a href="#" class="btn btn-add inline" data-toggle="modal"
                    data-target="#them-ghi-chu"><img
                        src="../assets/images/btn-add.png" alt=""
                        class="inline">
                    <span class="inline">Thêm ghi chú</span></a>
                <a href="#" class="btn btn-fix inline" data-toggle="modal"
                    data-target="#form-add-group-user"><img
                        src="../assets/images/btn-fix.png" alt=""
                        class="inline"><span class="inline">Sửa</span></a>
                <a href="#" class="btn btn-del inline"><img
                        src="../assets/images/btn-del.png" alt=""
                        class="inline"><span class="inline">Xóa</span></a>
                <a href="#" class="btn btn-export inline"><img
                        src="../assets/images/btn-export.png" alt=""
                        class="inline"><span class="inline">Xuất</span></a>
                <a href="#" class="btn btn-import inline"><img
                        src="../assets/images/btn-import.png" alt=""
                        class="inline"><span class="inline">Nạp</span></a>
                <a href="#" class="btn btn-print inline"><img
                        src="../assets/images/btn-print.png" alt=""
                        class="inline"><span class="inline">In</span></a>
                <a href="#" class="btn btn-close inline"><img
                        src="../assets/images/btn-close.png" alt=""
                        class="inline"><span class="inline">Đóng</span></a>
                <a href="#" class="btn btn-question
                    inline"><img src="../assets/images/question.png" alt=""
                        class="inline"><span class="inline">Hỏi</span></a>
            </div>
        </div>
    </div>

    <div class="bg-white p-3 mt-3">
        <div class="wrap-height-table">
            <table class="table display table-striped" style="width: 100%;"
                id="table-phieu-ghi-chu">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên hàng</th>
                        <th>Mã hàng</th>
                        <th>Alias</th>
                        <th>Ghi chú 1</th>
                        <th>Ghi chú 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing
                            <br>
                            elit. Repudiandae totam quasi atque laborum</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing
                            <br>
                            elit. Repudiandae totam quasi atque laborum</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing
                            <br>
                            elit. Repudiandae totam quasi atque laborum</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing
                            <br>
                            elit. Repudiandae totam quasi atque laborum</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing
                            <br>
                            elit. Repudiandae totam quasi atque laborum</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing
                            <br>
                            elit. Repudiandae totam quasi atque laborum</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing
                            <br>
                            elit. Repudiandae totam quasi atque laborum</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing
                            <br>
                            elit. Repudiandae totam quasi atque laborum</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing
                            <br>
                            elit. Repudiandae totam quasi atque laborum</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing
                            <br>
                            elit. Repudiandae totam quasi atque laborum</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@@include("./popup/them-ghi-chu.html")