<div class="container-fluid wrap-table-2 table-mat-hang p-0">
    <div class="table-nhom-kh">
        <div class="row">
            <div class="col-md-2">
                <div class="box-dia-chi box-info">
                    <p class="title-head">Danh mục nhóm hàng</p>
                    <div class="content mt-2">
                        <p class="title-list"><img
                                src="../../assets/images/tick.png" alt=""
                                class="inline mr-1"><span class="inline">Nhóm</span>
                        </p>
                        <ul class="list-group">
                            <li>Something - 1</li>
                            <li>Something - 2</li>
                            <li>Something - 3</li>
                            <li>Something - 4</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 pl-0">
                <div class="box-title list-button d-flex">
                    <p class="title-head inline">Nhóm hàng</p>
                </div>
                <div class="wrap-height-table-2 bg-white p-2 mt-2 border">
                    <table class="table display table-striped
                        table-tinh-gia-ban">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Mã hàng</th>
                                <th>Tên hàng</th>
                                <th>Tỉ suất lợi nhuận</th>
                                <th>Giá bán lẻ</th>
                                <th>Giá bán buôn</th>
                                <th>Giá nhập</th>
                                <th>Giá bán 1</th>
                                <th>Giá bán 2</th>
                                <th>Giá bán 3</th>
                                <th>Chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>#</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>#</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>#</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="row mt-4">
                    <div class="col-md-5">
                        <p class="title-head">Mặt hàng được chọn để tính giá</p>
                    </div>
                    <div class="col-md-7">
                        <div class="box-button w-100 d-flex
                            justify-content-end
                            align-items-center">
                            <p class="text-center font-weight-bold"><span
                                    style="color:
                                    #ea8c00">Chú ý: đơn vị
                                    tiền là VND</span>
                                <br><span style="color: blue;">Để đặt
                                    giá = 0, hãy nhập số
                                    0,1(không phết một)</span></p>
                            <button class="btn btn-default btn-up-down
                                ml-5"><i class="fas fa-angle-double-down"></i></button>
                            <button class="btn btn-default btn-up-down
                                ml-1"><i class="fas fa-angle-double-up"></i></button>
                            <button class="btn btn-default btn-up-down
                                ml-5"><i class="fal
                                    fa-angle-down"></i></button>
                            <button class="btn btn-default btn-up-down
                                ml-1"><i class="fal
                                    fa-angle-up"></i></button>
                        </div>
                    </div>
                </div>
                <div class="wrap-height-table-2 bg-white p-2 mt-2 border">
                    <table class="table display table-striped
                        table-tinh-gia-ban">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Mã hàng</th>
                                <th>Tên hàng</th>
                                <th>Tỉ suất lợi nhuận</th>
                                <th>Giá bán lẻ</th>
                                <th>Giá bán buôn</th>
                                <th>Giá nhập</th>
                                <th>Giá bán 1</th>
                                <th>Giá bán 2</th>
                                <th>Giá bán 3</th>
                                <th>Chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>#</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>#</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>#</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="col-md-2 pl-0 sidebar-search">
                <div class="box-border">
                    <p class="box-border__title bg-gray">Phương thức tính giá</p>
                    <p class="mb-2">Tăng thêm theo</p>
                    <div class="form-check mb-1">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"
                                value=""><span class="mr-1">Cột tỉ lệ suất lợi
                                nhuận</span>
                        </label>
                    </div>
                    <div class="form-check mb-1 d-flex justify-content-between
                        align-items-center">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"
                                value=""><span
                                class="mr-1">Tỉ lệ </span>
                        </label>
                        <input type="number" class="col-7 p-0">
                    </div>
                    <div class="form-check mb-1 d-flex justify-content-between
                        align-items-center">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"
                                value=""><span class="mr-1">Số tiền</span>
                        </label>
                        <input type="number" class="col-7 p-0">
                    </div>
                    <div class="box-select mb-3
                        mt-3">
                        <p>dựa trên giá</p>
                        <select name="" id="" class="w-100 bg-gray
                            select-gray">
                            <option value="">Giá bán lẻ</option>
                            <option value="">Giá bán buôn</option>
                            <option value="">Giá test</option>
                        </select>
                    </div>
                    <div class="box-select mb-3
                        mt-3 list-button">
                        <p>Để tính giá</p>
                        <select name="" id="" class="w-100 bg-gray
                            select-gray">
                            <option value="">Giá bán lẻ</option>
                            <option value="">Giá bán buôn</option>
                            <option value="">Giá test</option>
                        </select>
                        <a href="#" class="btn mt-3
                            btn-search d-block"><img
                                src="../assets/images/cal.png" alt=""
                                class="inline"><span class="inline">Tính giá bán</span></a>
                    </div>
                </div>
                <div class="box-border mt-4">
                    <p class="box-border__title bg-gray">Import giá Excel</p>
                    <p>Tìm excel sheets để nhập</p>
                    <div class="d-flex justify-content-between
                        align-items-center">
                        <select name="" id="" class="col-10 h-100">
                            <option value="">Excel 1</option>
                            <option value="">Excel 2</option>
                            <option value="">Excel 3</option>
                        </select>
                        <button class="btn btn-default"><img
                                src="../assets/images/paste-excel.png"
                                alt=""></button>
                    </div>
                    <div class="list-button mt-2">
                        <a href="#" class="btn
                            btn-search d-block"><img
                                src="../assets/images/loading.png" alt=""
                                class="inline"><span class="inline">Nạp lại từ
                                Excel</span></a>
                        <a href="#" class="btn
                            btn-search d-block"><img
                                src="../assets/images/btn-export.png" alt=""
                                class="inline"><span class="inline">Tạo mẫu nhập
                                liệu</span></a>
                    </div>
                </div>
                <div class="list-button list-button-last mt-3">
                    <a href="#" class="btn
                        btn-search d-block"><img
                            src="../assets/images/btn-search.png" alt=""
                            class="inline"><span class="inline">Tìm
                            kiếm</span></a>

                    <a href="#" class="btn
                        btn-export mt-1
                        d-block"><img src="../assets/images/btn-export.png"
                            alt="" class="inline"><span class="inline">Xuất</span></a>
                    <a href="#" class="btn btn-print
                        mt-1
                        d-block"><img src="../assets/images/btn-print.png"
                            alt="" class="inline"><span class="inline">In</span></a>
                </div>


            </div>
        </div>
    </div>
</div>

<!-- @@include('popup/them-mat-hang.html') -->