<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab"
                        href="#nguoi-su-dung">Người
                        sử dụng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#phan-quyen">Phân
                        quyền</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane container active" id="nguoi-su-dung">
                </div>
                <div class="tab-pane container fade" id="phan-quyen">...</div>
            </div>
        </div>
    </div>
</div>