<!-- Modal -->
<div class="modal fade default-popup" id="chon-kho" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Chọn
                    kho</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <form action="">
                                <div class="form-group">
                                    <label for="" class="d-block mb-1"><b>Chọn
                                            chi
                                            nhánh</b></label>
                                    <select name="" id="" class="d-block w-100">
                                        <option value="">Kho hàng</option>
                                        <option value="">Cửa hàng</option>
                                        <option value="">Dự phòng</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3">
                                    <label for="" class="d-block mb-1"><b>Chọn
                                            kho</b></label>
                                    <select name="" id="" class="d-block w-100">
                                        <option value="">Dự phòng</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Đóng</button>

            </div>
        </div>
    </div>
</div>