<div class="modal-them-order">

    <div class="modal fade default-popup popup-them-order" id="them-order"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title title-popup"
                        id="exampleModalLongTitle">Thêm/Sửa
                        Order(PO)</h5>
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="list-button text-left">
                                    <a href="#" class="btn btn-save inline"><img
                                            src="../assets/images/btn-save.png"
                                            alt="" class="inline"><span
                                            class="inline">Ghi</span></a>
                                    <a href="#" class="btn btn-print
                                        inline"><img
                                            src="../assets/images/btn-print.png"
                                            alt="" class="inline"><span
                                            class="inline">In</span></a>
                                    <a href="#" class="btn btn-export
                                        inline"><img
                                            src="../assets/images/btn-export.png"
                                            alt="" class="inline"><span
                                            class="inline">Xuất</span></a>
                                    <a href="#" class="btn btn-export
                                        inline"><img
                                            src="../assets/images/btn-import-2.png"
                                            alt="" class="inline"><span
                                            class="inline">Nhập</span></a>
                                    <a href="#" class="btn btn-question
                                        inline"><img
                                            src="../assets/images/question.png"
                                            alt="" class="inline"><span
                                            class="inline">Hỏi</span></a>
                                    <a href="#" class="btn btn-close
                                        inline"><img
                                            src="../assets/images/btn-close.png"
                                            alt="" class="inline"><span
                                            class="inline">Đóng</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid mt-3">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="box-border">
                                    <form action="" class="default-form">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="">Mã NCC</label>
                                                    <input type="text"
                                                        class="col-7 p-0">
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Mã số thuế</label>
                                                    <input type="text"
                                                        class="col-7 p-0">
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Tel</label>
                                                    <input type="text"
                                                        class="col-7 p-0">
                                                </div>
                                            </div>
                                            <div class="col-md-6 pl-0 pr-5">
                                                <div class="form-group">
                                                    <label for="">Tên NCC</label>
                                                    <input type="text"
                                                        class="col-9
                                                        p-0">
                                                    <span class="search-icon
                                                        color-white
                                                        absolute right-30"
                                                        id="button-danh-sach-nv"
                                                        data-toggle="modal"
                                                        data-target="#them-khach-hang">...</span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Đại diện</label>
                                                    <input type="text"
                                                        class="col-9
                                                        p-0">
                                                    <span class="search-icon
                                                        color-white
                                                        absolute right-30"
                                                        id="button-danh-sach-nv"
                                                        data-toggle="modal"
                                                        data-target="#danh-sach-khach-hang"><i
                                                            class="fas
                                                            fa-search"></i></span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Mob</label>
                                                    <input type="text"
                                                        class="col-9
                                                        p-0">
                                                </div>
                                            </div>
                                            <div class="col-md-12 pr-5">
                                                <div class="form-group">
                                                    <label for="">Địa chỉ</label>
                                                    <input type="text"
                                                        class="input-dc">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="">Mã NV</label>
                                                    <input type="text"
                                                        class="col-7 p-0">
                                                </div>
                                            </div>
                                            <div class="col-md-6 pl-0 pr-5">
                                                <div class="form-group">
                                                    <label for="">Tên NV</label>
                                                    <input type="text"
                                                        class="col-9
                                                        p-0">
                                                    <span class="search-icon
                                                        color-white
                                                        absolute right-30"
                                                        id="button-danh-sach-nv"
                                                        data-toggle="modal"
                                                        data-target="#danh-sach-nv">...</span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-md-6">
                                        <div class="box-border">
                                            <p class="box-border__title
                                                bg-gray">
                                                Đơn hàng nội bộ
                                                <div class="box-row">
                                                    <label for="">Gửi tới chi
                                                        nhánh</label>
                                                    <select name="" id=""
                                                        class="col-6 p-0">
                                                        <option value="">A - Kho
                                                            hàng</option>
                                                        <option value="">B - Cửa
                                                            hàng</option>
                                                        <option value="">C - Dự
                                                            phòng</option>
                                                    </select>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="box-row">
                                            <label for=""><b>Lý do</b></label>
                                            <select name="" id=""
                                                class="col-9 p-0">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="box-border h-100">
                                    <form action="" class="default-form">
                                        <div class="form-group">
                                            <label for="">Số phiếu</label>
                                            <input type="text" class="col-7
                                                p-0">
                                        </div>
                                        <div class="form-group">
                                            <label for="">Ngày lập phiếu</label>
                                            <input type="text"
                                                class="choose-date
                                                col-7 p-0">
                                        </div>
                                        <div class="form-group">
                                            <label for="">Ngày nhận hàng</label>
                                            <input type="text"
                                                class="choose-date
                                                col-7 p-0">
                                        </div>
                                        <div class="form-group">
                                            <label for="">Ca làm việc</label>
                                            <select name="" id="" class="col-7
                                                p-0">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Loại tiền</label>
                                            <div class="box
                                                justify-content-between
                                                d-flex align-items-center col-7
                                                p-0">
                                                <select name="" id=""
                                                    class="col-6">
                                                    <option value="">USD</option>
                                                    <option value="">VND</option>
                                                </select>
                                                <input type="text"
                                                    class="col-6">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Hạn TT</label>
                                            <div class="box
                                                justify-content-between
                                                d-flex align-items-center col-7
                                                p-0">
                                                <input type="text" class="col-5
                                                    choose-date">
                                                <p>+</p>
                                                <input type="text"
                                                    class="col-4">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="box-trang-thai">
                                    <p class="title"><b>Trạng thái đơn hàng</b></p>
                                    <select name="" id="" class="w-90 mt-2">
                                        <option value="">Đang thực hiện</option>
                                    </select>
                                    <div class="form-check mt-2">
                                        <label class="form-check-label">
                                            <input type="checkbox"
                                                class="form-check-input"
                                                value=""><span>Đã
                                                chuyển(Shipped)</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="box-border box-ck mt-2">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox"
                                                class="form-check-input"
                                                value=""><span>CK
                                                chuyển theo số tiền</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid mt-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box-border pb-2 pt-2 bg-white">
                                    <div class="row">
                                        <div class="col-md-5 d-flex
                                            align-items-center">
                                            <div class="box-row-under">
                                                <div class="box-form">
                                                    <label for=""
                                                        class="title-nau mr-2">Kho</label>
                                                    <select name="" id="">
                                                        <option value="">Dự
                                                            phòng</option>
                                                    </select>
                                                </div>
                                                <div class="wrap-search box-form
                                                    ml-5 w-100
                                                    position-relative">
                                                    <p class="title-nau mr-2">Tìm
                                                        kiếm mã hàng</p>
                                                    <!--Input Search-->
                                                    <input type="text"
                                                        placeholder="Tìm
                                                        kiếm..."
                                                        class="pl-2
                                                        global_filter
                                                        click-to-show-table"
                                                        id="global_filter">
                                                    <!-- Table -->
                                                    <div class="table-search
                                                        big">
                                                        <div
                                                            class="wrap-height-table-2">
                                                            <table class="table
                                                                display
                                                                table-striped"
                                                                id="table-search-mahang">
                                                                <thead>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>Mã
                                                                            hàng</th>
                                                                        <th>Tên
                                                                            hàng</th>
                                                                        <th>Alias</th>
                                                                        <th>Mô
                                                                            tả</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>Test
                                                                            a</td>
                                                                        <td>Test</td>
                                                                        <td>Test</td>
                                                                        <td>Đây
                                                                            là
                                                                            mô
                                                                            tả</td>
                                                                        <td><button
                                                                                class="btn
                                                                                btn-success
                                                                                btn-choose-mh">Chọn</button></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>Test
                                                                            b</td>
                                                                        <td>Test</td>
                                                                        <td>Test</td>
                                                                        <td>Đây
                                                                            là
                                                                            mô
                                                                            tả</td>
                                                                        <td><button
                                                                                class="btn
                                                                                btn-success
                                                                                btn-choose-mh">Chọn</button></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>Test
                                                                            b</td>
                                                                        <td>Test</td>
                                                                        <td>Test</td>
                                                                        <td>Đây
                                                                            là
                                                                            mô
                                                                            tả</td>
                                                                        <td><button
                                                                                class="btn
                                                                                btn-success
                                                                                btn-choose-mh">Chọn</button></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>ABCD</td>
                                                                        <td>Test</td>
                                                                        <td>Test</td>
                                                                        <td>Đây
                                                                            là
                                                                            mô
                                                                            tả</td>
                                                                        <td><button
                                                                                class="btn
                                                                                btn-success
                                                                                btn-choose-mh">Chọn</button></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>BCD</td>
                                                                        <td>Test</td>
                                                                        <td>Test</td>
                                                                        <td>Đây
                                                                            là
                                                                            mô
                                                                            tả</td>
                                                                        <td><button
                                                                                class="btn
                                                                                btn-success
                                                                                btn-choose-mh">Chọn</button></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>Test</td>
                                                                        <td>Test</td>
                                                                        <td>Test</td>
                                                                        <td>Đây
                                                                            là
                                                                            mô
                                                                            tả</td>
                                                                        <td><button
                                                                                class="btn
                                                                                btn-success
                                                                                btn-choose-mh">Chọn</button></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>Test</td>
                                                                        <td>Test</td>
                                                                        <td>Test</td>
                                                                        <td>Đây
                                                                            là
                                                                            mô
                                                                            tả</td>
                                                                        <td><button
                                                                                class="btn
                                                                                btn-success
                                                                                btn-choose-mh">Chọn</button></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>Test</td>
                                                                        <td>Test</td>
                                                                        <td>Test</td>
                                                                        <td>Đây
                                                                            là
                                                                            mô
                                                                            tả</td>
                                                                        <td><button
                                                                                class="btn
                                                                                btn-success
                                                                                btn-choose-mh">Chọn</button></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>Test</td>
                                                                        <td>Test</td>
                                                                        <td>Test</td>
                                                                        <td>Đây
                                                                            là
                                                                            mô
                                                                            tả</td>
                                                                        <td><button
                                                                                class="btn
                                                                                btn-success
                                                                                btn-choose-mh">Chọn</button></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>Test</td>
                                                                        <td>Test</td>
                                                                        <td>Test</td>
                                                                        <td>Đây
                                                                            là
                                                                            mô
                                                                            tả</td>
                                                                        <td><button
                                                                                class="btn
                                                                                btn-success
                                                                                btn-choose-mh">Chọn</button></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div
                                                            class="table-search__footer
                                                            text-right">
                                                            <button class="btn
                                                                btn-primary
                                                                btn-out-table-search">Thoát</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7 d-flex
                                            justify-content-start
                                            align-items-center">
                                            <ul class="list-icon-button mb-0">
                                                <li><i class="fas
                                                        fa-angle-down"></i></li>
                                                <li><i class="fas fa-angle-up"></i></li>
                                                <li title="Nhập nhanh mặt hàng
                                                    theo Barcode(Color/size)"
                                                    data-toggle="modal"
                                                    data-target="#tim-kiem-mat-hang"><img
                                                        src="../assets/images/typing.png"
                                                        alt=""></li>
                                                <li title="Tìm nhanh chi tiết
                                                    phiếu"><img
                                                        src="../assets/images/search-nhanh.png"
                                                        alt=""></li>
                                                <li title="Thêm mặt hàng"
                                                    data-toggle="modal"
                                                    data-target="#chon-mat-hang"><img
                                                        src="../assets/images/btn-hangtralai.png"
                                                        alt=""></li>
                                            </ul>
                                            <div class="list-button">
                                                <a href="#" class="btn
                                                    btn-export
                                                    inline" title="Paste từ
                                                    excel sử dụng mã hàng"><img
                                                        src="../assets/images/paste-excel.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Paste</span></a>
                                                <a href="#" class="btn
                                                    btn-export
                                                    inline" title="Paste từ dấu
                                                    text có dấu phân tách(, hoặc
                                                    ;)" data-toggle="modal"
                                                    data-target="#them-mat-hang"><img
                                                        src="../assets/images/icon-list.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Paste</span></a>
                                                <a href="#" class="btn btn-tick
                                                    inline" data-toggle="modal"
                                                    data-target="#chon-kho"><img
                                                        src="../assets/images/btn-tick.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Check
                                                        Inventory</span></a>

                                                <a href="#" class="btn btn-tick
                                                    inline"><img
                                                        src="../assets/images/btn-tick.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Check
                                                        sale</span></a>

                                                <a href="#" class="btn btn-tick
                                                    inline" data-toggle="modal"
                                                    data-target="#danh-sach-khuyen-mai"><img
                                                        src="../assets/images/promotion.png"
                                                        alt="" class="inline"><span
                                                        class="inline">List KM</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap-box-border bg-white position-relative
                            mt-3">
                            <p class="title-special">Chi tiết phiếu</p>
                            <div class="box-border p-2" style="border: none;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="wrap-height-table-2">
                                            <table class="display table
                                                table-striped"
                                                style="width: 100%;"
                                                id="table-chi-tiet-phieu">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Mã hàng</th>
                                                        <th>Tên hàng</th>
                                                        <th>Kho</th>
                                                        <th>Số lượng</th>
                                                        <th>Đơn vị</th>
                                                        <th>SL chưa xuất</th>
                                                        <th>SL tồn</th>
                                                        <th>SL tồn khác</th>
                                                        <th>SL bán</th>
                                                        <th>Đơn giá(%)</th>
                                                        <th>Thuế(%)</th>
                                                        <th>CK(%)</th>
                                                        <th>Thành tiền</th>
                                                        <th>Ghi chú</th>
                                                        <th>Đơn giá 2</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4 row-last">
                            <div class="col-md-6 d-flex justify-content-center
                                align-items-center">
                                <div class="list-button">
                                    <a href="#" class="btn btn-export
                                        inline" data-toggle="modal"
                                        data-target="#danh-sach-mat-hang"><img
                                            src="../assets/images/them-mat-hang.png"
                                            alt="" class="inline"><span
                                            class="inline">Thêm
                                            mặt hàng</span></a>
                                    <a href="#" class="btn btn-export
                                        inline"><img
                                            src="../assets/images/cong-no.png"
                                            alt="" class="inline"><span
                                            class="inline">Công nợ</span></a>
                                    <a href="#" class="btn btn-export
                                        inline" data-toggle="modal"
                                        data-target="#lich-su-khach-mua"><img
                                            src="../assets/images/history.png"
                                            alt="" class="inline"><span
                                            class="inline">Lịch sử khách mua</span></a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="final">
                                    <p class="mr-2">Ghi chú</p>
                                    <textarea class="mr-4" name="" id=""
                                        cols="30" rows="4"></textarea>
                                    <ul class="final-list">
                                        <li>Tiền hàng</li>
                                        <li>Thuế</li>
                                        <li>Chiết khấu</li>
                                        <li>Tổng tiền</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Lưu</button>
                    <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>


</div>
@@include("danh-sach-mat-hang.html")
@@include("../../mat-hang/popup/them-mat-hang.html")
@@include("../../chinhanh/popup/danh-sach-khach-hang.html")
@@include("../../khachhang/popup/them-khach-hang.html")
@@include("../../nhanvien/popup/danh-sach-nhan-vien.html")
@@include("../../in-ma-vach/popup/tim-kiem-mat-hang.html")
@@include("chon-mat-hang.html")
@@include("chon-kho.html")
@@include("danh-sach-khuyen-mai.html")
@@include("lich-su-khach-mua.html")