<div class="modal fade default-popup popup-chiet-khau" id="chiet-khau"
    tabindex="-1"
    role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Danh
                    mục nhóm khách hàng</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-white">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-border mt-4">
                                <p class="box-border__title">Chiết khấu
                                    trên hóa
                                    đơn</p>
                                <div class="box-border mt-3">
                                    <p class="box-border__title">Loại
                                        tiền chiết
                                        khấu</p>
                                    <div class="row-checkbox mt-2">
                                        <ul class="nav nav-tabs" id="myTab"
                                            role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active"
                                                    id="home-tab"
                                                    data-toggle="tab"
                                                    href="#phan-tram" role="tab"
                                                    aria-controls="home"
                                                    aria-selected="true">Chiết
                                                    khấu theo phần trăm (%)</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link"
                                                    id="profile-tab"
                                                    data-toggle="tab"
                                                    href="#so-tien" role="tab"
                                                    aria-controls="profile"
                                                    aria-selected="false">Chiết
                                                    khấu theo số tiền</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content"
                                            id="myTabContent">
                                            <div class="tab-pane fade show
                                                active pt-3" id="phan-tram"
                                                role="tabpanel"
                                                aria-labelledby="home-tab">
                                                <p><b>Phần trăm(%)</b></p>
                                                <input type="text"
                                                    class="input-chietkhau
                                                    mt-3">
                                            </div>
                                            <div class="tab-pane fade pt-3"
                                                id="so-tien" role="tabpanel"
                                                aria-labelledby="profile-tab">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <p><b>Số tiền($)</b></p>
                                                            <input type="text"
                                                                class="input-chietkhau
                                                                mt-3">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div
                                                                class="box-border">
                                                                <div
                                                                    class="form-check">
                                                                    <label
                                                                        class="form-check-label">
                                                                        <input
                                                                            type="checkbox"
                                                                            class="form-check-input"
                                                                            value=""><span>Cho
                                                                            tổng
                                                                            hóa
                                                                            đơn</span>
                                                                    </label>
                                                                </div>
                                                                <div
                                                                    class="form-check">
                                                                    <label
                                                                        class="form-check-label">
                                                                        <input
                                                                            type="checkbox"
                                                                            class="form-check-input"
                                                                            value=""><span>Cho
                                                                            từng
                                                                            mã
                                                                            hàng</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Đồng ý</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Hủy bỏ</button>
            </div>
        </div>
    </div>
</div>