<div class="modal fade default-popup popup-don-vi-tinh" id="danh-muc-xuat-xu"
    tabindex="-1"
    role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Danh
                    mục xuất xứ</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="list-button text-left">
                                <a href="#" class="btn btn-add inline"
                                    data-toggle="modal"
                                    data-target="#them-dmxx"><img
                                        src="../../../assets/images/btn-add.png"
                                        alt="" class="inline">
                                    <span class="inline">Thêm</span></a>
                                <a href="#" class="btn btn-fix inline"
                                    data-toggle="modal"
                                    data-target="#them-dvt"><img
                                        src="../../../assets/images/btn-fix.png"
                                        alt="" class="inline"><span
                                        class="inline">Sửa</span></a>
                                <a href="#" class="btn btn-fix inline"><img
                                        src="../../../assets/images/btn-del.png"
                                        alt="" class="inline"><span
                                        class="inline">Xóa</span></a>
                                <a href="#" class="btn btn-fix inline"><img
                                        src="../../../assets/images/btn-import.png"
                                        alt="" class="inline"><span
                                        class="inline">Nạp</span></a>
                                <a href="#" class="btn btn-fix inline"><img
                                        src="../../../assets/images/btn-export.png"
                                        alt="" class="inline"><span
                                        class="inline">Xuất</span></a>
                                <a href="#" class="btn btn-question
                                    inline"><img
                                        src="../../../assets/images/question.png"
                                        alt="" class="inline"><span
                                        class="inline">Hỏi</span></a>
                                <a href="#" class="btn btn-fix inline"><img
                                        src="../../../assets/images/btn-close.png"
                                        alt="" class="inline"><span
                                        class="inline">Đóng</span></a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table class="display table table-striped"
                                style="width: 100%;" id="table-xuat-xu">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Kênh khách hàng</th>
                                        <th>Mô tả</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Kênh khách hàng</td>
                                        <td>Bên</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade default-popup popup-top" id="them-dmxx" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Thêm
                    danh mục xuất xứ</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-border mt-4">
                                <p class="box-border__title bg-gray">Thông tin
                                </p>
                                <form action="" class="default-form">
                                    <div class="form-group">
                                        <label for="">Tên </label>
                                        <input type="text" class="col-8 p-0">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Mô tả</label>
                                        <input type="text" class="col-8 p-0">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>