<div class="modal fade default-popup popup-them-ghi-chu" id="them-ghi-chu"
    tabindex="-1"
    role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Thêm
                    ghi chú</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-search-gc w-100">
                                <p><b>Tìm mặt hàng cần thêm ghi
                                        chú</b></p>
                                <div class="wrap-search w-100 mt-2
                                    position-relative">
                                    <!--Input Search-->
                                    <input type="text" placeholder="Tìm kiếm..."
                                        class="w-100 pl-2 global_filter
                                        click-to-show-table"
                                        id="global_filter">
                                    <!-- Table -->
                                    <div class="table-search">
                                        <div class="wrap-height-table-2">
                                            <table class="table display
                                                table-striped"
                                                id="table-them-ghi-chu">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Tên hàng</th>
                                                        <th>Mã hàng</th>
                                                        <th>Alias</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Test a</td>
                                                        <td>Test</td>
                                                        <td>Test</td>
                                                        <td><button class="btn
                                                                btn-success
                                                                btn-choose-mh">Chọn</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Test b</td>
                                                        <td>Test</td>
                                                        <td>Test</td>
                                                        <td><button class="btn
                                                                btn-success
                                                                btn-choose-mh">Chọn</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Test b</td>
                                                        <td>Test</td>
                                                        <td>Test</td>
                                                        <td><button class="btn
                                                                btn-success
                                                                btn-choose-mh">Chọn</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>ABCD</td>
                                                        <td>Test</td>
                                                        <td>Test</td>
                                                        <td><button class="btn
                                                                btn-success
                                                                btn-choose-mh">Chọn</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>BCD</td>
                                                        <td>Test</td>
                                                        <td>Test</td>
                                                        <td><button class="btn
                                                                btn-success
                                                                btn-choose-mh">Chọn</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Test</td>
                                                        <td>Test</td>
                                                        <td>Test</td>
                                                        <td><button class="btn
                                                                btn-success
                                                                btn-choose-mh">Chọn</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Test</td>
                                                        <td>Test</td>
                                                        <td>Test</td>
                                                        <td><button class="btn
                                                                btn-success
                                                                btn-choose-mh">Chọn</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Test</td>
                                                        <td>Test</td>
                                                        <td>Test</td>
                                                        <td><button class="btn
                                                                btn-success
                                                                btn-choose-mh">Chọn</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Test</td>
                                                        <td>Test</td>
                                                        <td>Test</td>
                                                        <td><button class="btn
                                                                btn-success
                                                                btn-choose-mh">Chọn</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Test</td>
                                                        <td>Test</td>
                                                        <td>Test</td>
                                                        <td><button class="btn
                                                                btn-success
                                                                btn-choose-mh">Chọn</button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="table-search__footer
                                            text-right">
                                            <button class="btn btn-primary
                                                btn-out-table-search">Thoát</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mt-3">
                            <div class="box-info-mh">
                                <p><b>Mã hàng:</b> ABC</p>
                                <p><b>Tên hàng:</b> ABC</p>
                                <p><b>Alias:</b> ABC</p>
                            </div>
                            <div class="box-text">
                                <p>Ghi chú 1</p>
                                <textarea name="" id="" cols="3" rows="3"
                                    class="w-100"></textarea>
                            </div>
                            <div class="box-text mt-3">
                                <p>Ghi chú 2</p>
                                <textarea name="" id="" cols="3" rows="3"
                                    class="w-100"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Thêm</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>