
<!doctype html>
<html lang="vi">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" type="text/css"
      href="../css/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/fonts/Averta/font.css">
    <link rel="stylesheet" type="text/css"
      href="../css/fontawesome/css/all.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/jquery.datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script type="text/javascript" src="../js/moment.js"></script>



    <title>Kim Thành</title>
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-light fix-navbar">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav m-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link dropdown" href="#" data-sub="sub-1">Hệ
          thống <span class="sr-only">(current)</span></a>
        <!-- Sub menu 1 -->
        <div class="dropdown-menu" id="sub-1" style="display: block;">
          <div class="submenu-group right">
            <a class="dropdown-item" href="user.html">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              Quản lí user
            </a>
            <a class="dropdown-item" href="#" data-toggle="modal"
              data-target="#form-doi-mat-khau"><img
                src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">đổi
              mật khẩu</a>
            <a class="dropdown-item" href="nhat-ky-nguoi-dung.html"><img
                src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">nhật
              ký người dùng</a>
          </div>
          <a class="dropdown-item" href="#" data-toggle="modal"
            data-target="#thoat-chuong-trinh"><img
              src="../assets/images/change-pass.png" class="submenu-icon"
              alt="">sao
            lưu phục hồi dữ liệu</a>
          <div class="submenu-group left">
            <a class="dropdown-item" href="#" data-toggle="modal"
              data-target="#thoat-chuong-trinh"><img
                src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">chuyển chi nhánh</a>
            <a class="dropdown-item" href="#" data-toggle="modal"
              data-target="#thoat-chuong-trinh"><img
                src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">log
              off htsoft</a>
            <a class="dropdown-item" href="#" data-toggle="modal"
              data-target="#thoat-chuong-trinh"><img
                src="../assets/images/close-menu.png" class="submenu-icon"
                alt="">Đóng</a>
          </div>
          <div class="submenu-des">Hệ thống</div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown" href="#" data-sub="sub-2">Cấu hình</a>
        <!-- Sub menu 2 -->
        <div class="dropdown-menu" id="sub-2">
          <a class="dropdown-item" href="nhan-vien.html">
            <img src="../assets/images/user.png" class="submenu-icon" alt="">
            nhân <br> viên
          </a>
          <a class="dropdown-item" href="khach-hang.html"><img
              src="../assets/images/change-pass.png" class="submenu-icon"
              alt="">khách hàng <br> và nhà cung cấp</a>
          <div class="submenu-group center">
            <a class="dropdown-item" href="chi-nhanh.html"><img
                src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">chi <br>
              nhánh</a>
            <a class="dropdown-item" href="kho-hang.html"><img
                src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">kho <br>
              hàng</a>
            <a class="dropdown-item" href="nhom-hang.html"><img
                src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">nhóm <br>
              hàng</a>
            <a class="dropdown-item" href="mat-hang.html"><img
                src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">mặt <br>
              hàng</a>
          </div>
          <div class="submenu-group right">
            <a class="dropdown-item" href="mat-hang-excel.html">
              <img src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">
              nhập mặt hàng <br> từ excel
            </a>
            <a class="dropdown-item" href="in-ma-vach.html">
              <img src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">
              in <br> mã vạch
            </a>
          </div>
          <div class="submenu-group right">
            <a class="dropdown-item" href="ngan-hang.html">
              <img src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">
              ngân <br> hàng
            </a>
            <a class="dropdown-item" href="tien-te.html">
              <img src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">
              tiền <br> tệ
            </a>
          </div>
          <div class="submenu-group-all">
            <a class="dropdown-item" href="ly-do.html">
              <img src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">
              lý <br> do
            </a>
            <a class="dropdown-item" href="ca-lam-viec.html">
              <img src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">
              ca <br> làm việc
            </a>
            <a class="dropdown-item" href="dia-chi.html">
              <img src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">
              địa <br> chỉ
            </a>
            <a class="dropdown-item" href="#" data-toggle="modal"
              data-target="#tuy-chon">
              <img src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">
              tùy <br> chọn
            </a>
          </div>

          <div class="submenu-des">Lập cấu hình danh mục chuẩn</div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown" data-sub="sub-3" href="#">Mua hàng</a>
        <!-- Sub menu 3 -->
        <div class="dropdown-menu" id="sub-3">
          <a class="dropdown-item" href="don-mua-hang.html">
            <img src="../assets/images/user.png" class="submenu-icon" alt="">
            Đơn mua hàng
          </a>
          <div class="submenu-group center">
            <a class="dropdown-item" href="phieu-nhap-kho.html"><img
                src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">Phiếu nhập kho</a>
            <a class="dropdown-item" href="hang-mua-tra-lai.html"><img
                src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">Hàng mua trả lại</a>
          </div>
          <div class="submenu-group-all">
            <a class="dropdown-item" href="tra-tien-ncc.html"><img
                src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">Trả tiền nhà cung cấp</a>
            <a class="dropdown-item" href="quan-li-gia-von.html"><img
                src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">Quản lí giá vốn</a>
            <a class="dropdown-item" href="#"><img
                src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">BC_TK</a>
          </div>
          <div class="submenu-des">Quản lí mua hàng</div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown" data-sub="sub-4" href="#">Bán hàng</a>
        <!-- Sub menu 4 -->
        <div class="dropdown-menu" id="sub-4">
          <a class="dropdown-item" href="#">
            <img src="../assets/images/user.png" class="submenu-icon" alt="">
            đơn đặt hàng
          </a>
          <div class="submenu-group center">
            <a class="dropdown-item" href="#"><img
                src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">Hóa đơn bán buôn</a>
            <a class="dropdown-item" href="#"><img
                src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">Hóa đơn bán lẻ</a>
            <a class="dropdown-item" href="#"><img
                src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">Hàng bán trả lại</a>
          </div>
          <div class="submenu-group-all">
            <a class="dropdown-item" href="#"><img
                src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">Thu tiền khách hàng</a>

            <a class="dropdown-item" href="#"><img
                src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">Tính giá bán</a>
            <a class="dropdown-item" href="#"><img
                src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">Quản lí khuyến mãi</a>
            <a class="dropdown-item" href="#"><img
                src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">Quản lí doanh số</a>
            <a class="dropdown-item" href="#"><img
                src="../assets/images/change-pass.png" class="submenu-icon"
                alt="">BC_TK</a>
          </div>
          <div class="submenu-des">Quản lí bán hàng</div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown" href="#" data-sub="sub-5">Chuyển kho</a>
        <!-- Chuyển kho -->
        <div class="dropdown-menu" id="sub-5">
          <div class="submenu-group-all">
            <a class="dropdown-item" href="#">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              nhập-xuất kho nội bộ
            </a>
            <a class="dropdown-item" href="#">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              BC_TK
            </a>
          </div>
          <div class="submenu-des">Xuất nhập kho nội bộ</div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown" data-sub="sub-6" href="#">KHTT</a>
        <!-- KHTT -->
        <div class="dropdown-menu" id="sub-6">
          <div class="submenu-group-all">
            <a class="dropdown-item" href="#">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              Khách hàng thân thiết
            </a>
            <a class="dropdown-item" href="#">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              QL in và cấp thẻ khtt
            </a>
          </div>
          <div class="submenu-des">Quản lí thông tin khách hàng thân thiết</div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown" data-sub="sub-7" href="#">Quỹ - Ngân Hàng</a>
        <!-- Quỹ - ngân hàng -->
        <div class="dropdown-menu" id="sub-7">
          <div class="submenu-group-all">
            <a class="dropdown-item" href="#">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              Sổ_Quỹ
            </a>
            <a class="dropdown-item" href="#">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              sổ Ngân Hàng
            </a>
          </div>

          <div class="submenu-group center">
            <a class="dropdown-item" href="#">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              Phiếu chi
            </a>
            <a class="dropdown-item" href="#">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              Phiếu thu
            </a>
          </div>
          <div class="submenu-group-all">
            <a class="dropdown-item" href="#">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              Sổ dư quỹ
            </a>
            <a class="dropdown-item" href="#">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              sổ dư Ngân Hàng
            </a>
          </div>
          <div class="submenu-des">Sổ quỹ tiền mặt</div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown" data-sub="sub-8" href="#">Báo cáo</a>
        <!-- Báo cáo -->
        <div class="dropdown-menu" id="sub-8">
          <div class="submenu-group-all">
            <a class="dropdown-item" href="#">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              Thống kê báo cáo tổng hợp
            </a>
          </div>
          <div class="submenu-des">Tổng hợp thống kê, báo cáo</div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown" data-sub="sub-9" href="#">Cửa sổ</a>
        <!-- Cửa sổ -->
        <div class="dropdown-menu" id="sub-9">
          <div class="submenu-group-all">
            <a class="dropdown-item" href="#">Biểu tượng</a>
            <a class="dropdown-item" href="#">Thác nước</a>
            <a class="dropdown-item" href="#">Tiêu đề dọc</a>
            <a class="dropdown-item" href="#">Tiêu đề ngang</a>
            <a class="dropdown-item" href="#">Đóng tất cả các cửa sổ</a>
            <a class="dropdown-item" href="#">Hiển thị theo TAbs</a>
          </div>
          <div class="submenu-des">Cửa sổ hiển thị</div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown" data-sub="sub-10" href="#">Tiện ích</a>
        <!-- Báo cáo -->
        <div class="dropdown-menu" id="sub-10">
          <div class="submenu-group right">
            <a class="dropdown-item" href="#">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              Gửi tin và màn hình HTsoft
            </a>
            <a class="dropdown-item" href="#">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              ghi màn hình ra file
            </a>
            <a class="dropdown-item" href="#">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              in màn hình ra máy in
            </a>
          </div>
          <div class="submenu-group-all">
            <a class="dropdown-item" href="#">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              gửi file log cho HTsoft
            </a>
            <a class="dropdown-item" href="#">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              Xóa Layout Files
            </a>
          </div>
          <div class="submenu-des">Tiện ích</div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown" data-sub="sub-11" href="#">Trợ giúp</a>
        <!-- Trợ giúp -->
        <div class="dropdown-menu" id="sub-11">
          <div class="submenu-group right">
            <a class="dropdown-item" href="#">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              Nội dung trợ giúp
            </a>
            <a class="dropdown-item" href="#">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              Trợ giúp online
            </a>
            <a class="dropdown-item" href="#">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              thông tin bản quyền
            </a>
          </div>
          <div class="submenu-group-all">
            <a class="dropdown-item" href="#">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              Gửi email
            </a>
            <a class="dropdown-item" href="#">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              TeamViewer
            </a>
            <a class="dropdown-item" href="#">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              Liveupdate
            </a>
          </div>
          <div class="submenu-des">Trợ giúp</div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown" data-sub="sub-12" href="#">Add-Ins</a>
        <!-- Trợ giúp -->
        <div class="dropdown-menu" id="sub-12">
          <a class="dropdown-item" href="#">
            <img src="../assets/images/user.png" class="submenu-icon" alt="">
            Cross_Check
          </a>
          <div class="submenu-group left">
            <a class="dropdown-item" href="#">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              Import Tồn đầu
              Công nợ phải thu
            </a>
            <a class="dropdown-item" href="#">
              <img src="../assets/images/user.png" class="submenu-icon" alt="">
              Import Tồn đầu
              Công nợ phải trả
            </a>
          </div>
          <div class="submenu-des">Add-Ins</div>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="wrap-bottom"></div>

<div class="modal fade form-small form-doi-mat-khau default-popup"
    id="form-doi-mat-khau" tabindex="-1" role="dialog"
    aria-labelledby="form-add-group-user" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLabel">Đổi
                    mật khẩu</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Tên
                            truy cập:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Mật
                            khẩu cũ:</label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Mật
                            khẩu mới:</label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Nhắc
                            mật
                            khẩu mới:</label>
                        <input type="password" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade default-popup popup-thoat-chuong-trinh"
    id="thoat-chuong-trinh" tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle"><i
                        class="fas
                        fa-question-circle"></i>Question</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc muốn thoát không?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Có</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Không</button>
            </div>
        </div>
    </div>
</div>
<!-- Tùy chọn -->
<div class="modal fade default-popup" id="tuy-chon" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Cấu
                    hình</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-white">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab"
                            data-toggle="tab" href="#home"
                            role="tab" aria-controls="home"
                            aria-selected="true">Cài đặt chung</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab"
                            data-toggle="tab" href="#profile"
                            role="tab" aria-controls="profile"
                            aria-selected="false">Báo cáo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab"
                            data-toggle="tab" href="#contact"
                            role="tab" aria-controls="contact"
                            aria-selected="false">Cài đặt khác</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="toan-he-thong-tab"
                            data-toggle="tab" href="#toan-he-thong"
                            role="tab" aria-controls="contact"
                            aria-selected="false">Cài đặt toàn hệ thống</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home"
                        role="tabpanel" aria-labelledby="home-tab">
                        <form action="" class="default-form form-tuy-chon mt-4">
                            <div class="form-group">
                                <label for="">Tên công ty</label>
                                <input type="text">
                            </div>
                            <div class="form-group">
                                <label for="">Logo công ty</label>
                                <input type="text">
                            </div>
                            <div class="form-row mt-5">
                                <div class="col-left col">
                                    <div class="box-shape"></div>
                                </div>
                                <div class="col-right col">
                                    <div class="form-group">
                                        <label for="">Địa chỉ</label>
                                        <input type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Điện thoại</label>
                                        <input type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Fax</label>
                                        <input type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Mã vùng</label>
                                        <input type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Quốc gia</label>
                                        <input type="text">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="profile"
                        role="tabpanel"
                        aria-labelledby="profile-tab">
                        <div class="box-border mt-5">
                            <p class="box-border__title">Tùy chọn cho báo cáo</p>
                            <form action="" class="form-bao-cao">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>In
                                            tên
                                            công ty</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>In
                                            địa
                                            chỉ</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>In
                                            điện thoại công ty</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>In
                                            fax
                                            công ty</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>In
                                            số
                                            tiền bằng chữ</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>In
                                            logo công ty</span>
                                    </label>
                                </div>
                                <div class="form-row">
                                    <input type="file" value="Máy in">
                                </div>
                                <div class="form-row">
                                    <label for="">Ngôn ngữ BC</label>
                                    <select name="" id="" class="ml-3">
                                        <option value="">Tiếng Việt</option>
                                        <option value="">Tiếng Anh</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact"
                        role="tabpanel"
                        aria-labelledby="contact-tab">
                        <div class="box-border mt-5">
                            <p class="box-border__title">Lựa chọn chức năng cảnh
                                báo</p>
                            <form action="" class="form-bao-cao">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>Cảnh
                                            báo mua nợ quá hạn</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>Cảnh
                                            báo bán nợ quá hạn</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>Cảnh
                                            báo hết hàng</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>Cho
                                            phép copy giá trị trên cell của grid</span>
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="toan-he-thong"
                        role="tabpanel"
                        aria-labelledby="toan-he-thong-tab">
                        <div class="box-border mt-5">
                            <p class="box-border__title">Lựa chọn chức năng cảnh
                                báo</p>
                            <form action="" class="form-bao-cao default-form">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>Chiết
                                            khấu thẳng
                                            vào giá khi khuyến mãi</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>Cho
                                            phép sửa số phiếu/ số chứng từ</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>Hiện
                                            thị cột giá ngoại tệ khi nhập xuất</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>Hiện
                                            thì Add-in khi bán buôn/lẻ</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox"
                                            class="form-check-input" value=""><span>Tự
                                            động điền số tiền khách đưa
                                            khi thu tiền bán lẻ
                                        </span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="" class="mr-3 col-5">Khóa dữ
                                        liệu đến
                                        ngày</label>
                                    <input type="text" class="choose-date
                                        col-6">
                                </div>
                                <div class="form-group">
                                    <label for="" class="mr-3 col-5">Chỉ được
                                        xem báo
                                        cáo từ ngày
                                        ngày</label>
                                    <input type="text" class="choose-date
                                        col-6">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


<main class="wrapper">
    <div class="container-fluid wrap-table-2">
    <div class="row">
        <div class="col-md-12">
            <div class="list-button bg-gray text-left">
                <a href="#" class="btn btn-add inline"
                    data-toggle="modal" data-target="#form-add"><img
                        src="../assets/images/btn-add.png"
                        alt="" class="inline">
                    <span class="inline">Thêm</span></a>
                <a href="#" class="btn btn-fix inline"
                    data-toggle="modal"
                    data-target="#form-add-group-user"><img
                        src="../assets/images/btn-fix.png"
                        alt="" class="inline"><span
                        class="inline">Sửa</span></a>
                <a href="#" class="btn btn-fix inline"><img
                        src="../assets/images/btn-del.png"
                        alt="" class="inline"><span
                        class="inline">Xóa</span></a>
                <a href="#" class="btn btn-save inline"><img
                        src="../assets/images/btn-save.png"
                        alt="" class="inline"><span
                        class="inline">Ghi</span></a>
                <a href="#" class="btn btn-fix inline"><img
                        src="../assets/images/btn-import.png"
                        alt="" class="inline"><span
                        class="inline">Nạp</span></a>
                <a href="#" class="btn btn-print
                    inline"><img
                        src="../assets/images/btn-print.png"
                        alt="" class="inline"><span
                        class="inline">In</span></a>
                <a href="#" class="btn btn-fix inline"><img
                        src="../assets/images/btn-export.png"
                        alt="" class="inline"><span
                        class="inline">Xuất</span></a>
                <a href="#" class="btn btn-question
                    inline"><img
                        src="../assets/images/question.png"
                        alt="" class="inline"><span
                        class="inline">Hỏi</span></a>
                <a href="#" class="btn btn-fix inline"><img
                        src="../assets/images/btn-close.png"
                        alt="" class="inline"><span
                        class="inline">Đóng</span></a>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-2">
            <div class="box-dia-chi box-info bg-white">
                <p class="title-head">Danh mục địa chỉ</p>
                <div class="content mt-2">
                    <p class="title-list"><img
                            src="../../assets/images/tick.png" alt=""
                            class="inline mr-1"><span class="inline">Nhóm</span>
                    </p>
                    <ul class="list-group">
                        <li>Something - 1</li>
                        <li>Something - 2</li>
                        <li>Something - 3</li>
                        <li>Something - 4</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <form action="" id="form-them-dia-chi"
                class="default-form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Mã địa chỉ</label>
                            <input type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Mã rút gọn</label>
                            <input type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Tên địa chỉ</label>
                            <input type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Alias</label>
                            <input type="text">
                        </div>
                        <div class="form-group">
                            <label for="">Mô tả</label>
                            <textarea name="" id=""
                                cols="30" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Ghi chú</label>
                            <textarea name="" id=""
                                cols="30" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </form>
            <div class="box-title list-button d-flex">
                <p class="title-head inline mr-2">Địa chỉ</p>
                <a href="#" class="btn btn-watch
                    inline"><img
                        src="../assets/images/btn-watch.png"
                        alt="" class="inline">Xem</a>
            </div>
            <div class="wrap-height-table">
                <table class="table display"
                    id="table-them-dia-chi">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Mã địa chỉ</th>
                            <th>Tên địa chỉ</th>
                            <th>Mã ngắn</th>
                            <th>Path</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>HELLO</td>
                            <td>HOLLE</td>
                            <td>ANDEPTRAI</td>
                            <td>andeptrai.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</main>



<script type="text/javascript" src="../js/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="../js/popper.min.js"></script>
<script type="text/javascript" src="../js/datatables.min.js"></script>
<!-- <script
    src="https://cdn.datatables.net/plug-ins/1.10.21/features/scrollResize/dataTables.scrollResize.min.js"></script> -->
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/jquery.datetimepicker.full.js"></script>
<script type="text/javascript" src="../js/main.js"></script>


<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 vertical-content">
                <div class="footer-info">
                    <ul class="footer-info__list">
                        <li class="font-weight-bold text">
                            Logged in: <span class="name text-uppercase">Mona</span>
                        </li>
                        <li>
                            Current branch: <span class="name text-uppercase">C - dự phòng</span>
                        </li>
                        <li class="ml-1">
                            Database: <span class="name text-uppercase">KIMTHANH</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="footer-search">
                        <form action="#" method="" class="inline">
                            <button type="submit" class="inline" ><img src="../assets/images/search.png" alt=""></button>
                            <input type="text" class="inline" placeholder="Search Help...">
                        </form>
                    </div>
                    <div class="footer-teamviewer">
                        <span class="inline"><img class="icon" src="../assets/images/teamview-icon.png" alt=""></span>
                        <span class="inline">TeamViewer</span>
                    </div>
                    <div class="footer-time ml-4">
                        <p class="inline">Last updated: 
                            <span class="date">22/10/2018</span>
                            <span class="time">10:27:38 SA</span>
                        </p>
                    </div>
                    <div class="footer-language ml-5">
                        <div class="box-select inline">
                            <span class="icon"><i class="fal fa-angle-down"></i></span>
                            <select name="" id="">
                                <option value="Vi">Vi</option>
                                <option value="En">En</option>
                            </select>
                        </div>
                        <a href="#" class="btn-language color-white inline">
                            <span>Language</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
