<div class="modal fade default-popup popup-others" id="others" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Chọn
                    mặt hàng đã nhập để xuất trả</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-table">
                                <p class="title-nau">Phiếu nhập kho</p>
                                <div class="wrap-height-table-double">
                                    <table class="display table" style="width:
                                        100%;" id="table-PNK">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Số phiếu</th>
                                                <th>Ngày HĐ</th>
                                                <th>Mã NCC</th>
                                                <th>Tên NCC</th>
                                                <th>Nhân viên</th>
                                                <th>Tổng tiền (VNĐ)</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div class="box-table mt-4">
                                <p class="title-nau">Chi tiết phiếu nhập</p>
                                <div class="wrap-height-table-double">
                                    <table class="display table" style="width:
                                        100%;" id="table-CTPN">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Mã hàng</th>
                                                <th>Tên hàng</th>
                                                <th>Số lượng</th>
                                                <th>Đơn giá VNĐ</th>
                                                <th>Thuế VNĐ</th>
                                                <th>Chiết khấu VNĐ</th>
                                                <th>Thành tiền VNĐ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>