<div class="modal fade default-popup" id="danh-muc-nhom-kh" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Danh
                    mục nhóm khách hàng</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="list-button bg-trans text-left">
                                <a href="#" class="btn btn-add inline"
                                    data-toggle="modal"
                                    data-target="#them-nhom-khach-hang"><img
                                        src="../assets/images/btn-add.png"
                                        alt="" class="inline">
                                    <span class="inline">Thêm</span></a>
                                <a href="#" class="btn btn-fix inline"
                                    data-toggle="modal"
                                    data-target="#them-nhom-khach-hang"><img
                                        src="../assets/images/btn-fix.png"
                                        alt="" class="inline"><span
                                        class="inline">Sửa</span></a>
                                <a href="#" class="btn btn-fix inline"><img
                                        src="../assets/images/btn-del.png"
                                        alt="" class="inline"><span
                                        class="inline">Xóa</span></a>
                                <a href="#" class="btn btn-fix inline"><img
                                        src="../assets/images/btn-import.png"
                                        alt="" class="inline"><span
                                        class="inline">Nạp</span></a>
                                <a href="#" class="btn btn-fix inline"><img
                                        src="../assets/images/btn-export.png"
                                        alt="" class="inline"><span
                                        class="inline">Xuất</span></a>
                                <a href="#" class="btn btn-question
                                    inline"><img
                                        src="../assets/images/question.png"
                                        alt="" class="inline"><span
                                        class="inline">Hỏi</span></a>
                                <a href="#" class="btn btn-fix inline"><img
                                        src="../assets/images/btn-close.png"
                                        alt="" class="inline"><span
                                        class="inline">Đóng</span></a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="wrap-height-table">
                                <table class="table display"
                                    id="table-danh-muc-nhom-kh">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Tên nhóm KH</th>
                                            <th>Ghi chú</th>
                                            <th>Nhóm giá</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Test</td>
                                            <td>Something</td>
                                            <td>Something</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@@include("../popup/them-nhom-khach-hang.html")