<div class="modal fade default-popup" id="them-kenh-khach-hang" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Thêm
                    kênh khách hàng</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-border mt-3">
                                <p class="box-border__title bg-gray">
                                    kênh khách hàng
                                </p>
                                <form action="" method="post"
                                    class="default-form"
                                    id="form-them-nhom-kh">
                                    <div class="form-group">
                                        <label for="">kênh khách hàng</label>
                                        <input type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Mô tả</label>
                                        <textarea name="" id="" cols="30"
                                            rows="3"></textarea>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>