<!-- Popup tìm kiếm khách hàng -->
<div class="modal fade default-popup popup-tim-kiem-mat-hang"
    id="tim-kiem-khach-hang"
    tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup">Tìm kiếm khách hàng</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="wrap-height-table">
                                <table class="table display table-striped"
                                    style="width: 100%;"
                                    id="table-tim-kiem-khach-hang">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Mã KH</th>
                                            <th>Tên KH</th>
                                            <th>Địa chỉ Cty</th>
                                            <th>Điện thoại</th>
                                            <th>Di động</th>
                                            <th>MST</th>
                                            <th>Alias</th>
                                            <th>Chọn</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Test</td>
                                            <td>Test</td>
                                            <td>Test</td>
                                            <td>Test</td>
                                            <td>Test</td>
                                            <td>Test</td>
                                            <td>Test</td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Test</td>
                                            <td>Test</td>
                                            <td>Test</td>
                                            <td>Test</td>
                                            <td>Test</td>
                                            <td>Test</td>
                                            <td>Test</td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Test</td>
                                            <td>Test</td>
                                            <td>Test</td>
                                            <td>Test</td>
                                            <td>Test</td>
                                            <td>Test</td>
                                            <td>Test</td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Chọn</button>
                <button type="button" class="btn btn-primary">Chọn và thoát
                </button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Thoát</button>

            </div>
        </div>
    </div>
</div>
