<!-- Modal -->
<div class="modal fade default-popup" id="check-sale" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Period</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="box-choose-time justify-content-center">
                    <p class="mr-2">Từ</p>
                    <input class="datepicker mr-2" id="chooseDate_To"
                        data-date-format="mm/dd/yyyy">
                    <p class="mr-2">Đến</p>
                    <input class="datepicker mr-2" id="chooseDate_Form"
                        data-date-format="mm/dd/yyyy">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>