
<div class="modal fade default-popup popup-ds-nhom-hang"
    id="danh-sach-nhom-hang"
    tabindex="-1"
    role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Danh
                    sách nhóm hàng</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid wrap-table-2 table-nhom-kh">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="list-button bg-gray text-left">
                                <a href="#" class="btn btn-add inline"
                                    data-toggle="modal" data-target="#form-add"><img
                                        src="../assets/images/btn-add.png"
                                        alt="" class="inline">
                                    <span class="inline">Thêm</span></a>
                                <a href="#" class="btn btn-fix inline"
                                    data-toggle="modal"
                                    data-target="#form-add-group-user"><img
                                        src="../assets/images/btn-fix.png"
                                        alt="" class="inline"><span
                                        class="inline">Sửa</span></a>
                                <a href="#" class="btn btn-fix inline"><img
                                        src="../assets/images/btn-del.png"
                                        alt="" class="inline"><span
                                        class="inline">Xóa</span></a>
                                <a href="#" class="btn btn-save inline"><img
                                        src="../assets/images/btn-save.png"
                                        alt="" class="inline"><span
                                        class="inline">Ghi</span></a>
                                <a href="#" class="btn btn-fix inline"><img
                                        src="../assets/images/btn-import.png"
                                        alt="" class="inline"><span
                                        class="inline">Nạp</span></a>
                                <a href="#" class="btn btn-print
                                    inline"><img
                                        src="../assets/images/btn-print.png"
                                        alt="" class="inline"><span
                                        class="inline">In</span></a>
                                <a href="#" class="btn btn-fix inline"><img
                                        src="../assets/images/btn-export.png"
                                        alt="" class="inline"><span
                                        class="inline">Xuất</span></a>
                                <a href="#" class="btn btn-question
                                    inline"><img
                                        src="../assets/images/question.png"
                                        alt="" class="inline"><span
                                        class="inline">Hỏi</span></a>
                                <a href="#" class="btn btn-fix inline"><img
                                        src="../assets/images/btn-close.png"
                                        alt="" class="inline"><span
                                        class="inline">Đóng</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="table-nhom-kh">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="box-dia-chi box-info">
                                    <p class="title-head">Danh mục nhóm hàng</p>
                                    <div class="content mt-2">
                                        <p class="title-list">Nhóm</p>
                                        <ul class="list-group">
                                            <li>Something - 1</li>
                                            <li>Something - 2</li>
                                            <li>Something - 3</li>
                                            <li>Something - 4</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <form action="" id="form-table-nhom-kh"
                                    class="default-form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Mã nhóm hàng</label>
                                                <input type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="">Mã ngắn(mã ghép)</label>
                                                <input type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="">Tên nhóm hàng</label>
                                                <input type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="">Alias</label>
                                                <input type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="">Mô tả</label>
                                                <textarea name="" id=""
                                                    cols="30" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Ghi chú</label>
                                                <textarea name="" id=""
                                                    cols="30" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="box-title list-button d-flex">
                                    <p class="title-head inline mr-2">Nhóm hàng</p>
                                    <a href="#" class="btn btn-watch flex
                                        inline"><img
                                            src="../assets/images/btn-watch.png"
                                            alt="" class="inline">Xem</a>
                                </div>
                                <div class="wrap-height-table-2">
                                    <table class="table display"
                                        id="table-ds-nhom-hang">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nhóm hàng</th>
                                                <th>Alias</th>
                                                <th>MHLTEN</th>
                                                <th>Path</th>
                                                <th>MOTA</th>
                                                <th>Note</th>
                                                <th>Người tạo</th>
                                                <th>Cập nhật</th>
                                                <th>USERID</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                                <td>test</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
