<div class="modal fade default-popup popup-lich-su-khach-mua"
    id="lich-su-khach-mua"
    tabindex="-1"
    role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Khách
                    hàng thân thiết</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="bg-white p-2">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="nav nav-tabs" id="myTab"
                                    role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab"
                                            data-toggle="tab" href="#t-1"
                                            role="tab" aria-controls="home"
                                            aria-selected="true">Khách hàng</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab"
                                            data-toggle="tab" href="#t-2"
                                            role="tab" aria-controls="profile"
                                            aria-selected="false">Lịch sử mua
                                            hàng</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-tab"
                                            data-toggle="tab" href="#t-3"
                                            role="tab" aria-controls="contact"
                                            aria-selected="false">Lịch sử trả
                                            lại
                                            hàng</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-tab"
                                            data-toggle="tab" href="#t-4"
                                            role="tab" aria-controls="contact"
                                            aria-selected="false">Công nợ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-tab"
                                            data-toggle="tab" href="#t-5"
                                            role="tab" aria-controls="contact"
                                            aria-selected="false">Quá trình
                                            thanh
                                            toán</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-tab"
                                            data-toggle="tab" href="#t-6"
                                            role="tab" aria-controls="contact"
                                            aria-selected="false">Thẻ giảm giá</a>
                                    </li>
                                </ul>
                                <div class="tab-content mt-3" id="myTabContent">
                                    <!--Tab khách hàng -->
                                    <div class="tab-pane fade show active"
                                        id="t-1"
                                        role="tabpanel"
                                        aria-labelledby="home-tab">
                                        <div class="container-fluid">
                                            <div class="info-customer">
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <div class="row">
                                                            <div
                                                                class="col-md-6">
                                                                <div
                                                                    class="box-img"></div>
                                                                <div
                                                                    class="row-info">
                                                                    <div
                                                                        class="row-info__name">
                                                                        <p>Tên
                                                                            KH</p>
                                                                    </div>
                                                                    <div
                                                                        class="row-info__content">
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="row-info">
                                                                    <div
                                                                        class="row-info__name">
                                                                        <p>Địa
                                                                            chỉ
                                                                            NR
                                                                        </p>
                                                                    </div>
                                                                    <div
                                                                        class="row-info__content">
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="row-info">
                                                                    <div
                                                                        class="row-info__name">
                                                                        <p>Điện
                                                                            thoại
                                                                        </p>
                                                                    </div>
                                                                    <div
                                                                        class="row-info__content">
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="row-info">
                                                                    <div
                                                                        class="row-info__name">
                                                                        <p>Di
                                                                            động
                                                                        </p>
                                                                    </div>
                                                                    <div
                                                                        class="row-info__content">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="col-md-6">
                                                                <div
                                                                    class="row-info">
                                                                    <div
                                                                        class="row-info__name">
                                                                        <p>Ngày
                                                                            sinh
                                                                        </p>
                                                                    </div>
                                                                    <div
                                                                        class="row-info__content">
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="row-info">
                                                                    <div
                                                                        class="row-info__name">
                                                                        <p>
                                                                            Giới
                                                                            tính
                                                                        </p>
                                                                    </div>
                                                                    <div
                                                                        class="row-info__content">
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="row-info">
                                                                    <div
                                                                        class="row-info__name">
                                                                        <p>
                                                                            Email
                                                                        </p>
                                                                    </div>
                                                                    <div
                                                                        class="row-info__content">
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="row-info">
                                                                    <div
                                                                        class="row-info__name">
                                                                        <p>Nhóm
                                                                            KH
                                                                        </p>
                                                                    </div>
                                                                    <div
                                                                        class="row-info__content">
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="row-info">
                                                                    <div
                                                                        class="row-info__name">
                                                                        <p>
                                                                            Thẻ
                                                                            KH
                                                                        </p>
                                                                    </div>
                                                                    <div
                                                                        class="row-info__content">
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="row-info">
                                                                    <div
                                                                        class="row-info__name">
                                                                        <p>
                                                                            Người
                                                                            đại
                                                                            diện
                                                                        </p>
                                                                    </div>
                                                                    <div
                                                                        class="row-info__content">
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="row-info">
                                                                    <div
                                                                        class="row-info__name">
                                                                        <p>
                                                                            MST
                                                                        </p>
                                                                    </div>
                                                                    <div
                                                                        class="row-info__content">
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="row-info">
                                                                    <div
                                                                        class="row-info__name">
                                                                        <p>
                                                                            Website
                                                                        </p>
                                                                    </div>
                                                                    <div
                                                                        class="row-info__content">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div
                                                                class="col-md-12">
                                                                <div
                                                                    class="row-info">
                                                                    <div
                                                                        class="row-info__name
                                                                        last">
                                                                        <p>Ghi
                                                                            chú
                                                                        </p>
                                                                    </div>
                                                                    <div
                                                                        class="row-info__content
                                                                        last">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div
                                                            class="row-info
                                                            second">
                                                            <div
                                                                class="row-info__name">
                                                                <p>Địa chỉ cty
                                                                </p>
                                                            </div>
                                                            <div
                                                                class="row-info__content">
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="row-info
                                                            second">
                                                            <div
                                                                class="row-info__name">
                                                                <p>Chức vụ
                                                                </p>
                                                            </div>
                                                            <div
                                                                class="row-info__content">
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="row-info
                                                            second">
                                                            <div
                                                                class="row-info__name">
                                                                <p>Ngày tạo
                                                                    KH
                                                                </p>
                                                            </div>
                                                            <div
                                                                class="row-info__content">
                                                            </div>
                                                        </div><div
                                                            class="row-info
                                                            second">
                                                            <div
                                                                class="row-info__name">
                                                                <p>Fax
                                                                </p>
                                                            </div>
                                                            <div
                                                                class="row-info__content">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Tab lịch sử mua hàng -->
                                    <div class="tab-pane fade" id="t-2"
                                        role="tabpanel"
                                        aria-labelledby="profile-tab">
                                        <!--Table số lần mua hàng-->
                                        <div class="box-table">
                                            <p class="title-tab title-nau">Số
                                                lần
                                                mua hàng</p>
                                            <div
                                                class="wrap-height-table-double">
                                                <table class="table display
                                                    table-striped"
                                                    id="table-solanmuahang"
                                                    style="width:
                                                    100%;">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Số phiếu</th>
                                                            <th>Ngày hóa đơn</th>
                                                            <th>Mã khách hàng</th>
                                                            <th>Khách hàng</th>
                                                            <th>Nhân viên</th>
                                                            <th>Diễn giải</th>
                                                            <th>Tổng tiền </th>
                                                            <th>Chi nhánh</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th>5000</th>
                                                            <th></th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>

                                        <!--Table chi tiết từng lần mua hàng-->
                                        <div class="box-table second">
                                            <p class="title-tab title-nau">Chi
                                                tiết
                                                từng lần mua hàng</p>
                                            <div
                                                class="wrap-height-table-double">
                                                <table class="table display
                                                    table-striped"
                                                    id="table-chitietmuahang"
                                                    style="width:
                                                    100%;">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Mã hàng</th>
                                                            <th>Tên hàng</th>
                                                            <th>Số lượng</th>
                                                            <th>Đơn giá VND</th>
                                                            <th>Thuế VND</th>
                                                            <th>Chiết khấu VND</th>
                                                            <th>Thành tiền VND</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th>5000</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Tab lịch sử trả lại hàng -->
                                    <div class="tab-pane fade" id="t-3"
                                        role="tabpanel"
                                        aria-labelledby="profile-tab">
                                        <div class="wrap-height-table">
                                            <table class="display table
                                                table-striped" style="width:
                                                100%;" id="table-ls-tralaihang">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Ngày mua</th>
                                                        <th>Ngày trả</th>
                                                        <th>Tên nhân viên</th>
                                                        <th>Số phiếu</th>
                                                        <th>Tổng tiền (VNĐ)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!--Tab công nợ -->
                                    <div class="tab-pane fade" id="t-4"
                                        role="tabpanel"
                                        aria-labelledby="profile-tab">
                                        <div class="wrap-height-table">
                                            <table class="display table
                                                table-striped" style="width:
                                                100%;" id="table-congno">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Ngày HĐ</th>
                                                        <th>Số HĐ</th>
                                                        <th>Tổng nợ(VNĐ)</th>
                                                        <th>Số còn nợ (VNĐ)</th>
                                                        <th>Số trả (VNĐ)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- Tab Quá trình thanh toán -->
                                    <div class="tab-pane fade" id="t-5"
                                        role="tabpanel"
                                        aria-labelledby="profile-tab">
                                        <div class="wrap-height-table">
                                            <table class="display table
                                                table-striped" style="width:
                                                100%;" id="table-thanhtoan">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Số phiếu thu</th>
                                                        <th>Ngày TT</th>
                                                        <th>Tên NV thu ngân</th>
                                                        <th>Số tiền</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- Tab thẻ giảm giá -->
                                    <div class="tab-pane fade" id="t-6"
                                        role="tabpanel"
                                        aria-labelledby="profile-tab">
                                        <div class="wrap-height-table">
                                            <table class="display table
                                                table-striped" style="width:
                                                100%;" id="table-thegiamgia">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Hạng thẻ</th>
                                                        <th>Ngày cấp</th>
                                                        <th>Ngày hết hạn</th>
                                                        <th>Tổng tích lũy</th>
                                                        <th>Hiện trạng thẻ</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Xuất</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>