<!-- Thêm ngân hàng -->
<div class="modal fade default-popup" id="them-ly-do" tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Lý
                    do</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-5">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-border mt-2">
                                <p class="box-border__title bg-gray">Thông tin</p>
                                <form action="" class="default-form
                                    form-them-ngan-hang form-them-ly-do">
                                    <div class="form-group">
                                        <label for="">Thuộc</label>
                                        <select name="" id="">
                                            <option value="">Phiếu chi/trả tiền
                                                nhà
                                                cung cấp</option>
                                        </select>
                                    </div><div class="form-group">
                                        <label for="">Mã lý do</label>
                                        <input type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Lý do</label>
                                        <input type="text">
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="checkbox"
                                                class="form-check-input"
                                                value=""> Là
                                            line type
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Thoát</button>

            </div>
        </div>
    </div>
</div>