<div class="wrap-table">
    <div class="container-fluid">
        <div class="wrap-table__header">
            <div class="row">
                <div class="col-md-6">
                    <div class="box-choose-time">
                        <p class="mr-2">Xem nhật ký từ</p>
                        <input class="datepicker mr-2" id="chooseDate_To"
                            data-date-format="mm/dd/yyyy">
                        <p class="mr-2">Đến</p>
                        <input class="datepicker mr-2" id="chooseDate_Form"
                            data-date-format="mm/dd/yyyy">
                        <select name="" id="" class="mr-2">
                            <option value="">Hôm nay</option>
                            <option value="">Hôm sau</option>
                            <option value="">Hôm bữa</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="list-button text-right">
                        <!-- Button thêm -->
                        <a href="#" class="btn btn-add inline"
                            data-toggle="modal"
                            data-target="#form-add"><img
                                src="../assets/images/btn-add.png"
                                alt="" class="inline">
                            <span
                                class="inline">Thêm</span></a>
                        <!-- Button Sửa -->
                        <a href="#" class="btn btn-fix inline"
                            data-toggle="modal"
                            data-target="#form-add-group-user"><img
                                src="../assets/images/btn-fix.png"
                                alt="" class="inline"><span
                                class="inline">Sửa</span></a>
                        <!-- Button Xóa -->
                        <a href="#" class="btn btn-del inline"><img
                                src="../assets/images/btn-del.png"
                                alt="" class="inline"><span
                                class="inline">Xóa</span></a>
                        <a href="#" class="btn btn-del inline"><img
                                src="../assets/images/btn-del.png"
                                alt="" class="inline"><span
                                class="inline">Xóa tất</span></a>
                        <!-- Button xuất -->
                        <a href="#" class="btn btn-export
                            inline"><img
                                src="../assets/images/btn-export.png"
                                alt="" class="inline"><span
                                class="inline">Xuất</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table nowrap table-striped row-border
                    order-column" id="table-don-hang" style="width:
                    100%;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Trạng thái</th>
                            <th>Đã chuyển (shipped)</th>
                            <th>Số hóa đơn</th>
                            <th>Ngày lập phiếu</th>
                            <th>Ngày submit</th>
                            <th>Tên khách hàng</th>
                            <th>Tel</th>
                            <th>Tên nhân viên</th>
                            <th>Tổng tiền</th>
                            <th>Hạn thanh toán</th>
                            <th>Diễn giải</th>
                            <th>Lý do nhập</th>
                            <th>Người lập</th>
                            <th>Duyệt</th>
                            <th>Người duyệt</th>
                            <th>Ngày nhận hàng</th>
                            <th>Gửi từ</th>
                            <th>Gửi đến</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>