<div class="modal fade default-popup popup-phieu-chi" id="form-phieu-chi"
    tabindex="-1"
    role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Phiếu
                    chi</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="box-border mt-3">
                    <p class="box-border__title bg-gray">Thông tin phiếu chi</p>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="default-form">
                                    <div class="form-group">
                                        <label for=""></label>
                                        <div class="col-8 p-0 d-flex
                                            justify-content-between
                                            align-items-center">
                                            <p class="inline"><b>Điều chỉnh tỉ
                                                    giá USD</b></p>
                                            <input type="text" class="col-4
                                                p-0 inline">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Số phiếu</label>
                                        <input type="text" class="col-8 p-0">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Ngày chi</label>
                                        <input type="text" class="col-8 p-0
                                            choose-date">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Ca làm việc</label>
                                        <select name="" id="" class="col-8 p-0">
                                            <option value="">Ca chiều</option>
                                            <option value="">Ca sáng</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Người chi</label>
                                        <div class="col-8 p-0">
                                            <select name="" id=""
                                                class="col-10">
                                                <option value="">test</option>
                                                <option value="">test</option>
                                            </select>
                                            <span class="search-icon
                                                color-white
                                                absolute"
                                                id="button-danh-sach-nv"
                                                data-toggle="modal"
                                                data-target="#danh-sach-nv"><i
                                                    class="fas
                                                    fa-search"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Loại tiền</label>
                                        <div class="col-8 p-0">
                                            <select name="" id=""
                                                class="col-5 p-0">
                                                <option value="">VND</option>
                                                <option value="">Dollar</option>
                                            </select>
                                            <input type="text" class="col-5
                                                p-0">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Số tiền</label>
                                        <input type="text" class="col-8 p-0">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Số tiền(VND)</label>
                                        <input type="text" class="col-8 p-0">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Thuế</label>
                                        <input type="text" class="col-8 p-0">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Ngân hàng</label>
                                        <select name="" id=""
                                            class="col-8 p-0">
                                            <option value="">NH 1</option>
                                            <option value="">NH 2</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Lý do chi</label>
                                        <div class="col-8 p-0">
                                            <select name="" id=""
                                                class="col-10">
                                                <option value="">test</option>
                                                <option value="">test</option>
                                            </select>
                                            <span class="search-icon
                                                color-white
                                                absolute"
                                                id="button-danh-sach-nv"
                                                data-toggle="modal"
                                                data-target="#danh-sach-ly-do"><i
                                                    class="fas
                                                    fa-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 default-form">
                                <div class="list-btn">
                                    <button class="btn btn-success"
                                        data-toggle="modal"
                                        data-target="#danh-sach-khach-hang">Đối
                                        tượng
                                        trả tiền: khách</button>
                                    <button class="btn btn-success"
                                        data-toggle="modal"
                                        data-target="#danh-sach-khach-hang">KHCS
                                        nhận
                                        tiền</button>
                                </div>
                                <div class="box-border mt-2">
                                    <div class="form-group">
                                        <label for="">Mã người nhận</label>
                                        <input type="text" class="col-8 p-0">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Tên người nhận</label>
                                        <input type="text" class="col-8 p-0">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Địa chỉ</label>
                                        <input type="text" class="col-8 p-0">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Điện thoại</label>
                                        <input type="text" class="col-8 p-0">
                                    </div>
                                </div>
                                <p class="color-red mt-2"><i>(Đối tượng nhận
                                        tiền
                                        ở
                                        đây sẽ không thực hiện cấn trừ công nợ)</i></p>
                                <div class="form-group mt-3">
                                    <label for="">Khoảng mục</label>
                                    <select name="" id=""
                                        class="col-8 p-0">
                                        <option value="">NH 1</option>
                                        <option value="">NH 2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="default-form">
                                    <div class="form-group">
                                        <label for="">Thuế</label>
                                        <textarea name="" id="" class="col-10"
                                            rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p class="color-red"><i>Chú ý: Nếu không chọn
                                        ngân hàng nào thì được hiểu là chi tiền
                                        mặt từ sổ quỷ</i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@@include("../../chinhanh/popup/danh-sach-khach-hang.html")
@@include("danh-sach-ly-do.html")
@@include("../../nhanvien/popup/danh-sach-nhan-vien.html")