<div class="container-fluid wrap-table-2">
    <div class="row">
        <div class="col-md-12">
            <div class="list-button bg-gray text-left">
                <a href="#" class="btn btn-add inline"
                    data-toggle="modal" data-target="#form-add"><img
                        src="../assets/images/btn-add.png"
                        alt="" class="inline">
                    <span class="inline">Thêm</span></a>
                <a href="#" class="btn btn-fix inline"
                    data-toggle="modal"
                    data-target="#form-add-group-user"><img
                        src="../assets/images/btn-fix.png"
                        alt="" class="inline"><span
                        class="inline">Sửa</span></a>
                <a href="#" class="btn btn-fix inline"><img
                        src="../assets/images/btn-del.png"
                        alt="" class="inline"><span
                        class="inline">Xóa</span></a>
                <a href="#" class="btn btn-save inline"><img
                        src="../assets/images/btn-save.png"
                        alt="" class="inline"><span
                        class="inline">Ghi</span></a>
                <a href="#" class="btn btn-fix inline"><img
                        src="../assets/images/btn-import.png"
                        alt="" class="inline"><span
                        class="inline">Nạp</span></a>
                <a href="#" class="btn btn-print
                    inline"><img
                        src="../assets/images/btn-print.png"
                        alt="" class="inline"><span
                        class="inline">In</span></a>
                <a href="#" class="btn btn-fix inline"><img
                        src="../assets/images/btn-export.png"
                        alt="" class="inline"><span
                        class="inline">Xuất</span></a>
                <a href="#" class="btn btn-question
                    inline"><img
                        src="../assets/images/question.png"
                        alt="" class="inline"><span
                        class="inline">Hỏi</span></a>
                <a href="#" class="btn btn-fix inline"><img
                        src="../assets/images/btn-close.png"
                        alt="" class="inline"><span
                        class="inline">Đóng</span></a>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-2">
            <div class="box-dia-chi box-info bg-white">
                <p class="title-head">Danh mục nhóm hàng</p>
                <div class="content mt-2">
                    <p class="title-list"><img
                            src="../../assets/images/tick.png" alt=""
                            class="inline mr-1"><span class="inline">Nhóm</span>
                    </p>
                    <ul class="list-group">
                        <li>Something - 1</li>
                        <li>Something - 2</li>
                        <li>Something - 3</li>
                        <li>Something - 4</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="box-title list-button d-flex">
                <p class="title-head inline mr-2">Nhóm hàng</p>
            </div>
            <div class="row">
                <div class="col-md-8 pr-0">
                    <div class="list-button pt-3 pb-3">
                        <!--Month-->
                        <p class="inline">Tháng</p>
                        <select name="" id="" class="inline col-1 ml-2 p-0">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                        </select>
                        <!--Year-->
                        <p class="inline ml-3">Năm</p>
                        <select name="" id="" class="inline col-2 ml-2 p-0">
                            <option value="">2019</option>
                            <option value="">2020</option>
                            <option value="">2020</option>
                            <option value="">2020</option>
                        </select>
                        <!-- button-->
                        <a href="#" class="btn btn-del inline"><img
                                src="../assets/images/tinh-gia-von.png"
                                alt="" class="inline"><span
                                class="inline">Tính giá vốn</span></a>
                        <a href="#" class="btn btn-del inline"><img
                                src="../assets/images/tick.png"
                                alt="" class="inline"><span
                                class="inline">Áp dụng bản giá vốn này để tính
                                lợi nhuận</span></a>

                    </div>
                </div>
                <div class="col-md-4 pl-0">
                    <div class="list-button pt-3 pb-3 text-right">
                        <div class="dropdown inline">
                            <button class="btn btn-secondary dropdown-toggle btn
                                inline" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <img
                                    src="../assets/images/btn-tick.png"
                                    alt="" class="inline"><span
                                    class="inline">Advanced</span>
                            </button>
                            <div class="dropdown-menu"
                                aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Tính lại toàn
                                    bộ giá vốn</a>
                                <a class="dropdown-item" href="#">Tính lại giá
                                    vốn theo khoảng thời gian</a>
                                <a class="dropdown-item" href="#">Thiết lập hiển
                                    thị cột</a>
                                <a class="dropdown-item" href="#">Tính và áp
                                    dụng giá vốn theo Imei</a>
                                <a class="dropdown-item" href="#">Tính và áp
                                    dụng giá vốn theo lô</a>
                            </div>
                        </div>

                        <!-- Button xuất -->
                        <a href="#" class="btn btn-export
                            inline"><img
                                src="../assets/images/btn-export.png"
                                alt="" class="inline"><span
                                class="inline">Xuất</span></a>
                        <!-- Button Nhập -->
                        <a href="#" class="btn btn-export
                            inline"><img
                                src="../assets/images/btn-export.png"
                                alt="" class="inline"><span
                                class="inline">Nhập</span></a>
                        <!-- Button ghi -->
                        <a href="#" class="btn btn-save inline"><img
                                src="../assets/images/btn-save.png"
                                alt="" class="inline"><span
                                class="inline">Ghi</span></a>
                    </div>
                </div>
            </div>
            <div class="wrap-height-table">
                <table class="table display"
                    id="table-qlgv">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tháng</th>
                            <th>Năm</th>
                            <th>Mã hàng</th>
                            <th>Tên hàng</th>
                            <th>Kho</th>
                            <th>Tồn đầu</th>
                            <th>Tồn đầu($)</th>
                            <th>ĐGBQ</th>
                            <th>Nhập</th>
                            <th>Nhập($)</th>
                            <th>ĐGBQ trong kỳ</th>
                            <th>Xuất trả</th>
                            <th>Xuất trả($)</th>
                            <th>Nhập nội bộ</th>
                            <th>Nhập nội bộ($)</th>
                            <th>Xuất nội bộ</th>
                            <th>Xuất nội bộ($)</th>
                            <th>Xuất</th>
                            <th>Xuất($)</th>
                            <th>Nhập trả</th>
                            <th>Nhập trả($)</th>
                            <th>Tồn cuối</th>
                            <th>Tồn cuối ($)</th>
                            <th>ĐGBQ cuối kỳ</th>
                            <th>Gia nhập lần cuối</th>
                            <th>Chênh lệch</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
