

<!-- Popup gửi email -->
<div class="modal fade default-popup" id="gui-email" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Gửi
                    email</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluif">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="list-button bg-trans text-left">
                                <a href="#" class="btn
                                    btn-create-email
                                    inline"><img
                                        src="../assets/images/tao-email.png"
                                        alt="" class="inline"><span
                                        class="inline">Tạo
                                        email mới</span></a>
                                <a href="#" class="btn btn-send-email
                                    inline"><img
                                        src="../assets/images/gui-email.png"
                                        alt="" class="inline">Gửi
                                    email</a>
                                <a href="#" class="btn btn-fix inline"><img
                                        src="../assets/images/btn-out.png"
                                        alt="" class="inline"><span
                                        class="inline">Thoát</span></a>
                            </div>
                        </div>
                        <div class="col-md-12 mt-3">
                            <form action="" id="form-gui-email"
                                class="default-form">
                                <div class="form-group">
                                    <label for="">Gửi từ</label>
                                    <input type="text">
                                </div>
                                <div class="form-group">
                                    <label for="">Đến</label>
                                    <input type="text">
                                </div>
                                <div class="form-group">
                                    <label for="">CC</label>
                                    <input type="text">
                                </div>
                                <div class="form-group">
                                    <label for="">Tiêu đề</label>
                                    <input type="text">
                                </div>
                                <div class="form-group last">
                                    <label for="">Đính kèm</label>
                                    <div class="box-dinh-kem">
                                        <input type="text">
                                        <div class="box-button">
                                            <button class="btn btn-secondary">Đính
                                                kèm</button>
                                            <button class="btn btn-secondary">Bỏ</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>