<div class="modal fade default-popup popup-so-du-quy" id="so-du-ngan-hang"
    tabindex="-1"
    role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Khởi
                    tạo/ điều chỉnh số dư ngân hàng</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="wrap-height-table">
                                <table class="table display" style="width:
                                    100%;" id="table-so-du-ngan-hang">
                                    <thead>
                                        <tr>
                                            <th>Chi nhánh</th>
                                            <th>Tồn hiện hành (VND)</th>
                                            <th>Ngày vào sổ</th>
                                            <th>Ngày sửa</th>
                                            <th>Ngày tác động</th>
                                            <th>Ghi chú</th>
                                            <th>Theo dõi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#them-so-du-ngan-hang">Thêm</button>
                <button type="button" class="btn btn-primary">Sửa</button>
                <button type="button" class="btn btn-primary">Hiệu chỉnh</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

@@include("them-so-du-ngan-hang.html")