<div class="modal fade default-popup popup-them-so-du-quy" id="them-so-du-quy"
    tabindex="-1"
    role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Sổ
                    quỹ</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="" class="default-form">
                                <div class="form-group">
                                    <label for="">Chi nhánh công ty</label>
                                    <select name="" class="col-7 p-0" id="">
                                        <option value="">Test</option>
                                        <option value="">Test</option>
                                        <option value="">Test</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="">Ngày vào sổ(Số dư ngày)</label>
                                    <input type="text" class="choose-date col-7
                                        p-0">
                                </div>
                                <div class="form-group">
                                    <label for="">Số dư</label>
                                    <input type="text" class="col-7
                                        p-0">
                                </div>
                                <div class="form-group">
                                    <label for="">Số dư(VND)</label>
                                    <input type="text" class="col-7
                                        p-0">
                                </div>
                                <div class="form-group">
                                    <label for=""></label>
                                    <div class="form-check col-7
                                        p-0">
                                        <label class="form-check-label"
                                            style="margin-left: 13px;">
                                            <input type="checkbox"
                                                class="form-check-input"
                                                value=""><span class="ml-2">Theo
                                                dõi</span>
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>