<div class="container-fluid mt-3 wrap-table-2">
    <div class="row">
        <div class="col-md-2">
            <div class="box-border sidebar-search">
                <p class="box-border__title">Tiêu chí tìm kiếm</p>
                <div class="box-select mt-3">
                    <p>Chi nhánh</p>
                    <select name="" id="" class="w-100
                        bg-gray
                        select-gray">
                        <option value="">CN 1</option>
                        <option value="">CN 2</option>
                        <option value="">CN 3</option>
                    </select>
                </div>
                <!-- Nav tabs -->
                <div class="box-border mt-3">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 pl-0 pr-1">
                                <p>Từ ngày</p>
                                <input type="text"
                                    class="choose-date
                                    w-100">
                            </div>
                            <div class="col-md-6 pr-0 pl-1">
                                <p>Đến ngày</p>
                                <input type="text"
                                    class="choose-date
                                    w-100">
                            </div>

                            <div class="col-md-12 p-0">
                                <div class="box-select mt-3">
                                    <p>Nhân viên thu ngân</p>
                                    <select name="" id="" class="w-100
                                        bg-gray
                                        select-gray">
                                        <option value="">Name 1</option>
                                        <option value="">Name 2</option>
                                        <option value="">Name 3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="list-button mt-3">
                    <a href="#" class="btn btn-search d-block"><img
                            src="../assets/images/btn-search.png"
                            alt="" class="inline"><span
                            class="inline">Tìm
                            kiếm</span></a>

                    <a href="#" class="btn btn-export mt-1
                        d-block"><img
                            src="../assets/images/btn-export.png"
                            alt="" class="inline"><span
                            class="inline">Xuất</span></a>
                    <a href="#" class="btn btn-print mt-1
                        d-block"><img
                            src="../assets/images/btn-print.png"
                            alt="" class="inline"><span
                            class="inline">In</span></a>

                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="content">
                <p class="title-head">Nội dung</p>

            </div>
        </div>
    </div>

</div>