<!-- Danh mục nhân viên -->
<div class="modal fade default-popup popup-danhsach-nv" id="danh-sach-nv"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Danh
                    mục nhân viên</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="list-button text-left">
                    <a href="#" class="btn btn-add inline" data-toggle="modal"
                        data-target="#them-nhan-vien"><img
                            src="../assets/images/btn-add.png" alt=""
                            class="inline"> <span class="inline">Thêm</span></a>
                    <a href="#" class="btn btn-fix inline" style="font-weight:
                        500;"><img src="../assets/images/btn-fix.png"
                            alt="" class="inline"><span class="inline">Sửa</span></a>
                    <a href="#" class="btn btn-fix inline"><img
                            src="../assets/images/btn-del.png" alt=""
                            class="inline"><span class="inline">Xóa</span></a>
                    <a href="#" class="btn btn-fix inline"><img
                            src="../assets/images/btn-import.png" alt=""
                            class="inline"><span class="inline">Nạp</span></a>
                    <a href="#" class="btn btn-fix inline"><img
                            src="../assets/images/btn-export.png" alt=""
                            class="inline"><span class="inline">Xuất</span></a>
                </div>
                <div class="wrap-height-table">
                    <table class="table display nowrap table-striped row-border
                        order-column table-nv-2" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Mã NV</th>
                                <th>
                                    Tên NV
                                </th>
                                <th>
                                    Địa chỉ
                                </th>
                                <th>
                                    Điện thoại
                                </th>
                                <th>
                                    Di động
                                </th>
                                <th>
                                    Ngày sinh
                                </th>
                                <th>
                                    Giới tính
                                </th>
                                <th>
                                    Chức vụ
                                </th>
                                <th>
                                    Mức lương
                                </th>
                                <th>
                                    CMTND
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Gia đình
                                </th>
                                <th>
                                    Quê quán
                                </th>
                                <th>
                                    Theo dõi
                                </th>
                                <th>
                                    Nhóm
                                </th>
                                <th>
                                    Ngày tạo mã
                                </th>
                                <th>
                                    Người QL
                                </th>
                                <th>
                                    Làm việc tại C
                                </th>
                                <th>
                                    Địa chỉ 2
                                </th>
                                <th>
                                    Ghi chú
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>NVDEPTRAI</td>
                                <td>AnCute</td>
                                <td>Ở đâu còn lâu mới nói</td>
                                <td>0123456789</td>
                                <td>9876543215</td>
                                <td>25/8/2020</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Vô tận</td>
                                <td>Cái này là gì k biết</td>
                                <td>Test@gmail.com</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>?</td>
                                <td>Test</td>
                                <td>30/10/2030</td>
                                <td>Test</td>
                                <td>Mona Media</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>NVDEPTRAI</td>
                                <td>AnCute</td>
                                <td>Ở đâu còn lâu mới nói</td>
                                <td>0123456789</td>
                                <td>9876543215</td>
                                <td>25/8/2020</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Vô tận</td>
                                <td>Cái này là gì k biết</td>
                                <td>Test@gmail.com</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>?</td>
                                <td>Test</td>
                                <td>30/10/2030</td>
                                <td>Test</td>
                                <td>Mona Media</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>NVDEPTRAI</td>
                                <td>A Thức Giấc</td>
                                <td>Ở đâu còn lâu mới nói</td>
                                <td>0123456789</td>
                                <td>9876543215</td>
                                <td>25/8/2020</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Vô tận</td>
                                <td>Cái này là gì k biết</td>
                                <td>Test@gmail.com</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>?</td>
                                <td>Test</td>
                                <td>30/10/2030</td>
                                <td>Test</td>
                                <td>Mona Media</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>NVDEPTRAI</td>
                                <td>A Đạt Tốc Độ</td>
                                <td>Ở đâu còn lâu mới nói</td>
                                <td>0123456789</td>
                                <td>9876543215</td>
                                <td>25/8/2020</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Vô tận</td>
                                <td>Cái này là gì k biết</td>
                                <td>Test@gmail.com</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>?</td>
                                <td>Test</td>
                                <td>30/10/2030</td>
                                <td>Test</td>
                                <td>Mona Media</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>NVDEPTRAI</td>
                                <td>A Quang Test</td>
                                <td>Ở đâu còn lâu mới nói</td>
                                <td>0123456789</td>
                                <td>9876543215</td>
                                <td>25/8/2020</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Vô tận</td>
                                <td>Cái này là gì k biết</td>
                                <td>Test@gmail.com</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>?</td>
                                <td>Test</td>
                                <td>30/10/2030</td>
                                <td>Test</td>
                                <td>Mona Media</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>NVDEPTRAI</td>
                                <td>AnCute</td>
                                <td>Ở đâu còn lâu mới nói</td>
                                <td>0123456789</td>
                                <td>9876543215</td>
                                <td>25/8/2020</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Vô tận</td>
                                <td>Cái này là gì k biết</td>
                                <td>Test@gmail.com</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>?</td>
                                <td>Test</td>
                                <td>30/10/2030</td>
                                <td>Test</td>
                                <td>Mona Media</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>NVDEPTRAI</td>
                                <td>AnCute</td>
                                <td>Ở đâu còn lâu mới nói</td>
                                <td>0123456789</td>
                                <td>9876543215</td>
                                <td>25/8/2020</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Vô tận</td>
                                <td>Cái này là gì k biết</td>
                                <td>Test@gmail.com</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>?</td>
                                <td>Test</td>
                                <td>30/10/2030</td>
                                <td>Test</td>
                                <td>Mona Media</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>NVDEPTRAI</td>
                                <td>AnCute</td>
                                <td>Ở đâu còn lâu mới nói</td>
                                <td>0123456789</td>
                                <td>9876543215</td>
                                <td>25/8/2020</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Vô tận</td>
                                <td>Cái này là gì k biết</td>
                                <td>Test@gmail.com</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>?</td>
                                <td>Test</td>
                                <td>30/10/2030</td>
                                <td>Test</td>
                                <td>Mona Media</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>NVDEPTRAI</td>
                                <td>AnCute</td>
                                <td>Ở đâu còn lâu mới nói</td>
                                <td>0123456789</td>
                                <td>9876543215</td>
                                <td>25/8/2020</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Vô tận</td>
                                <td>Cái này là gì k biết</td>
                                <td>Test@gmail.com</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>?</td>
                                <td>Test</td>
                                <td>30/10/2030</td>
                                <td>Test</td>
                                <td>Mona Media</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>NVDEPTRAI</td>
                                <td>AnCute</td>
                                <td>Ở đâu còn lâu mới nói</td>
                                <td>0123456789</td>
                                <td>9876543215</td>
                                <td>25/8/2020</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Vô tận</td>
                                <td>Cái này là gì k biết</td>
                                <td>Test@gmail.com</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>?</td>
                                <td>Test</td>
                                <td>30/10/2030</td>
                                <td>Test</td>
                                <td>Mona Media</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>NVDEPTRAI</td>
                                <td>AnCute</td>
                                <td>Ở đâu còn lâu mới nói</td>
                                <td>0123456789</td>
                                <td>9876543215</td>
                                <td>25/8/2020</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Vô tận</td>
                                <td>Cái này là gì k biết</td>
                                <td>Test@gmail.com</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>?</td>
                                <td>Test</td>
                                <td>30/10/2030</td>
                                <td>Test</td>
                                <td>Mona Media</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="21">54</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@@include("them-nhan-vien.html")