<!-- Thêm nhân viên -->
<div class="modal fade default-popup popup-them-nv" id="them-nhan-vien"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Thêm/sửa
                    nhân
                    viên</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <form action="" method="" class="form-2-col">
                                <div class="form-row">
                                    <label for="">Mã NV</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">Tên NV</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">Ngày sinh</label>
                                    <input type="date">
                                </div>
                                <div class="form-row">
                                    <label for="">Giới tính</label>
                                    <select name="" id="">
                                        <option value="">Nam</option>
                                        <option value="">Nữ</option>
                                    </select>
                                </div>
                                <div class="form-row">
                                    <label for="">Chức vụ</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">Lương</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">Số CMND</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">Địa chỉ</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">điện thoại</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">di động</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">Email</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">Làm việc tại CN</label>
                                    <select name="" id="">
                                        <option value="">Place 1</option>
                                        <option value="">Place 2</option>
                                    </select>
                                </div>
                                <div class="form-row">
                                    <label for="">Nhóm</label>
                                    <select name="" id="">
                                        <option value="">Group 1</option>
                                        <option value="">Group 2</option>
                                    </select>
                                    <span class="search-icon"
                                        data-toggle="modal"
                                        data-target="#them-nhom-nv"><i
                                            class="fas
                                            fa-search"></i></span>
                                </div>
                                <div class="form-row">
                                    <label for="">Quê quán</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">Gia đình</label>
                                    <input type="text">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <div class="box-up-img text-center">
                                <h2>Up ảnh cá nhân tại đây</h2>
                                <div class="avatar-upload">
                                    <div class="avatar-edit">
                                        <input type='file' id="imageUpload"
                                            accept=".png, .jpg, .jpeg" />
                                        <label for="imageUpload">
                                            <i class="fas fa-cloud-upload-alt"></i>
                                        </label>
                                    </div>
                                    <div class="avatar-preview">
                                        <div id="imagePreview"
                                            style="background-image:
                                            url('../assets/images/rose.jpg');">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- Danh mục nhóm nhân viên -->
<div class="modal fade default-popup popup-them-nhom-nv" id="them-nhom-nv"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Danh
                    mục nhóm nhân viên</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="list-button text-left">
                    <a href="#" class="btn btn-add inline" data-toggle="modal"
                        data-target="#form-add"><img
                            src="../assets/images/btn-add.png" alt=""
                            class="inline"> <span class="inline">Thêm</span></a>
                    <a href="#" class="btn btn-fix inline" data-toggle="modal"
                        data-target="#form-add-group-user" style="font-weight:
                        500;"><img src="../assets/images/btn-fix.png"
                            alt="" class="inline"><span class="inline">Sửa</span></a>
                    <a href="#" class="btn btn-fix inline" data-toggle="modal"
                        data-target="#form-add-group-user"><img
                            src="../assets/images/btn-del.png" alt=""
                            class="inline"><span class="inline">Xóa</span></a>
                    <a href="#" class="btn btn-fix inline" data-toggle="modal"
                        data-target="#form-add-group-user"><img
                            src="../assets/images/btn-export.png" alt=""
                            class="inline"><span class="inline">Xuất</span></a>
                </div>
                <div class="wrap-height-table">
                    <table class="table dislay" id="table-nhom-nv">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nhóm NV</th>
                                <th>Mô tả</th>
                                <th>Hoa Hồng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Nhóm 1</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Nhóm 1</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Nhóm 1</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Nhóm 1</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>