
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="ql-user user-table wrap-table-pq">
                <div class="user-table__header">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="list-button text-left">
                                <a href="#" class="btn btn-add inline"
                                    data-toggle="modal"
                                    data-target="#them-ca-lam-viec"><img
                                        src="../assets/images/btn-add.png"
                                        alt="" class="inline">
                                    <span class="inline">Thêm</span></a>
                                <a href="#" class="btn btn-fix inline"
                                    data-toggle="modal"
                                    data-target="#form-add-group-user"><img
                                        src="../assets/images/btn-fix.png"
                                        alt="" class="inline"><span
                                        class="inline">Sửa</span></a>
                                <a href="#" class="btn btn-del inline"><img
                                        src="../assets/images/btn-del.png"
                                        alt="" class="inline"><span
                                        class="inline">Xóa</span></a>
                                <a href="#" class="btn btn-fix inline"><img
                                        src="../assets/images/btn-import.png"
                                        alt="" class="inline"><span
                                        class="inline">Nạp</span></a>
                                <a href="#" class="btn btn-export inline"><img
                                        src="../assets/images/btn-export.png"
                                        alt="" class="inline"><span
                                        class="inine">Xuất</span></a>
                                <a href="#" class="btn btn-question
                                    inline"><img
                                        src="../assets/images/question.png"
                                        alt="" class="inline"><span
                                        class="inline">Hỏi</span></a>
                                <a href="#" class="btn btn-close
                                    inline"><img
                                        src="../assets/images/btn-close.png"
                                        alt="" class="inline"><span
                                        class="inline">Đóng</span></a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="wrap-height-table">
                    <table class="table display nowrap table-striped row-border
                        order-column" id="table-lydo" style="width:100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên ca</th>
                                <th>Bắt đầu</th>
                                <th>Kết thúc</th>
                                <th>Ghi chú</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Ca sáng</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

@@include("popup/them-ca-lam-viec.html")