<!-- Thêm ngân hàng -->
<div class="modal fade default-popup" id="them-tien-te" tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Tiền
                    tệ</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-5">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="" class="default-form
                                form-them-ngan-hang">
                                <div class="form-group">
                                    <label for="">Mã tiền tệ</label>
                                    <input type="text">
                                </div><div class="form-group">
                                    <label for="">Tên tiền tệ</label>
                                    <input type="text">
                                </div>
                                <div class="form-group">
                                    <label for="">Tỉ giá</label>
                                    <input type="text">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Thoát</button>

            </div>
        </div>
    </div>
</div>