<!-- Thêm ngân hàng -->
<div class="modal fade default-popup" id="them-ngan-hang" tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Ngân
                    hàng</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="" class="default-form
                                form-them-ngan-hang">
                                <div class="form-group">
                                    <label for="">Mã ngân hàng</label>
                                    <input type="text">
                                </div><div class="form-group">
                                    <label for="">Tên ngân hàng</label>
                                    <input type="text">
                                </div>
                                <div class="form-group">
                                    <label for="">Địa chỉ</label>
                                    <input type="text">
                                </div>
                                <div class="form-group">
                                    <label for="">Điện thoại</label>
                                    <input type="text">
                                </div>
                                <div class="form-group">
                                    <label for="">Số TK</label>
                                    <input type="text">
                                </div>
                                <div class="form-group">
                                    <label for="">Chủ TK</label>
                                    <input type="text">
                                </div>
                                <div class="form-group">
                                    <label for="">Người liên lạc</label>
                                    <input type="text">
                                </div>
                                <div class="form-group">
                                    <label for="">Ghi chú</label>
                                    <textarea name="" id="" cols="30" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="">TK Kế toán</label>
                                    <input type="text">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Thoát</button>

            </div>
        </div>
    </div>
</div>