<div class="container-fluid">
    <div class="bg-white mt-2 p-2">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab"
                            data-toggle="tab" href="#ds-1" role="tab"
                            aria-controls="home" aria-selected="true">Doanh số
                            khách hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab"
                            href="#ds-2" role="tab" aria-controls="profile"
                            aria-selected="false">Doanh số nhân viên</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab"
                            href="#ds-3" role="tab" aria-controls="contact"
                            aria-selected="false">Doanh số nhà cung cấp</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="ds-1"
                        role="tabpanel" aria-labelledby="home-tab">
                        <!--list button-->
                        <div class="ds-list-button w-100 p-2">
                            <button class="btn btn-success" data-toggle="modal"
                                data-target="#doanh-so-khach-hang">Đăng
                                kí doanh số
                                khách hàng</button>
                            <div class="chi-nhanh ml-3">
                                <p class="inline">Chi nhánh</p>
                                <select name="" id="" class="inline">
                                    <option value="">Test</option>
                                    <option value="">Test</option>
                                    <option value="">Test</option>
                                </select>
                            </div>
                            <div class="nam ml-3">
                                <p class="inline">Năm</p>
                                <select name="" id="" class="inline">
                                    <option value="">2020</option>
                                </select>
                            </div>
                            <div class="xem ml-3">
                                <p class="inline">Xem</p>
                                <select name="" id="" class="inline">
                                    <option value="">DS - KH</option>
                                </select>
                            </div>
                            <div class="list-btn ml-3">
                                <button class="btn line-height-0" title="Nạp lại
                                    dữ liệu
                                    mới">
                                    <img src="../assets/images/loading.png"
                                        alt=""
                                        class="inline">
                                </button>
                                <button class="btn line-height-0" title="Xuất ra
                                    file
                                    excel">
                                    <img src="../assets/images/btn-export.png"
                                        alt=""
                                        class="inline">
                                </button>
                            </div>
                            <div class="form-check ml-3">
                                <label class="form-check-label">
                                    <input type="checkbox"
                                        class="form-check-input"
                                        value=""><span class="ml-2">Chạy khi
                                        khởi động</span>
                                </label>
                            </div>
                        </div>
                        <!--table-->
                        <div class="wrap-height-table">
                            <table class="table display table-striped"
                                style="width:
                                100%;" id="table-ds-1">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Khách hàng</th>
                                        <th>%T1</th>
                                        <th>KHT1</th>
                                        <th>%T1</th>
                                        <th>%T2</th>
                                        <th>KHT2</th>
                                        <th>%T2</th>
                                        <th>%T3</th>
                                        <th>KHT3</th>
                                        <th>%T3</th>
                                        <th>T</th>
                                        <th>KHT</th>
                                        <th>%T</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="ds-2" role="tabpanel"
                        aria-labelledby="profile-tab">

                        <!--list button-->
                        <div class="ds-list-button w-100 p-2">
                            <button class="btn btn-success" data-toggle="modal"
                                data-target="#doanh-so-nhan-vien">Đăng kí doanh
                                số
                                nhân viên</button>
                            <div class="chi-nhanh ml-3">
                                <p class="inline">Chi nhánh</p>
                                <select name="" id="" class="inline">
                                    <option value="">Test</option>
                                    <option value="">Test</option>
                                    <option value="">Test</option>
                                </select>
                            </div>
                            <div class="nam ml-3">
                                <p class="inline">Năm</p>
                                <select name="" id="" class="inline">
                                    <option value="">2020</option>
                                </select>
                            </div>
                            <div class="xem ml-3">
                                <p class="inline">Xem</p>
                                <select name="" id="" class="inline">
                                    <option value="">DS - KH</option>
                                </select>
                            </div>
                            <div class="list-btn ml-3">
                                <button class="btn line-height-0" title="Nạp lại
                                    dữ liệu
                                    mới">
                                    <img src="../assets/images/loading.png"
                                        alt=""
                                        class="inline">
                                </button>
                                <button class="btn line-height-0" title="Xuất ra
                                    file
                                    excel">
                                    <img src="../assets/images/btn-export.png"
                                        alt=""
                                        class="inline">
                                </button>
                            </div>
                            <div class="form-check ml-3">
                                <label class="form-check-label">
                                    <input type="checkbox"
                                        class="form-check-input"
                                        value=""><span class="ml-2">Chạy khi
                                        khởi động</span>
                                </label>
                            </div>
                        </div>
                        <!--table-->
                        <div class="wrap-height-table">
                            <table class="table display table-striped"
                                style="width:
                                100%;" id="table-ds-2">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nhân viên</th>
                                        <th>%T1</th>
                                        <th>KHT1</th>
                                        <th>%T1</th>
                                        <th>%T2</th>
                                        <th>KHT2</th>
                                        <th>%T2</th>
                                        <th>%T3</th>
                                        <th>KHT3</th>
                                        <th>%T3</th>
                                        <th>T</th>
                                        <th>KHT</th>
                                        <th>%T</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="ds-3" role="tabpanel"
                        aria-labelledby="contact-tab">
                        <!--list button-->
                        <div class="ds-list-button w-100 p-2">
                            <button class="btn btn-success" data-toggle="modal"
                                data-target="#doanh-so-ncc">Đăng kí doanh số
                                nhà cung cấp</button>
                            <div class="chi-nhanh ml-3">
                                <p class="inline">Chi nhánh</p>
                                <select name="" id="" class="inline">
                                    <option value="">Test</option>
                                    <option value="">Test</option>
                                    <option value="">Test</option>
                                </select>
                            </div>
                            <div class="nam ml-3">
                                <p class="inline">Năm</p>
                                <select name="" id="" class="inline">
                                    <option value="">2020</option>
                                </select>
                            </div>
                            <div class="xem ml-3">
                                <p class="inline">Xem</p>
                                <select name="" id="" class="inline">
                                    <option value="">DS - KH</option>
                                </select>
                            </div>
                            <div class="list-btn ml-3">
                                <button class="btn line-height-0" title="Nạp lại
                                    dữ liệu
                                    mới">
                                    <img src="../assets/images/loading.png"
                                        alt=""
                                        class="inline">
                                </button>
                                <button class="btn line-height-0" title="Xuất ra
                                    file
                                    excel">
                                    <img src="../assets/images/btn-export.png"
                                        alt=""
                                        class="inline">
                                </button>
                            </div>
                            <div class="form-check ml-3">
                                <label class="form-check-label">
                                    <input type="checkbox"
                                        class="form-check-input"
                                        value=""><span class="ml-2">Chạy khi
                                        khởi động</span>
                                </label>
                            </div>
                        </div>
                        <!--table-->
                        <div class="wrap-height-table">
                            <table class="table display table-striped"
                                style="width:
                                100%;" id="table-ds-3">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nhà cung cấp</th>
                                        <th>%T1</th>
                                        <th>KHT1</th>
                                        <th>%T1</th>
                                        <th>%T2</th>
                                        <th>KHT2</th>
                                        <th>%T2</th>
                                        <th>%T3</th>
                                        <th>KHT3</th>
                                        <th>%T3</th>
                                        <th>T</th>
                                        <th>KHT</th>
                                        <th>%T</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade default-popup popup-doanh-so" id="doanh-so-khach-hang"
    tabindex="-1"
    role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Doanh
                    số khách hàng</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="wrap-height-table-double bg-white p-3">
                                <table class="display table table-striped"
                                    style="width: 100%;" id="table-kh-small">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Thuộc kiểu</th>
                                            <th>Mã KH</th>
                                            <th>Tên KH</th>
                                            <th>Địa chỉ NR</th>
                                            <th>Điện thoại</th>
                                            <th>Di động</th>
                                            <th>MST</th>
                                            <th>Nhóm KH</th>
                                            <th>Chọn</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="box-button mt-3 mb-3 w-100 d-flex
                                justify-content-end
                                align-items-center">
                                <div class="col-md-8">
                                    <div class="d-flex justify-content-start">
                                        <div class="box-nam">
                                            <p class="inline">Năm</p>
                                            <select name="" id=""
                                                class="inline">
                                                <option value="">2020</option>
                                                <option value="">2020</option>
                                                <option value="">2020</option>
                                            </select>
                                        </div>
                                        <div class="box-du-phong ml-3">
                                            <p class="inline">Chi nhánh</p>
                                            <select name="" id=""
                                                class="inline">
                                                <option value="">Chi nhánh 1</option>
                                                <option value="">Chi nhánh 2</option>
                                                <option value="">Chi nhánh 3</option>
                                            </select>
                                        </div>
                                        <div class="box-nguoi-tao ml-3">
                                            <p class="inline">Người tạo</p>
                                            <p class="inline"><b>Mona</b></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex
                                    justify-content-end">
                                    <button class="btn btn-default btn-up-down
                                        ml-5"><i class="fas
                                            fa-angle-double-down"></i></button>
                                    <button class="btn btn-default btn-up-down
                                        ml-1"><i class="fas fa-angle-double-up"></i></button>
                                    <button class="btn btn-default btn-up-down
                                        ml-5"><i class="fal
                                            fa-angle-down"></i></button>
                                    <button class="btn btn-default btn-up-down
                                        ml-1"><i class="fal
                                            fa-angle-up"></i></button>
                                </div>
                            </div>
                            <div class="wrap-height-table-double bg-white p-3">
                                <table class="display table table-striped"
                                    style="width: 100%;" id="table-kh-small-2">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Khách hàng</th>
                                            <th>KHT1</th>
                                            <th>KHT2</th>
                                            <th>KHT3</th>
                                            <th>KHT4</th>
                                            <th>KHT5</th>
                                            <th>KHT</th>
                                            <th>Theo dõi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-2 d-flex justify-content-center
                            flex-column">
                            <div class="list-button">
                                <a href="#" class="btn btn-save d-block mb-1"><img
                                        src="../assets/images/btn-save.png"
                                        alt="" class="inline"><span
                                        class="inline">Ghi</span></a>
                                <a href="#" class="btn btn-import mb-1
                                    d-block"><img
                                        src="../assets/images/btn-import.png"
                                        alt="" class="inline"><span
                                        class="inline">nạp</span></a>
                                <a href="#" class="btn btn-export mb-5
                                    d-block"><img
                                        src="../assets/images/btn-export.png"
                                        alt="" class="inline"><span
                                        class="inline">Xuất</span></a>
                                <a href="#" class="btn btn-close
                                    d-block" data-dismiss="modal"><img
                                        src="../assets/images/btn-close.png"
                                        alt="" class="inline"><span
                                        class="inline">Đóng</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade default-popup popup-doanh-so" id="doanh-so-nhan-vien"
    tabindex="-1"
    role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Doanh
                    số nhân viên</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="wrap-height-table-double bg-white p-3">
                                <table class="display table table-striped"
                                    style="width: 100%;" id="table-nv-small">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Thuộc kiểu</th>
                                            <th>Mã KH</th>
                                            <th>Tên KH</th>
                                            <th>Địa chỉ NR</th>
                                            <th>Điện thoại</th>
                                            <th>Di động</th>
                                            <th>MST</th>
                                            <th>Nhóm KH</th>
                                            <th>Chọn</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="box-button mt-3 mb-3 w-100 d-flex
                                justify-content-end
                                align-items-center">
                                <div class="col-md-8">
                                    <div class="d-flex justify-content-start">
                                        <div class="box-nam">
                                            <p class="inline">Năm</p>
                                            <select name="" id=""
                                                class="inline">
                                                <option value="">2020</option>
                                                <option value="">2020</option>
                                                <option value="">2020</option>
                                            </select>
                                        </div>
                                        <div class="box-du-phong ml-3">
                                            <p class="inline">Chi nhánh</p>
                                            <select name="" id=""
                                                class="inline">
                                                <option value="">Chi nhánh 1</option>
                                                <option value="">Chi nhánh 2</option>
                                                <option value="">Chi nhánh 3</option>
                                            </select>
                                        </div>
                                        <div class="box-nguoi-tao ml-3">
                                            <p class="inline">Người tạo</p>
                                            <p class="inline"><b>Mona</b></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex
                                    justify-content-end">
                                    <button class="btn btn-default btn-up-down
                                        ml-5"><i class="fas
                                            fa-angle-double-down"></i></button>
                                    <button class="btn btn-default btn-up-down
                                        ml-1"><i class="fas fa-angle-double-up"></i></button>
                                    <button class="btn btn-default btn-up-down
                                        ml-5"><i class="fal
                                            fa-angle-down"></i></button>
                                    <button class="btn btn-default btn-up-down
                                        ml-1"><i class="fal
                                            fa-angle-up"></i></button>
                                </div>
                            </div>
                            <div class="wrap-height-table-double bg-white p-3">
                                <table class="display table table-striped"
                                    style="width: 100%;" id="table-nv-small-2">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nhân viên</th>
                                            <th>KHT1</th>
                                            <th>KHT2</th>
                                            <th>KHT3</th>
                                            <th>KHT4</th>
                                            <th>KHT5</th>
                                            <th>KHT</th>
                                            <th>Theo dõi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-2 d-flex justify-content-center
                            flex-column">
                            <div class="list-button">
                                <a href="#" class="btn btn-save d-block mb-1"><img
                                        src="../assets/images/btn-save.png"
                                        alt="" class="inline"><span
                                        class="inline">Ghi</span></a>
                                <a href="#" class="btn btn-import mb-1
                                    d-block"><img
                                        src="../assets/images/btn-import.png"
                                        alt="" class="inline"><span
                                        class="inline">nạp</span></a>
                                <a href="#" class="btn btn-export mb-5
                                    d-block"><img
                                        src="../assets/images/btn-export.png"
                                        alt="" class="inline"><span
                                        class="inline">Xuất</span></a>
                                <a href="#" class="btn btn-close
                                    d-block" data-dismiss="modal"><img
                                        src="../assets/images/btn-close.png"
                                        alt="" class="inline"><span
                                        class="inline">Đóng</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade default-popup popup-doanh-so" id="doanh-so-ncc"
    tabindex="-1"
    role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Doanh
                    số nhà cung cấp</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="wrap-height-table-double bg-white p-3">
                                <table class="display table table-striped"
                                    style="width: 100%;" id="table-ncc-small">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Thuộc kiểu</th>
                                            <th>Mã KH</th>
                                            <th>Tên KH</th>
                                            <th>Địa chỉ NR</th>
                                            <th>Điện thoại</th>
                                            <th>Di động</th>
                                            <th>MST</th>
                                            <th>Nhóm KH</th>
                                            <th>Chọn</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="box-button mt-3 mb-3 w-100 d-flex
                                justify-content-end
                                align-items-center">
                                <div class="col-md-8">
                                    <div class="d-flex justify-content-start">
                                        <div class="box-nam">
                                            <p class="inline">Năm</p>
                                            <select name="" id=""
                                                class="inline">
                                                <option value="">2020</option>
                                                <option value="">2020</option>
                                                <option value="">2020</option>
                                            </select>
                                        </div>
                                        <div class="box-du-phong ml-3">
                                            <p class="inline">Chi nhánh</p>
                                            <select name="" id=""
                                                class="inline">
                                                <option value="">Chi nhánh 1</option>
                                                <option value="">Chi nhánh 2</option>
                                                <option value="">Chi nhánh 3</option>
                                            </select>
                                        </div>
                                        <div class="box-nguoi-tao ml-3">
                                            <p class="inline">Người tạo</p>
                                            <p class="inline"><b>Mona</b></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex
                                    justify-content-end">
                                    <button class="btn btn-default btn-up-down
                                        ml-5"><i class="fas
                                            fa-angle-double-down"></i></button>
                                    <button class="btn btn-default btn-up-down
                                        ml-1"><i class="fas fa-angle-double-up"></i></button>
                                    <button class="btn btn-default btn-up-down
                                        ml-5"><i class="fal
                                            fa-angle-down"></i></button>
                                    <button class="btn btn-default btn-up-down
                                        ml-1"><i class="fal
                                            fa-angle-up"></i></button>
                                </div>
                            </div>
                            <div class="wrap-height-table-double bg-white p-3">
                                <table class="display table table-striped"
                                    style="width: 100%;" id="table-ncc-small-2">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nhà cung cấp</th>
                                            <th>KHT1</th>
                                            <th>KHT2</th>
                                            <th>KHT3</th>
                                            <th>KHT4</th>
                                            <th>KHT5</th>
                                            <th>KHT</th>
                                            <th>Theo dõi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-2 d-flex justify-content-center
                            flex-column">
                            <div class="list-button">
                                <a href="#" class="btn btn-save d-block mb-1"><img
                                        src="../assets/images/btn-save.png"
                                        alt="" class="inline"><span
                                        class="inline">Ghi</span></a>
                                <a href="#" class="btn btn-import mb-1
                                    d-block"><img
                                        src="../assets/images/btn-import.png"
                                        alt="" class="inline"><span
                                        class="inline">nạp</span></a>
                                <a href="#" class="btn btn-export mb-5
                                    d-block"><img
                                        src="../assets/images/btn-export.png"
                                        alt="" class="inline"><span
                                        class="inline">Xuất</span></a>
                                <a href="#" class="btn btn-close
                                    d-block" data-dismiss="modal"><img
                                        src="../assets/images/btn-close.png"
                                        alt="" class="inline"><span
                                        class="inline">Đóng</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>