<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab"
                        data-toggle="tab" href="#cn-1" role="tab"
                        aria-controls="home" aria-selected="true">Công nợ
                        phải thu phải trả</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab"
                        href="#cn-2" role="tab" aria-controls="profile"
                        aria-selected="false">Công nợ phải thu phải trả chi
                        tiết</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab"
                        href="#cn-3" role="tab" aria-controls="contact"
                        aria-selected="false">Phải thu pending</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab"
                        href="#cn-4" role="tab" aria-controls="contact"
                        aria-selected="false">Phải trả pending</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content mt-4" id="myTabContent">
        <!-- CN 1 !-->
        <div class="tab-pane fade show active" id="cn-1" role="tabpanel"
            aria-labelledby="home-tab">
            <div class="row">
                <div class="col-md-2">
                    <div class="box-border sidebar-search">
                        <p class="box-border__title">Tiêu chí tìm kiếm</p>
                        <div class="box-select mt-4 mb-3">
                            <p><b>Chi nhánh</b></p>
                            <select name="" id="" class="w-100
                                select-gray">
                                <option value="">Test</option>
                                <option value="">Test</option>
                                <option value="">Test</option>
                            </select>
                        </div>
                        <div class="list-button mt-3">
                            <a href="#" class="btn btn-search d-block"><img
                                    src="../assets/images/btn-search.png"
                                    alt="" class="inline"><span
                                    class="inline">Tìm
                                    kiếm</span></a>
                            <a href="#" class="btn btn-export mt-1
                                d-block"><img
                                    src="../assets/images/loading.png"
                                    alt="" class="inline"><span
                                    class="inline">Nạp</span></a>
                            <a href="#" class="btn btn-export mt-1
                                d-block"><img
                                    src="../assets/images/btn-export.png"
                                    alt="" class="inline"><span
                                    class="inline">Xuất</span></a>
                            <a href="#" class="btn btn-print mt-1
                                d-block"><img
                                    src="../assets/images/btn-print.png"
                                    alt="" class="inline"><span
                                    class="inline">In</span></a>

                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="title-color blue">Công nợ phải thu,
                                phải
                                trả</p>
                            <div class="wrap-height-table-cn">
                                <table class="display table"
                                    id="table-cnpt-1"
                                    style="width:
                                    100%;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Khách hàng</th>
                                            <th>Tên khách hàng</th>
                                            <th>Nhóm KH</th>
                                            <th>Tổng nợ(VND)</th>
                                            <th>Giới hạn nợ(VND)</th>
                                            <th>Vượt giới hạn(VND)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>test</td>
                                            <td>test</td>
                                            <td>test</td>
                                            <td>test</td>
                                            <td>test</td>
                                            <td>test</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p class="title-color red">Công nợ phải thu,
                                phải
                                trả</p>
                            <div class="wrap-height-table-cn">
                                <table class="display table"
                                    id="table-cnpt-2"
                                    style="width:
                                    100%;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Khách hàng</th>
                                            <th>Tên khách hàng</th>
                                            <th>Nhóm KH</th>
                                            <th>Tổng nợ(VND)</th>
                                            <th>Giới hạn nợ(VND)</th>
                                            <th>Vượt giới hạn(VND)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>test</td>
                                            <td>test</td>
                                            <td>test</td>
                                            <td>test</td>
                                            <td>test</td>
                                            <td>test</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12 mt-4">
                            <div class="box-kq">
                                <p>Phải thu - phải trả = </p>
                                <p class="ketqua">- 45000</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CN 2 !-->
        <div class="tab-pane fade" id="cn-2" role="tabpanel"
            aria-labelledby="profile-tab">
            <div class="row">
                <div class="col-md-2">
                    <div class="box-border sidebar-search">
                        <p class="box-border__title">Tiêu chí tìm kiếm</p>
                        <div class="box-select mt-4 mb-3">
                            <p><b>Chi nhánh</b></p>
                            <select name="" id="" class="w-100
                                select-gray">
                                <option value="">Test</option>
                                <option value="">Test</option>
                                <option value="">Test</option>
                            </select>
                        </div>
                        <div class="box-select mt-3 mb-3">
                            <p><b>Khách hàng</b></p>
                            <div class="position-relative">
                                <select name="" id="" class="col-10 p-0
                                    select-gray">
                                    <option value="">Test</option>
                                    <option value="">Test</option>
                                    <option value="">Test</option>
                                </select>
                                <span class="search-icon
                                    color-white
                                    absolute"
                                    id="button-danh-sach-nv"
                                    data-toggle="modal"
                                    data-target="#tim-kiem-khach-hang"><i
                                        class="fas
                                        fa-search"></i></span>
                            </div>


                        </div>
                        <div class="list-button mt-3">
                            <a href="#" class="btn btn-search d-block"><img
                                    src="../assets/images/btn-search.png"
                                    alt="" class="inline"><span
                                    class="inline">Tìm
                                    kiếm</span></a>
                            <a href="#" class="btn btn-export mt-1
                                d-block"><img
                                    src="../assets/images/btn-export.png"
                                    alt="" class="inline"><span
                                    class="inline">Xuất</span></a>
                            <a href="#" class="btn btn-print mt-1
                                d-block"><img
                                    src="../assets/images/btn-print.png"
                                    alt="" class="inline"><span
                                    class="inline">In</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="wrap-height-table">
                        <table class="table display table-striped"
                            style="width: 100%;" id="table_cn_chitiet">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Mã KH</th>
                                    <th>Tên KH</th>
                                    <th>Nhóm KH</th>
                                    <th>Điện thoại</th>
                                    <th>Di động</th>
                                    <th>Đại diện</th>
                                    <th>Ngày lập</th>
                                    <th>Số phiếu</th>
                                    <th>Lý do</th>
                                    <th>Nhân viên</th>
                                    <th>Hạn thanh toán</th>
                                    <th>Tiền tổng</th>
                                    <th>Tổng nợ(VND)</th>
                                    <th>Số trả(VND)</th>
                                    <th>Ngày công nợ</th>
                                    <th>Ghi chú</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#</td>
                                    <td>Test</td>
                                    <td>Test</td>
                                    <td>Test</td>
                                    <td>Test</td>
                                    <td>Test</td>
                                    <td>Test</td>
                                    <td>Test</td>
                                    <td>Test</td>
                                    <td>Test</td>
                                    <td>Test</td>
                                    <td>Test</td>
                                    <td>Test</td>
                                    <td>Test</td>
                                    <td>Test</td>
                                    <td>Test</td>
                                    <td>Test</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- CN 3-->
        <div class="tab-pane fade" id="cn-3" role="tabpanel"
            aria-labelledby="contact-tab">
            <div class="row">
                <div class="col-md-2">
                    <div class="box-border sidebar-search">
                        <p class="box-border__title">Tiêu chí tìm kiếm</p>
                        <!--Time-->
                        <div class="box-border mt-3">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6 pl-0 pr-1">
                                        <p>Từ ngày</p>
                                        <input type="text"
                                            class="choose-date
                                            w-100">
                                    </div>
                                    <div class="col-md-6 pr-0 pl-1">
                                        <p>Đến ngày</p>
                                        <input type="text"
                                            class="choose-date
                                            w-100">
                                    </div>
                                    <div class="col-md-12 mt-2 p-0">
                                        <select name="" id=""
                                            class="select-gray w-100">
                                            <option value="">Hôm nay</option>
                                            <option value="">Hôm qua</option>
                                            <option value="">Hôm kia</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Chi nhánh -->
                        <div class="box-border mt-3">
                            <table class="table w-100 table-a">
                                <thead>
                                    <tr>
                                        <th>Chi nhánh</th>
                                        <th class="text-center"><input
                                                type="checkbox"><span
                                                class="ml-1">Chọn</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>C-Dự phòng</td>
                                        <td class="text-center"><input
                                                type="checkbox"></td>
                                    </tr>
                                    <tr>
                                        <td>B-Kho hàng</td>
                                        <td class="text-center"><input
                                                type="checkbox"></td>
                                    </tr>
                                    <tr>
                                        <td>A-Cửa hàng</td>
                                        <td class="text-center"><input
                                                type="checkbox"></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="form-check-inline mt-2">
                                <label class="form-check-label">
                                    <input type="checkbox"
                                        class="form-check-input
                                        inline" value=""><span
                                        class="inline">Chọn
                                        tất</span>
                                </label>
                            </div>
                        </div>
                        <!-- List Button -->
                        <div class="list-button mt-3">
                            <a href="#" class="btn btn-search d-block"><img
                                    src="../assets/images/btn-search.png"
                                    alt="" class="inline"><span
                                    class="inline">Tìm
                                    kiếm</span></a>
                            <a href="#" class="btn btn-export mt-1
                                d-block"><img
                                    src="../assets/images/btn-export.png"
                                    alt="" class="inline"><span
                                    class="inline">Xuất</span></a>
                            <a href="#" class="btn btn-print mt-1
                                d-block"><img
                                    src="../assets/images/btn-print.png"
                                    alt="" class="inline"><span
                                    class="inline">In</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 wrap-table-2">
                    <div class="content">
                        <p class="title-head">Nội dung</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- CN 4-->
        <div class="tab-pane fade" id="cn-4" role="tabpanel"
            aria-labelledby="contact-tab">
            <div class="row">
                <div class="col-md-2">
                    <div class="box-border sidebar-search">
                        <p class="box-border__title">Tiêu chí tìm kiếm</p>
                        <!--Time-->
                        <div class="box-border mt-3">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6 pl-0 pr-1">
                                        <p>Từ ngày</p>
                                        <input type="text"
                                            class="choose-date
                                            w-100">
                                    </div>
                                    <div class="col-md-6 pr-0 pl-1">
                                        <p>Đến ngày</p>
                                        <input type="text"
                                            class="choose-date
                                            w-100">
                                    </div>
                                    <div class="col-md-12 mt-2 p-0">
                                        <select name="" id=""
                                            class="select-gray w-100">
                                            <option value="">Hôm nay</option>
                                            <option value="">Hôm qua</option>
                                            <option value="">Hôm kia</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Chi nhánh -->
                        <div class="box-border mt-3">
                            <table class="table w-100 table-a">
                                <thead>
                                    <tr>
                                        <th>Chi nhánh</th>
                                        <th class="text-center"><input
                                                type="checkbox"><span
                                                class="ml-1">Chọn</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>C-Dự phòng</td>
                                        <td class="text-center"><input
                                                type="checkbox"></td>
                                    </tr>
                                    <tr>
                                        <td>B-Kho hàng</td>
                                        <td class="text-center"><input
                                                type="checkbox"></td>
                                    </tr>
                                    <tr>
                                        <td>A-Cửa hàng</td>
                                        <td class="text-center"><input
                                                type="checkbox"></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="form-check-inline mt-2">
                                <label class="form-check-label">
                                    <input type="checkbox"
                                        class="form-check-input
                                        inline" value=""><span
                                        class="inline">Chọn
                                        tất</span>
                                </label>
                            </div>
                        </div>
                        <!-- List Button -->
                        <div class="list-button mt-3">
                            <a href="#" class="btn btn-search d-block"><img
                                    src="../assets/images/btn-search.png"
                                    alt="" class="inline"><span
                                    class="inline">Tìm
                                    kiếm</span></a>
                            <a href="#" class="btn btn-export mt-1
                                d-block"><img
                                    src="../assets/images/btn-export.png"
                                    alt="" class="inline"><span
                                    class="inline">Xuất</span></a>
                            <a href="#" class="btn btn-print mt-1
                                d-block"><img
                                    src="../assets/images/btn-print.png"
                                    alt="" class="inline"><span
                                    class="inline">In</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 wrap-table-2">
                    <div class="content">
                        <p class="title-head">Nội dung</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>