<div class="container-fluid wrap-table-2">
    <div class="bg-white p-3">
        <div class="row mt-4">
            <div class="col-md-2">
                <div class="box-border sidebar-search">
                    <p class="box-border__title">Tiêu chí tìm kiếm</p>
                    <div class="box-border mt-3 pt-4">
                        <p class="box-border__title" style="color: black;">Trạng
                            thái thẻ</p>
                        <div class="form-check mb-2">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"
                                    value=""> <span>Thẻ chưa trả</span>
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"
                                    value=""> <span>Thẻ chưa in</span>
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"
                                    value=""> <span>Thẻ đã in và đã trả</span>
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"
                                    value=""> <span>Thẻ đã in nhưng
                                    chưa trả</span>
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"
                                    value=""> <span>Tất cả</span>
                            </label>
                        </div>
                    </div>

                    <div class="list-button mt-3">
                        <a href="#" class="btn btn-search d-block
                            mt-2"><img src="../assets/images/btn-search.png"
                                alt="" class="inline"><span class="inline">Tìm
                                kiếm</span></a>
                        <a href="#" class="btn btn-export mt-1
                            d-block"><img
                                src="../assets/images/btn-export.png"
                                alt="" class="inline"><span
                                class="inline">Xuất</span></a>
                        <a href="#" class="btn btn-print mt-1
                            d-block"><img
                                src="../assets/images/tao-email.png"
                                alt="" class="inline"><span
                                class="inline">Gửi mail</span></a>
                        <a href="#" class="btn btn-print mt-1
                            d-block" data-toggle="modal"
                            data-target="#tim-kiem-khach-hang"><img
                                src="../assets/images/them-user.png"
                                alt="" class="inline"><span
                                class="inline">Thêm KHTT</span></a>
                        <a href="#" class="btn btn-save inline mt-1"><img
                                src="../assets/images/btn-save.png" alt=""
                                class="inline"><span class="inline">Ghi</span></a>
                        <a href="#" class="btn btn-close mt-1
                            inline mt-1"><img
                                src="../assets/images/btn-close.png"
                                alt="" class="inline"><span
                                class="inline">Đóng</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <p class="title-head text-uppercase">Quản lí in và cấp thẻ KHTT</p>
                <div class="wrap-height-table">
                    <table class="table display nowrap table-striped row-border
                        order-column table-khachhang fixed-2-column"
                        id="table-khtt" style="width:100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Mã Kh</th>
                                <th>Tên KH</th>
                                <th>Ngày sinh</th>
                                <th>Địa chỉ</th>
                                <th>Điện thoại</th>
                                <th>Di động</th>
                                <th>Hạng thẻ</th>
                                <th>Ngày cấp</th>
                                <th>Ngày hết hạn</th>
                                <th>Ngày mua lần cuối</th>
                                <th>Tổng tích lũy</th>
                                <th>Số lần mua</th>
                                <th>Hiện trạng thẻ</th>
                                <th>In</th>
                                <th>Trả thẻ</th>
                                <th>Ngày trả thẻ</th>
                                <th>Số lượng xu</th>
                                <th>Tổng tiền xu</th>
                                <th>Tổng đã trả</th>
                                <th>Tổng còn nợ</th>
                                <th>Tổng xu đã trả</th>
                                <th>Tổng xu còn nợ</th>
                                <th>Tỉ lệ nhân xu</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@@include("../khachhang/popup/tim-kiem-khach-hang.html")