<div class="container-fluid wrap-table-2 table-mat-hang">
    <div class="row">
        <div class="col-md-12">
            <div class="list-button bg-gray text-left">
                <a href="#" class="btn btn-add inline"
                    data-toggle="modal" data-target="#them-mat-hang"><img
                        src="../assets/images/btn-add.png"
                        alt="" class="inline">
                    <span class="inline">Thêm</span></a>
                <a href="#" class="btn btn-fix inline"
                    data-toggle="modal"
                    data-target="#form-add-group-user"><img
                        src="../assets/images/btn-fix.png"
                        alt="" class="inline"><span
                        class="inline">Sửa</span></a>
                <a href="#" class="btn btn-fix inline"><img
                        src="../assets/images/btn-del.png"
                        alt="" class="inline"><span
                        class="inline">Xóa</span></a>
                <a href="#" class="btn btn-save inline"><img
                        src="../assets/images/btn-save.png"
                        alt="" class="inline"><span
                        class="inline">Ghi</span></a>
                <a href="#" class="btn btn-fix inline"><img
                        src="../assets/images/btn-import.png"
                        alt="" class="inline"><span
                        class="inline">Nạp</span></a>
                <a href="#" class="btn btn-print
                    inline"><img
                        src="../assets/images/btn-print.png"
                        alt="" class="inline"><span
                        class="inline">In</span></a>
                <a href="#" class="btn btn-fix inline"><img
                        src="../assets/images/btn-export.png"
                        alt="" class="inline"><span
                        class="inline">Xuất</span></a>
                <a href="#" class="btn
                    btn-export
                    inline" title="Paste từ
                    excel sử dụng mã hàng"><img
                        src="../assets/images/paste-excel.png" alt=""
                        class="inline"><span class="inline">Excel</span></a>
                <a href="#" class="btn btn-question
                    inline"><img
                        src="../assets/images/question.png"
                        alt="" class="inline"><span
                        class="inline">Hỏi</span></a>
                <a href="#" class="btn btn-fix inline"><img
                        src="../assets/images/btn-close.png"
                        alt="" class="inline"><span
                        class="inline">Đóng</span></a>
            </div>
        </div>
    </div>
    <div class="table-nhom-kh">
        <div class="row">
            <div class="col-md-2">
                <div class="box-dia-chi box-info">
                    <p class="title-head">Danh mục nhóm hàng</p>
                    <div class="content mt-2">
                        <p class="title-list"><img
                                src="../../assets/images/tick.png" alt=""
                                class="inline mr-1"><span class="inline">Nhóm</span>
                        </p>
                        <ul class="list-group">
                            <li>Something - 1</li>
                            <li>Something - 2</li>
                            <li>Something - 3</li>
                            <li>Something - 4</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="box-title list-button d-flex">
                    <p class="title-head inline mr-2">Mặt hàng</p>
                    <a href="sua-mat-hang-theo-lo-table.html"
                        class="btn
                        btn-watch flex
                        inline"><img
                            src="../assets/images/btn-watch.png"
                            alt="" class="inline">Sửa mặt hàng theo lô</a>
                </div>
                <div class="wrap-height-table">
                    <table class="table display"
                        id="table-mat-hang">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Mã hàng</th>
                                <th>Tên hàng</th>
                                <th>Alias</th>
                                <th>Mô tả</th>
                                <th>Nhóm hàng</th>
                                <th>Giá nhập</th>
                                <th>Giá bán lẻ</th>
                                <th>Giá bán buôn</th>
                                <th>ĐVT</th>
                                <th>NCC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('popup/them-mat-hang.html')