<div class="container-fluid wrap-table-2 table-mat-hang">
    <div class="table-nhom-kh">
        <div class="row">
            <div class="col-md-2">
                <div class="box-dia-chi box-info">
                    <p class="title-head">Danh mục nhóm hàng</p>
                    <div class="content mt-2">
                        <p class="title-list"><img
                                src="../../assets/images/tick.png" alt=""
                                class="inline mr-1"><span class="inline">Nhóm</span>
                        </p>
                        <ul class="list-group">
                            <li>Something - 1</li>
                            <li>Something - 2</li>
                            <li>Something - 3</li>
                            <li>Something - 4</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="box-title list-button d-flex">
                    <p class="title-head inline mr-2">Mặt hàng</p>
                    <a href="#" class="btn btn-watch flex
                        inline"><img
                            src="../assets/images/btn-watch.png"
                            alt="" class="inline">Hiển thị số lượng tồn kho</a>
                </div>
                <div class="wrap-height-table">
                    <table class="table display"
                        id="table-sua-mat-hang">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Mã hàng</th>
                                <th>Tên hàng</th>
                                <th>Alias</th>
                                <th>Mô tả</th>
                                <th>Nhóm hàng</th>
                                <th>Giá nhập</th>
                                <th>Giá bình quân(VNĐ)</th>
                                <th>Giá bán lẻ</th>
                                <th>Giá bán buôn</th>
                                <th>Giá bán 1</th>
                                <th>Giá bán 2</th>
                                <th>Giá bán 3</th>
                                <th>Giá bán 4</th>
                                <th>Giá bán 5</th>
                                <th>Giá bán 6</th>
                                <th>Giá bán 7</th>
                                <th>Giá bán 8</th>
                                <th>Thuế</th>
                                <th>SL tồn Max</th>
                                <th>SL tồn Min</th>
                                <th>Có Serial</th>
                                <th>Ghi chú</th>
                                <th>Theo dõi</th>
                                <th>Bảo hành</th>
                                <th>Ngày tạo</th>
                                <th>Ngày sửa</th>
                                <th>Người tạo/sửa</th>
                                <th>Thuộc loại</th>
                                <th>Nhà cung cấp</th>
                                <th>ĐVT</th>
                                <th>Chu kỳ (ngày)</th>
                                <th>Mã ngắn</th>
                                <th>Tên ngắn</th>
                                <th>Tỉ suất lợi nhuận</th>
                                <th>Upload lên web</th>
                                <th>Mô tả cho web</th>
                                <th>Chiết khấu KHTT</th>
                                <th>Không tích điểm KHTT</th>
                                <th>Hàng chính</th>
                                <th>LN gộp bán lẻ</th>
                                <th>LN gộp bán buôn</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>Max = </th>
                                <th>Max = </th>
                                <th>Max = </th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="list-button bg-gray text-right d-flex
                    justify-content-end mt-3">
                    <a href="#" class="btn btn-normal inline">Paste Form Excel</a>
                    <select name="" id="" class="btn btn-normal">
                        <option value="">Hiển thị mặt hàng chưa phát sinh giao
                            dịch</option>
                        <option value="">Hiển thị tất cả</option>
                    </select>
                    <a href="#" class="btn btn-normal inline">Export Excel</a>
                    <div class="btn-group dropup">
                        <button type="button" class="btn btn-secondary
                            dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Chọn tác vụ
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"
                                data-toggle="modal"
                                data-target="#kiem-tra-duplicate">Kiểm tra
                                duplicate</a>
                            <a class="dropdown-item" data-toggle="modal"
                                data-target="#kiem-tra-space" href="#">Kiểm
                                tra thừa kí
                                tự trống(space)</a>
                        </div>
                    </div>
                    <a href="#" class="btn btn-fix inline"><img
                            src="../assets/images/btn-import.png"
                            alt="" class="inline"><span
                            class="inline">Nạp</span></a>
                    <a href="#" class="btn btn-save inline"><img
                            src="../assets/images/btn-save.png"
                            alt="" class="inline"><span
                            class="inline">Ghi</span></a>
                    <a href="#" class="btn btn-fix inline"><img
                            src="../assets/images/btn-close.png"
                            alt="" class="inline"><span
                            class="inline">Đóng</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</div>

@@include('popup/kiem-tra-duplicate.html')
@@include('popup/kiem-tra-space.html')
