<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="ql-user user-table wrap-table-pq">
                <div class="user-table__header">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="list-button text-left">
                                <a href="#" class="btn btn-add inline"
                                    data-toggle="modal"
                                    data-target="#them-khach-hang"><img
                                        src="../assets/images/btn-add.png"
                                        alt="" class="inline">
                                    <span class="inline">Thêm</span></a>
                                <a href="#" class="btn btn-fix inline"
                                    data-toggle="modal"
                                    data-target="#form-add-group-user"><img
                                        src="../assets/images/btn-fix.png"
                                        alt="" class="inline"><span
                                        class="inline">Sửa</span></a>
                                <a href="#" class="btn btn-del inline"><img
                                        src="../assets/images/btn-del.png"
                                        alt="" class="inline"><span
                                        class="inline">Xóa</span></a>
                                <a href="#" class="btn btn-fix inline"><img
                                        src="../assets/images/btn-import.png"
                                        alt="" class="inline"><span
                                        class="inline">Nạp</span></a>
                                <a href="#" class="btn btn-send-email
                                    inline"><img
                                        src="../assets/images/btn-note.png"
                                        alt="" class="inline"><span
                                        class="inline">Notes</span></a>
                                <a href="#" class="btn btn-export inline"><img
                                        src="../assets/images/btn-export.png"
                                        alt="" class="inline"><span
                                        class="inline">Xuất</span></a>
                                <a href="#" class="btn btn-export inline"><img
                                        src="../assets/images/btn-import-2.png"
                                        alt="" class="inline"><span
                                        class="inline">Nhập</span></a>
                                <a href="#" class="btn btn-export inline"><img
                                        src="../assets/images/nhapkh.png"
                                        alt="" class="inline"><span
                                        class="inline">Nhập KHCS</span></a>
                                <a href="#" class="btn btn-import inline"><img
                                        src="../assets/images/btn-import.png"
                                        alt="" class="inline"><span
                                        class="inline">Nạp</span></a>
                                <a href="#" class="btn btn-print inline"><img
                                        src="../assets/images/btn-print.png"
                                        alt="" class="inline"><span
                                        class="inline">In</span></a>
                                <a href="#" class="btn btn-close inline"><img
                                        src="../assets/images/btn-close.png"
                                        alt="" class="inline"><span
                                        class="inline">Đóng</span></a>
                                <a href="#" class="btn btn-question
                                    inline"><img
                                        src="../assets/images/question.png"
                                        alt="" class="inline"><span
                                        class="inline">Hỏi</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap-height-table">
                    <table class="table display nowrap table-striped row-border
                        order-column fixed-2-column"
                        id="table-chinhanh" style="width:100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên chi nhánh</th>
                                <th>Mô tả</th>
                                <th>Địa chỉ CN</th>
                                <th>Quốc gia</th>
                                <th>Fax</th>
                                <th>Tên công ty</th>
                                <th>Phone</th>
                                <th>ZIP code</th>
                                <th>Ngày đăng kí</th>
                                <th>Ghi chú</th>
                                <th>Địa chỉ C1</th>
                                <th>Địa chỉ C2</th>
                                <th>Địa chỉ C3</th>
                                <th>Sơ đồ tổ chức C</th>
                                <th>Sơ đồ tổ chức C</th>
                                <th>Sơ đồ tổ chức C</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- @@include('popup/gui-email.html') -->
@@include('popup/them-chi-nhanh.html')