@@include('./modules/head.html')
@@include('./modules/header.html')
<main class="wrapper">
        <div class="container">
                <div class="row">
                        <div class="col-md-12">
                                <div class="list-button text-center pt-4">
                                        <!-- Button thêm -->
                                        <a href="#" class="btn btn-add inline"
                                                data-toggle="modal"
                                                data-target="#form-add"><img
                                                        src="../assets/images/btn-add.png"
                                                        alt="" class="inline">
                                                <span
                                                        class="inline">Thêm</span></a>
                                        <!-- Button Sửa -->
                                        <a href="#" class="btn btn-fix inline"
                                                data-toggle="modal"
                                                data-target="#form-add-group-user"><img
                                                        src="../assets/images/btn-fix.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Sửa</span></a>
                                        <!-- Button Xóa -->
                                        <a href="#" class="btn btn-del inline"><img
                                                        src="../assets/images/btn-del.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Xóa</span></a>
                                        <!-- Button xuất -->
                                        <a href="#" class="btn btn-export
                                                inline"><img
                                                        src="../assets/images/btn-export.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Xuất</span></a>
                                        <!-- Button thoát -->
                                        <a href="#" class="btn btn-out inline"><img
                                                        src="../assets/images/btn-out.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Thoát</span></a>
                                        <!-- Button ghi -->
                                        <a href="#" class="btn btn-save inline"><img
                                                        src="../assets/images/btn-save.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Ghi</span></a>
                                        <!-- Button nạp -->
                                        <a href="#" class="btn btn-import
                                                inline"><img
                                                        src="../assets/images/btn-import.png"
                                                        alt="" class="inline"><span
                                                        class="inline">nạp</span></a>
                                        <!-- Button In -->
                                        <a href="#" class="btn btn-print
                                                inline"><img
                                                        src="../assets/images/btn-print.png"
                                                        alt="" class="inline"><span
                                                        class="inline">In</span></a>
                                        <!-- Button hỏi -->
                                        <a href="#" class="btn btn-question
                                                inline"><img
                                                        src="../assets/images/question.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Hỏi</span></a>
                                        <!-- Button đóng -->
                                        <a href="#" class="btn btn-close
                                                inline"><img
                                                        src="../assets/images/btn-close.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Đóng</span></a>
                                        <!-- Button hỏi -->
                                        <a href="#" class="btn btn-question
                                                inline"><img
                                                        src="../assets/images/question.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Hỏi</span></a>
                                        <!-- Button tạo email -->
                                        <a href="#" class="btn btn-create-email
                                                inline"><img
                                                        src="../assets/images/tao-email.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Tạo
                                                        email mới</span></a>
                                        <!-- Button gửi Email -->
                                        <a href="#" class="btn btn-send-email
                                                inline"><img
                                                        src="../assets/images/gui-email.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Gửi email</span>
                                        </a>
                                        <!-- Button note -->
                                        <a href="#" class="btn btn-send-email
                                                inline"><img
                                                        src="../assets/images/btn-note.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Notes</span></a>
                                        <!-- Button watch -->
                                        <a href="#" class="btn btn-watch
                                                inline"><img
                                                        src="../assets/images/btn-watch.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Xem</span></a>
                                        <!-- Button Find -->
                                        <a href="#" class="btn btn-search
                                                inline"><img
                                                        src="../assets/images/btn-search.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Tìm</span></a>
                                        <!-- Button Copy -->
                                        <a href="#" class="btn btn-copy
                                                inline"><img
                                                        src="../assets/images/btn-copy.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Copy</span></a>
                                        <!-- Button Sales Order -->
                                        <a href="#" class="btn btn-copy
                                                inline"><img
                                                        src="../assets/images/btn-copy.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Sale
                                                        Order(SO)</span></a>
                                        <!-- Button Nhập kho -->
                                        <a href="#" class="btn btn-nhap-kho
                                                inline"><img
                                                        src="../assets/images/btn-nhapkho.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Phiếu
                                                        nhập kho</span></a>
                                        <!-- Button chuyển kho -->
                                        <a href="#" class="btn btn-chuyen-kho
                                                inline"><img
                                                        src="../assets/images/btn-chuyenkho.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Phiếu
                                                        chuyển kho</span></a>
                                        <!-- Button chuyển kho -->
                                        <a href="#" class="btn btn-hang-tra-lai
                                                inline"><img
                                                        src="../assets/images/btn-hangtralai.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Hàng mua
                                                        trả lại</span></a>
                                        <!-- Button tick -->
                                        <a href="#" class="btn btn-tick
                                                inline"><img
                                                        src="../assets/images/btn-tick.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Check
                                                        sale</span></a>
                                        <!-- Button open folder -->
                                        <a href="#" class="btn btn-open-folder
                                                inline"><img
                                                        src="../assets/images/btn-open-folder.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Open file</span></a>
                                        <!-- Nhập -->
                                        <a href="#" class="btn btn-export
                                                inline"><img
                                                        src="../assets/images/btn-import-2.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Nhập</span></a>
                                        <!-- Nhập KHCS -->
                                        <a href="#" class="btn btn-export
                                                inline"><img
                                                        src="../assets/images/nhapkh.png"
                                                        alt="" class="inline"><span
                                                        class="inline">Nhập KHCS</span></a>
                                </div>
                        </div>
                </div>
        </div>
</main>
@@include('./modules/footer-script.html')
@@include('./modules/footer.html')