
@@include('./modules/head.html')
@@include('./modules/header.html')


<main class="wrapper">

    <div class="wrap-table">
        <div class="container-fluid">
            <div class="wrap-table__header">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box-choose-time">
                            <p class="mr-2">Xem nhật ký từ</p>
                            <input class="datepicker mr-2" id="chooseDate_To"
                                data-date-format="mm/dd/yyyy">
                            <p class="mr-2">Đến</p>
                            <input class="datepicker mr-2" id="chooseDate_Form"
                                data-date-format="mm/dd/yyyy">
                            <select name="" id="" class="mr-2">
                                <option value="">Hôm nay</option>
                                <option value="">Hôm sau</option>
                                <option value="">Hôm bữa</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="list-button text-right">
                            <!-- Button thêm -->
                            <a href="#" class="btn btn-add inline"
                                data-toggle="modal"
                                data-target="#form-add"><img
                                    src="../assets/images/btn-add.png"
                                    alt="" class="inline">
                                <span
                                    class="inline">Thêm</span></a>
                            <!-- Button Sửa -->
                            <a href="#" class="btn btn-fix inline"
                                data-toggle="modal"
                                data-target="#form-add-group-user"><img
                                    src="../assets/images/btn-fix.png"
                                    alt="" class="inline"><span
                                    class="inline">Sửa</span></a>
                            <!-- Button Xóa -->
                            <a href="#" class="btn btn-del inline"><img
                                    src="../assets/images/btn-del.png"
                                    alt="" class="inline"><span
                                    class="inline">Xóa</span></a>
                            <a href="#" class="btn btn-del inline"><img
                                    src="../assets/images/btn-del.png"
                                    alt="" class="inline"><span
                                    class="inline">Xóa tất</span></a>
                            <!-- Button xuất -->
                            <a href="#" class="btn btn-export
                                inline"><img
                                    src="../assets/images/btn-export.png"
                                    alt="" class="inline"><span
                                    class="inline">Xuất</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="wrap-height-table">
                        <table class="table nowrap table-striped row-border
                            order-column" id="nhat-ky-nguoi-dung" style="width:
                            100%;">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên truy cập</th>
                                    <th>Tên NSD</th>
                                    <th>Tên máy truy cập</th>
                                    <th>Login</th>
                                    <th>Logout</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>AN</td>
                                    <td>test</td>
                                    <td>Hihihaha</td>
                                    <td>Something</td>
                                    <td>Something</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>AN</td>
                                    <td>test</td>
                                    <td>Hihihaha</td>
                                    <td>Something</td>
                                    <td>Something</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>AN</td>
                                    <td>test</td>
                                    <td>Hihihaha</td>
                                    <td>Something</td>
                                    <td>Something</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>AN</td>
                                    <td>test</td>
                                    <td>Hihihaha</td>
                                    <td>Something</td>
                                    <td>Something</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>AN</td>
                                    <td>test</td>
                                    <td>Hihihaha</td>
                                    <td>Something</td>
                                    <td>Something</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>AN</td>
                                    <td>test</td>
                                    <td>Hihihaha</td>
                                    <td>Something</td>
                                    <td>Something</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>AN</td>
                                    <td>test</td>
                                    <td>Hihihaha</td>
                                    <td>Something</td>
                                    <td>Something</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>AN</td>
                                    <td>test</td>
                                    <td>Hihihaha</td>
                                    <td>Something</td>
                                    <td>Something</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>AN</td>
                                    <td>test</td>
                                    <td>Hihihaha</td>
                                    <td>Something</td>
                                    <td>Something</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>AN</td>
                                    <td>test</td>
                                    <td>Hihihaha</td>
                                    <td>Something</td>
                                    <td>Something</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>AN</td>
                                    <td>test</td>
                                    <td>Hihihaha</td>
                                    <td>Something</td>
                                    <td>Something</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>AN</td>
                                    <td>test</td>
                                    <td>Hihihaha</td>
                                    <td>Something</td>
                                    <td>Something</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="container-fluid">
        <div class="header-green">
            <div class="row">
                <div class="col-md-6">
                    <div class="box-choose-time">
                        <p class="mr-2">Xem nhật ký từ</p>
                        <input class="datepicker mr-2" id="chooseDate"
                            data-date-format="mm/dd/yyyy">
                        <p class="mr-2">Đến</p>
                        <input class="datepicker mr-2" id="chooseDate"
                            data-date-format="mm/dd/yyyy">
                        <select name="" id="" class="mr-2">
                            <option value="">Hôm nay</option>
                            <option value="">Hôm sau</option>
                            <option value="">Hôm bữa</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="list-button text-right">
                        <a href="#" class="btn btn-add inline"
                            data-toggle="modal"
                            data-target="#them-nhan-vien"><i class="fal
                                fa-plus-square"></i>Thêm</a>
                        <a href="#" class="btn btn-fix inline"
                            data-toggle="modal"
                            data-target="#form-add"><i class="fas fa-wrench"></i>Sửa</a>
                        <a href="#" class="btn btn-del inline"><i class="fas
                                fa-trash-alt"></i>Xóa</a>
                        <a href="#" class="btn btn-export inline"><i class="fas
                                fa-download"></i>Xuất</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table nowrap table-striped row-border
        order-column" id="nhat-ky-nguoi-dung" style="width: 100%;">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên truy cập</th>
                <th>Tên NSD</th>
                <th>Tên máy truy cập</th>
                <th>Login</th>
                <th>Logout</th>
            </tr>
        </thead>
    </table> -->
</main>



@@include('./modules/footer-script.html')
@@include('./modules/footer.html')
