<!-- Modal -->
<div class="modal fade default-popup popup-them-tien-to" id="them-tien-to"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup">Chọn tiêu chí kiểm tra
                    duplicate</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input"
                            name="optradio">Tiền tố
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input"
                            name="optradio">Hậu tố
                    </label>
                </div>
                <p class="mt-2">Tìm Excel Sheets chứa tiền tố hoặc hậu tố</p>
                <div class="box-select">
                    <select name="" id="" class="inline w-80">
                        <option value=""></option>
                    </select>
                    <input type="file" class="btn btn-default inline"
                        placeholder="...">
                </div>
                <table class="table display" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Subfix</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>somethings</td>
                        </tr>
                    </tbody>
                </table>
                <div class="box-button">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"
                                name="optradio">Tự động tạo Alias
                        </label>
                    </div>
                    <button class="btn btn-secondary inline">Tạo mẫu nhập</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>