<!-- Modal -->
<div class="modal fade default-popup popup-chuc-nang" id="chuc-nang"
    tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Giải
                    pháp
                    chức năng</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body relative">
                <div class="list-action">
                    <button class="btn"><i class="fal fa-angle-right"></i></button>
                    <button class="btn"><i class="fal fa-angle-double-right"></i></button>
                    <div class="m-3"></div>
                    <button class="btn"><i class="fal fa-angle-left"></i></button>
                    <button class="btn"><i class="fal fa-angle-double-left"></i></button>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box-form">
                                <div class="box-form__row">
                                    <label for="">Mã chức năng</label>
                                    <input type="text"
                                        placeholder="search...">
                                </div>
                                <div class="box-form__row">
                                    <label for="">tên chức năng</label>
                                    <input type="text"
                                        placeholder="search...">
                                </div>
                            </div>
                            <p class="title-nau mb-1">Chức năng hiện có</p>
                            <div class="wrap-height-table">
                                <table class="table display table-hover
                                    table-chuc-nang" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th class="stt">#</th>
                                            <th class="name-user">
                                                Mã chức năng
                                            </th>
                                            <th class="name-full">
                                                Tên chức năng
                                            </th>
                                            <th>
                                                Tên chức năng VN
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>BCCC</td>
                                            <td>Sổ kho</td>
                                            <td>Báo cáo thu tiền hàng</td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>BCCC</td>
                                            <td>Sổ kho</td>
                                            <td>Báo cáo thu tiền hàng</td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>BCCC</td>
                                            <td>Sổ kho</td>
                                            <td>Báo cáo thu tiền hàng</td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>BCCC</td>
                                            <td>Sổ kho</td>
                                            <td>Báo cáo thu tiền hàng</td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>BCCC</td>
                                            <td>Sổ kho</td>
                                            <td>Báo cáo thu tiền hàng</td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>BCCC</td>
                                            <td>Sổ kho</td>
                                            <td>Báo cáo thu tiền hàng</td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>BCCC</td>
                                            <td>Sổ kho</td>
                                            <td>Báo cáo thu tiền hàng</td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>BCCC</td>
                                            <td>Sổ kho</td>
                                            <td>Báo cáo thu tiền hàng</td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>BCCC</td>
                                            <td>Sổ kho</td>
                                            <td>Báo cáo thu tiền hàng</td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>BCCC</td>
                                            <td>Sổ kho</td>
                                            <td>Báo cáo thu tiền hàng</td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>BCCC</td>
                                            <td>Sổ kho</td>
                                            <td>Báo cáo thu tiền hàng</td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>BCCC</td>
                                            <td>Sổ kho</td>
                                            <td>Báo cáo thu tiền hàng</td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>BCCC</td>
                                            <td>Sổ kho</td>
                                            <td>Báo cáo thu tiền hàng</td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>BCCC</td>
                                            <td>Sổ kho</td>
                                            <td>Báo cáo thu tiền hàng</td>
                                            <td><input type="checkbox"></td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                            <div class="list-button">
                                <a href="#" class="btn btn-export
                                    inline"><img
                                        src="../assets/images/btn-export.png"
                                        alt="" class="inline"><span
                                        class="inline">Xuất</span></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box-checkbox">
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio"
                                            class="form-check-input"
                                            name="optradio">Mới
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio"
                                            class="form-check-input"
                                            name="optradio">Thêm
                                    </label>
                                </div>
                            </div>
                            <p class="title-nau">Chức năng được chọn</p>
                            <div class="wrap-height-table">
                                <table class="table table-hover
                                    table-chuc-nang">
                                    <thead>
                                        <tr>
                                            <th class="stt">#</th>
                                            <th class="name-user">
                                                Mã chức năng
                                            </th>
                                            <th class="name-full">
                                                Tên chức năng
                                            </th>
                                            <th>
                                                Tên chức năng VN
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>BBCC</td>
                                            <td>ANDEPTRAI</td>
                                            <td>ANDEPTRAI</td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                            <div class="list-button">
                                <a href="#" class="btn btn-export
                                    inline"><img
                                        src="../assets/images/btn-export.png"
                                        alt="" class="inline"><span
                                        class="inline">Xuất</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
