 <!-- POPUP FORM ADD -->
<div class="modal fade default-popup popup-form-add" id="form-add"
    tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"
        role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup"
                    id="exampleModalLongTitle">Thêm/sửa user</h5>
                <button type="button" class="close"
                    data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <form class="add-info">
                                <div class="form-row">
                                    <p>Tên đầy đủ</p>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <p>Mật khẩu</p>
                                    <input type="password">
                                </div>
                                <div class="form-row">
                                    <p>Xác nhận mật khẩu</p>
                                    <input type="password">
                                </div>
                                <div class="form-row">
                                    <p>Tên đầy đủ</p>
                                    <input type="text">
                                    <span class="search-icon"
                                        id="button-danh-sach-nv"
                                        data-toggle="modal"
                                        data-target="#danh-sach-nv"><i
                                            class="fas fa-list"></i></span>
                                </div>
                                <div class="form-row">
                                    <p>Email</p>
                                    <input type="Email">
                                </div>
                            </form>
                            <div class="wrap-table">
                                <p class="title">Trực thuộc
                                    nhóm user</p>
                                <table class="table
                                    table-hover
                                    table-fixed
                                    table-ddform-a">
                                    <thead>
                                        <tr>
                                            <th class="stt">#</th>
                                            <th
                                                class="name-user">
                                                Tên nhóm
                                            </th>
                                            <th
                                                class="name-full">
                                                Chọn
                                            </th>
                                            <th>
                                                Nhóm chính
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td><input
                                                    type="checkbox"></td>
                                            <td><input
                                                    type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td><input
                                                    type="checkbox"></td>
                                            <td><input
                                                    type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td><input
                                                    type="checkbox"></td>
                                            <td><input
                                                    type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td><input
                                                    type="checkbox"></td>
                                            <td><input
                                                    type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td><input
                                                    type="checkbox"></td>
                                            <td><input
                                                    type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td><input
                                                    type="checkbox"></td>
                                            <td><input
                                                    type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td><input
                                                    type="checkbox"></td>
                                            <td><input
                                                    type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td><input
                                                    type="checkbox"></td>
                                            <td><input
                                                    type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td><input
                                                    type="checkbox"></td>
                                            <td><input
                                                    type="checkbox"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td><input
                                                    type="checkbox"></td>
                                            <td><input
                                                    type="checkbox"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="content-check-kho">
                                <p class="title-small">Kho
                                    được quyền nhập liệu</p>
                                <div class="wrap-table">
                                    <p class="title">Check
                                        vào
                                        các kho cho
                                        phép user sau này
                                        được
                                        quyền nhập liệu</p>
                                    <table class="table
                                        table-hover
                                        table-fixed
                                        table-check-kho">
                                        <thead>
                                            <tr>
                                                <th
                                                    class="stt">#</th>
                                                <th
                                                    class="name-user">
                                                    Showroom/
                                                    chi
                                                    nhánh
                                                </th>
                                                <th
                                                    class="name-full">
                                                    Mã kho
                                                </th>
                                                <th>
                                                    <input type="checkbox"
                                                        class="inline">
                                                    <span class="inline">Chọn</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th
                                                    scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td><input
                                                        type="checkbox"></td>
                                            </tr>
                                            <tr>
                                                <th
                                                    scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td><input
                                                        type="checkbox"></td>
                                            </tr>
                                            <tr>
                                                <th
                                                    scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td><input
                                                        type="checkbox"></td>
                                            </tr>
                                            <tr>
                                                <th
                                                    scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td><input
                                                        type="checkbox"></td>
                                            </tr>
                                            <tr>
                                                <th
                                                    scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td><input
                                                        type="checkbox"></td>
                                            </tr>
                                            <tr>
                                                <th
                                                    scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td><input
                                                        type="checkbox"></td>
                                            </tr>
                                            <tr>
                                                <th
                                                    scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td><input
                                                        type="checkbox"></td>
                                            </tr>
                                            <tr>
                                                <th
                                                    scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td><input
                                                        type="checkbox"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn
                    btn-primary">Lưu</button>
                <button type="button" class="btn
                    btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


<!-- Danh mục nhân viên -->
<div class="modal fade default-popup popup-danhsach-nv" id="danh-sach-nv"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Danh
                    mục nhân viên</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="list-button text-left">
                    <a href="#" class="btn btn-add inline" data-toggle="modal"
                        data-target="#them-nhan-vien"><img
                            src="../assets/images/btn-add.png" alt=""
                            class="inline"> <span class="inline">Thêm</span></a>
                    <a href="#" class="btn btn-fix inline" style="font-weight:
                        500;"><img src="../assets/images/btn-fix.png"
                            alt="" class="inline"><span class="inline">Sửa</span></a>
                    <a href="#" class="btn btn-fix inline"><img
                            src="../assets/images/btn-del.png" alt=""
                            class="inline"><span class="inline">Xóa</span></a>
                    <a href="#" class="btn btn-fix inline"><img
                            src="../assets/images/btn-import.png" alt=""
                            class="inline"><span class="inline">Nạp</span></a>
                    <a href="#" class="btn btn-fix inline"><img
                            src="../assets/images/btn-export.png" alt=""
                            class="inline"><span class="inline">Xuất</span></a>
                </div>
                <div class="wrap-height-table">
                    <table class="table display nowrap table-striped row-border
                        order-column table-nv-2" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Mã NV</th>
                                <th>
                                    Tên NV
                                </th>
                                <th>
                                    Địa chỉ
                                </th>
                                <th>
                                    Điện thoại
                                </th>
                                <th>
                                    Di động
                                </th>
                                <th>
                                    Ngày sinh
                                </th>
                                <th>
                                    Giới tính
                                </th>
                                <th>
                                    Chức vụ
                                </th>
                                <th>
                                    Mức lương
                                </th>
                                <th>
                                    CMTND
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Gia đình
                                </th>
                                <th>
                                    Quê quán
                                </th>
                                <th>
                                    Theo dõi
                                </th>
                                <th>
                                    Nhóm
                                </th>
                                <th>
                                    Ngày tạo mã
                                </th>
                                <th>
                                    Người QL
                                </th>
                                <th>
                                    Làm việc tại C
                                </th>
                                <th>
                                    Địa chỉ 2
                                </th>
                                <th>
                                    Ghi chú
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>NVDEPTRAI</td>
                                <td>AnCute</td>
                                <td>Ở đâu còn lâu mới nói</td>
                                <td>0123456789</td>
                                <td>9876543215</td>
                                <td>25/8/2020</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Vô tận</td>
                                <td>Cái này là gì k biết</td>
                                <td>Test@gmail.com</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>?</td>
                                <td>Test</td>
                                <td>30/10/2030</td>
                                <td>Test</td>
                                <td>Mona Media</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>NVDEPTRAI</td>
                                <td>AnCute</td>
                                <td>Ở đâu còn lâu mới nói</td>
                                <td>0123456789</td>
                                <td>9876543215</td>
                                <td>25/8/2020</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Vô tận</td>
                                <td>Cái này là gì k biết</td>
                                <td>Test@gmail.com</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>?</td>
                                <td>Test</td>
                                <td>30/10/2030</td>
                                <td>Test</td>
                                <td>Mona Media</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>NVDEPTRAI</td>
                                <td>A Thức Giấc</td>
                                <td>Ở đâu còn lâu mới nói</td>
                                <td>0123456789</td>
                                <td>9876543215</td>
                                <td>25/8/2020</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Vô tận</td>
                                <td>Cái này là gì k biết</td>
                                <td>Test@gmail.com</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>?</td>
                                <td>Test</td>
                                <td>30/10/2030</td>
                                <td>Test</td>
                                <td>Mona Media</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>NVDEPTRAI</td>
                                <td>A Đạt Tốc Độ</td>
                                <td>Ở đâu còn lâu mới nói</td>
                                <td>0123456789</td>
                                <td>9876543215</td>
                                <td>25/8/2020</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Vô tận</td>
                                <td>Cái này là gì k biết</td>
                                <td>Test@gmail.com</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>?</td>
                                <td>Test</td>
                                <td>30/10/2030</td>
                                <td>Test</td>
                                <td>Mona Media</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>NVDEPTRAI</td>
                                <td>A Quang Test</td>
                                <td>Ở đâu còn lâu mới nói</td>
                                <td>0123456789</td>
                                <td>9876543215</td>
                                <td>25/8/2020</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Vô tận</td>
                                <td>Cái này là gì k biết</td>
                                <td>Test@gmail.com</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>?</td>
                                <td>Test</td>
                                <td>30/10/2030</td>
                                <td>Test</td>
                                <td>Mona Media</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>NVDEPTRAI</td>
                                <td>AnCute</td>
                                <td>Ở đâu còn lâu mới nói</td>
                                <td>0123456789</td>
                                <td>9876543215</td>
                                <td>25/8/2020</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Vô tận</td>
                                <td>Cái này là gì k biết</td>
                                <td>Test@gmail.com</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>?</td>
                                <td>Test</td>
                                <td>30/10/2030</td>
                                <td>Test</td>
                                <td>Mona Media</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>NVDEPTRAI</td>
                                <td>AnCute</td>
                                <td>Ở đâu còn lâu mới nói</td>
                                <td>0123456789</td>
                                <td>9876543215</td>
                                <td>25/8/2020</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Vô tận</td>
                                <td>Cái này là gì k biết</td>
                                <td>Test@gmail.com</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>?</td>
                                <td>Test</td>
                                <td>30/10/2030</td>
                                <td>Test</td>
                                <td>Mona Media</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>NVDEPTRAI</td>
                                <td>AnCute</td>
                                <td>Ở đâu còn lâu mới nói</td>
                                <td>0123456789</td>
                                <td>9876543215</td>
                                <td>25/8/2020</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Vô tận</td>
                                <td>Cái này là gì k biết</td>
                                <td>Test@gmail.com</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>?</td>
                                <td>Test</td>
                                <td>30/10/2030</td>
                                <td>Test</td>
                                <td>Mona Media</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>NVDEPTRAI</td>
                                <td>AnCute</td>
                                <td>Ở đâu còn lâu mới nói</td>
                                <td>0123456789</td>
                                <td>9876543215</td>
                                <td>25/8/2020</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Vô tận</td>
                                <td>Cái này là gì k biết</td>
                                <td>Test@gmail.com</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>?</td>
                                <td>Test</td>
                                <td>30/10/2030</td>
                                <td>Test</td>
                                <td>Mona Media</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>NVDEPTRAI</td>
                                <td>AnCute</td>
                                <td>Ở đâu còn lâu mới nói</td>
                                <td>0123456789</td>
                                <td>9876543215</td>
                                <td>25/8/2020</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Vô tận</td>
                                <td>Cái này là gì k biết</td>
                                <td>Test@gmail.com</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>?</td>
                                <td>Test</td>
                                <td>30/10/2030</td>
                                <td>Test</td>
                                <td>Mona Media</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>NVDEPTRAI</td>
                                <td>AnCute</td>
                                <td>Ở đâu còn lâu mới nói</td>
                                <td>0123456789</td>
                                <td>9876543215</td>
                                <td>25/8/2020</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>Vô tận</td>
                                <td>Cái này là gì k biết</td>
                                <td>Test@gmail.com</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>?</td>
                                <td>Test</td>
                                <td>30/10/2030</td>
                                <td>Test</td>
                                <td>Mona Media</td>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="21">54</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Thêm nhân viên -->
<div class="modal fade default-popup popup-them-nv" id="them-nhan-vien"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Thêm/sửa
                    nhân
                    viên</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <form action="" method="" class="form-2-col">
                                <div class="form-row">
                                    <label for="">Mã NV</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">Tên NV</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">Ngày sinh</label>
                                    <input type="date">
                                </div>
                                <div class="form-row">
                                    <label for="">Giới tính</label>
                                    <select name="" id="">
                                        <option value="">Nam</option>
                                        <option value="">Nữ</option>
                                    </select>
                                </div>
                                <div class="form-row">
                                    <label for="">Chức vụ</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">Lương</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">Số CMND</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">Địa chỉ</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">điện thoại</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">di động</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">Email</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">Làm việc tại CN</label>
                                    <select name="" id="">
                                        <option value="">Place 1</option>
                                        <option value="">Place 2</option>
                                    </select>
                                </div>
                                <div class="form-row">
                                    <label for="">Nhóm</label>
                                    <select name="" id="">
                                        <option value="">Group 1</option>
                                        <option value="">Group 2</option>
                                    </select>
                                    <span class="search-icon"
                                        data-toggle="modal"
                                        data-target="#them-nhom-nv"><i
                                            class="fas
                                            fa-search"></i></span>
                                </div>
                                <div class="form-row">
                                    <label for="">Quê quán</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">Gia đình</label>
                                    <input type="text">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <div class="box-up-img text-center">
                                <h2>Up ảnh cá nhân tại đây</h2>
                                <div class="avatar-upload">
                                    <div class="avatar-edit">
                                        <input type='file' id="imageUpload"
                                            accept=".png, .jpg, .jpeg" />
                                        <label for="imageUpload">
                                            <i class="fas fa-cloud-upload-alt"></i>
                                        </label>
                                    </div>
                                    <div class="avatar-preview">
                                        <div id="imagePreview"
                                            style="background-image:
                                            url('../assets/images/rose.jpg');">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- Danh mục nhóm nhân viên -->
<div class="modal fade default-popup popup-them-nhom-nv" id="them-nhom-nv"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Danh
                    mục nhóm nhân viên</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="list-button text-left">
                    <a href="#" class="btn btn-add inline" data-toggle="modal"
                        data-target="#form-add"><img
                            src="../assets/images/btn-add.png" alt=""
                            class="inline"> <span class="inline">Thêm</span></a>
                    <a href="#" class="btn btn-fix inline" data-toggle="modal"
                        data-target="#form-add-group-user" style="font-weight:
                        500;"><img src="../assets/images/btn-fix.png"
                            alt="" class="inline"><span class="inline">Sửa</span></a>
                    <a href="#" class="btn btn-fix inline" data-toggle="modal"
                        data-target="#form-add-group-user"><img
                            src="../assets/images/btn-del.png" alt=""
                            class="inline"><span class="inline">Xóa</span></a>
                    <a href="#" class="btn btn-fix inline" data-toggle="modal"
                        data-target="#form-add-group-user"><img
                            src="../assets/images/btn-export.png" alt=""
                            class="inline"><span class="inline">Xuất</span></a>
                </div>
                <div class="wrap-height-table">
                    <table class="table dislay" id="table-nhom-nv">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nhóm NV</th>
                                <th>Mô tả</th>
                                <th>Hoa Hồng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Nhóm 1</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Nhóm 1</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Nhóm 1</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Nhóm 1</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Thêm nhân viên -->
<div class="modal fade default-popup popup-them-nv" id="them-nhan-vien"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Thêm/sửa
                    nhân
                    viên</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <form action="" method="" class="form-2-col">
                                <div class="form-row">
                                    <label for="">Mã NV</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">Tên NV</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">Ngày sinh</label>
                                    <input type="date">
                                </div>
                                <div class="form-row">
                                    <label for="">Giới tính</label>
                                    <select name="" id="">
                                        <option value="">Nam</option>
                                        <option value="">Nữ</option>
                                    </select>
                                </div>
                                <div class="form-row">
                                    <label for="">Chức vụ</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">Lương</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">Số CMND</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">Địa chỉ</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">điện thoại</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">di động</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">Email</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">Làm việc tại CN</label>
                                    <select name="" id="">
                                        <option value="">Place 1</option>
                                        <option value="">Place 2</option>
                                    </select>
                                </div>
                                <div class="form-row">
                                    <label for="">Nhóm</label>
                                    <select name="" id="">
                                        <option value="">Group 1</option>
                                        <option value="">Group 2</option>
                                    </select>
                                    <span class="search-icon"
                                        data-toggle="modal"
                                        data-target="#them-nhom-nv"><i
                                            class="fas
                                            fa-search"></i></span>
                                </div>
                                <div class="form-row">
                                    <label for="">Quê quán</label>
                                    <input type="text">
                                </div>
                                <div class="form-row">
                                    <label for="">Gia đình</label>
                                    <input type="text">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <div class="box-up-img text-center">
                                <h2>Up ảnh cá nhân tại đây</h2>
                                <div class="avatar-upload">
                                    <div class="avatar-edit">
                                        <input type='file' id="imageUpload"
                                            accept=".png, .jpg, .jpeg" />
                                        <label for="imageUpload">
                                            <i class="fas fa-cloud-upload-alt"></i>
                                        </label>
                                    </div>
                                    <div class="avatar-preview">
                                        <div id="imagePreview"
                                            style="background-image:
                                            url('../assets/images/rose.jpg');">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- Danh mục nhóm nhân viên -->
<div class="modal fade default-popup popup-them-nhom-nv" id="them-nhom-nv"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-popup" id="exampleModalLongTitle">Danh
                    mục nhóm nhân viên</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="list-button text-left">
                    <a href="#" class="btn btn-add inline" data-toggle="modal"
                        data-target="#form-add"><img
                            src="../assets/images/btn-add.png" alt=""
                            class="inline"> <span class="inline">Thêm</span></a>
                    <a href="#" class="btn btn-fix inline" data-toggle="modal"
                        data-target="#form-add-group-user" style="font-weight:
                        500;"><img src="../assets/images/btn-fix.png"
                            alt="" class="inline"><span class="inline">Sửa</span></a>
                    <a href="#" class="btn btn-fix inline" data-toggle="modal"
                        data-target="#form-add-group-user"><img
                            src="../assets/images/btn-del.png" alt=""
                            class="inline"><span class="inline">Xóa</span></a>
                    <a href="#" class="btn btn-fix inline" data-toggle="modal"
                        data-target="#form-add-group-user"><img
                            src="../assets/images/btn-export.png" alt=""
                            class="inline"><span class="inline">Xuất</span></a>
                </div>
                <div class="wrap-height-table">
                    <table class="table dislay" id="table-nhom-nv">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nhóm NV</th>
                                <th>Mô tả</th>
                                <th>Hoa Hồng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Nhóm 1</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Nhóm 1</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Nhóm 1</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Nhóm 1</td>
                                <td>Test</td>
                                <td>Test</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>